[2021-03-28 17:32] #502 closed

[2021-03-28 17:32] Ayush0730 commented on #502
Someone already opened #500

[2021-03-28 17:33] A7abhilash opened #503 "Update /posts/:id/edit route"
### Feature request-
Adding status and category fields in editing feature.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Currently there is no way that the author can edit their post's category or status field after posting them... So it's good to enable this feature to th

[2021-03-28 17:33] A7abhilash commented on #503
/assign

[2021-03-28 17:33] Ayush0730 commented on #500
Just comment "/assign"

[2021-03-28 17:33] Pranav016 commented on #487
Yes

[2021-03-28 17:35] Sandi-09 commented on #500
/assign

[2021-03-28 20:00] Navyasingla1309 commented on #229
I am willing to contribute to this as GSsoc'21 participant. Can you please assign this to me?

[2021-03-29 00:52] #491 closed

[2021-03-29 11:26] SpecTEviL commented on #285
Hey, @RushanKhan1 and @AnanyaNegi sorry for the inconvinience. I've been facing some errors hence wasn't able to make the progress. Although once I sort them out you can reassign me so that I can make the PR. I'll ping you once it works fine.
Thanks!

[2021-03-29 11:51] satcasm opened #506 "Issue in Hamburger icon position"
In smaller screens the hamburger icon in the navbar looks a bit messed up. Ideally it should be on the right corner and the site name on left corner.
Would like to work on it under GSSOC' 21 if seemed necessary.
Thanks!

Screenshot reference:
![image](https://user-images.githubusercontent.com/56315878/112832546-191feb00-90b3-11eb-9a9c-067c91867ded.png)

[2021-03-29 11:53] satcasm commented on #506
/assign

[2021-03-29 11:59] Rimpi246 commented on #244
@aniketlodh , I have partially solved the issue.. Just solving a minor bug

[2021-03-29 15:08] #463 closed

[2021-03-29 16:23] Pranav016 opened #509 "Website is down"

[2021-03-29 16:58] #509 closed

[2021-03-29 17:40] Abhinaba006 opened #512 "User Profile picture"
### Feature request-
Adding a user profile picture will be great, it will be an option to user, if they like to have profilepicture they can set and in the home page they can go to their profile by clicking on the profile picture.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd l

[2021-03-29 17:41] Abhinaba006 commented on #512
/assign

[2021-03-29 17:49] Pranav016 opened #513 "Confirm password doesn't need to be saved"
### Feature request-
Currently we are saving confirm password to the db.
Remove it from the schema and just check password with confirm password in the router (ajax request would help not refresh the page) and then login the user. Send error if password doesn't match confirm password

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should ch

[2021-03-29 19:03] arbazalam01 commented on #285
can i work on this issue as a part of GSSOC'21

[2021-03-29 20:18] krishna-y2000 commented on #513
/assign

[2021-03-30 04:14] RushanKhan1 commented on #285
@SpecTEviL No problem, but now the issue has to be assigned to someone else as per the rules.

@arbazalam01 Sure the issue is yours to work with, you have 4 days to complete it. All the best!

[2021-03-30 04:35] #492 closed

[2021-03-30 05:42] krishna-y2000 commented on #513
@Pranav016  plz assign a level to this .

[2021-03-30 08:01] tanya070820 commented on #382
@AnanyaNegi yes I am working on it

[2021-03-30 13:39] satcasm opened #517 "Button color on home page"
All the buttons on the home screen toggle their color on hover except for ```filter button``` and it looks a bit odd.
Would like to fix it under GSSOC' 21.
Thanks!

Screenshot Reference:
```Compose``` and ```go``` changes it's color on hover whereas ```filter``` doesn't.
![image](https://user-images.githubusercontent.com/56315878/112996954-47242e80-918a-11eb-9293-12b336d22f80.png)
![image](https:/

[2021-03-30 13:41] satcasm commented on #517
/assign

[2021-03-30 14:02] #506 closed

[2021-03-30 16:19] aniketlodh commented on #244
@Rimpi246 Can you please tell how long it would take?

[2021-03-30 16:20] Rimpi246 commented on #244
I am sending a pr now

[2021-03-30 16:29] Rimpi246 commented on #413
Hello, I have sent a pr solving this issue with  #244  .Please review that

[2021-03-30 21:38] Naman-1234 opened #522 "Improper Alignment of Content in footer"
### Feature request-
Content is not looking properly aligned.

### Is your feature request related to a problem? Please describe. (optional)
Please refer screenshot:
![Screenshot (46)](https://user-images.githubusercontent.com/63748249/113060330-1ebe2380-91ce-11eb-86d5-1010faec8adb.png)

### Describe the solution you'd like
Proper Alignment

### Describe alternatives you've considered
Alignment of

[2021-03-30 21:38] Naman-1234 commented on #522
/assign

[2021-03-30 22:46] Pranav016 opened #524 "Mail.js to middlewares"
Move the mail.js file to middlewares folder and update path wherever the file is used in the project.

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it th

[2021-03-30 22:51] Pranav016 commented on #21
@all-contributors please add @AnanyaNegi for code, doc

[2021-03-30 22:52] Pranav016 commented on #21
@all-contributors please add @AnanyaNegi for maintenance

[2021-03-30 22:53] Pranav016 commented on #21
@all-contributors please add @RushanKhan1 for code, doc, maintenance

[2021-03-31 03:54] #503 closed

[2021-03-31 04:11] tanishq-arya commented on #524
I would like to work on this under gssoc.
/assign

[2021-03-31 04:11] tanishq-arya commented on #524
/assign

[2021-03-31 04:22] tanishq-arya commented on #524
Hey I got a notification from the bot about using prettier but I am unable to reach the documentation website. Is it neccessary for this issue. I only changed a single line.

[2021-03-31 07:01] priyanshu20 opened #532 "Inconsistency in routes"
There is a lot of variety in how the routes are defined.
Some routes use async some do not
Some routes use arrow functions some do not.

I think we should follow a consistent pattern,
for eg. all routes should have arrow syntax and async keyword.

[2021-03-31 07:02] priyanshu20 commented on #532
/assign

[2021-03-31 07:02] priyanshu20 commented on #532
@Pranav016 should this be done?

[2021-03-31 07:04] Pranav016 commented on #532
Yes, go ahead

[2021-03-31 07:41] tanya070820 commented on #382
@Pranav016 Sir can you please tell me which is the root file where I will edit.

[2021-03-31 07:48] aniketlodh commented on #244
Hey @Pranav016, Can I work on this issue if the assignee is facing some problem solving the issue or if she is unable to solve it? I think I can solve the issue. I'm also a GSSOC participant.

[2021-03-31 08:16] tend2infinity opened #534 "Following and unfollowing feature"
### Feature request-
It would be great if a user can follow another user and by doing this we can create a separate tab in the header as "my followings tab" in which a user can see all the posts of those users whom he/she follows.

### Describe the solution you'd like
We just need to do some changes to the user schema. Maybe we can include two arrays - followers and following in the user schema. O

[2021-03-31 08:17] tend2infinity commented on #534
/assign

[2021-03-31 13:25] AakankshaShah commented on #254
@AnanyaNegi  Yes ma'am sure.

[2021-03-31 14:18] RuchiGitHu opened #537 "Bed hover effect in the Buttons of Navbar"
### **Describe the bug**
When we hover the buttons in navbar (Log in and Sign up) it got disappear due bed color combination.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home page'
2. Click on 'Hover on Log in and Sign in '

### **Expected behavior**
When hover on these buttons it should more visible to user.

### **Screenshots**

![image](https://user-images.githubusercontent

[2021-03-31 14:18] RuchiGitHu commented on #537
/assign

[2021-03-31 15:28] aanchalrakheja commented on #386
Is this okay?
![image](https://user-images.githubusercontent.com/68388581/113169859-a144f280-9263-11eb-9f23-d1984859f33c.png)
![image](https://user-images.githubusercontent.com/68388581/113169973-bf125780-9263-11eb-8931-cc4ca6d76ab1.png)

[2021-03-31 19:57] tend2infinity opened #538 "The confirm password field for a user is NOT encrypted"
### **Describe the bug**
One can view passwords for all the users since the confirm password field in the user schema is not encrypted.

### **Expected behavior**
The confirm password field should also be encrypted in the same way as done for the password field.

### **Screenshots**

![blogss](https://user-images.githubusercontent.com/61948033/113203180-5211b880-9289-11eb-8cdf-deb3db21cccd.JPG)

*

[2021-03-31 19:58] tend2infinity commented on #538
/assign

[2021-03-31 21:57] #524 closed

[2021-03-31 22:16] #474 closed

[2021-03-31 22:19] #532 closed

[2021-03-31 22:30] Pranav016 commented on #538
ref #513

[2021-03-31 22:30] #538 closed

[2021-03-31 22:35] Pranav016 commented on #386
can the text be left aligned with the logo in mobile view ?
Also I can't find your PR, reopen PR or make a new one..

[2021-03-31 22:42] Pranav016 opened #539 "remove logic from frontend and move to separate file"
### **Describe the bug**
Remove any logic in frontend files like dark mode or any other logic present in frontend files as script tags should be moved to an external js file in public folder and linked in the header.ejs

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free**

[2021-03-31 22:44] #451 closed

[2021-03-31 22:45] Pranav016 commented on #409
This issue is no more there on the website @AnanyaNegi @RushanKhan1

[2021-03-31 22:45] #409 closed

[2021-04-01 02:55] #488 closed

[2021-04-01 04:29] priyanshu20 commented on #539
/assign

[2021-04-01 06:04] #539 closed

[2021-04-01 06:28] tanya070820 commented on #382
@AnanyaNegi Ma'am please tell me the name of root file where I have to edit.

[2021-04-01 07:35] aanchalrakheja commented on #386
I have opened a new PR for the same. Can u please guide me a bit about left aligning the text. I tried doing it but wasn't happening.

[2021-04-01 07:42] aanchalrakheja opened #545 "Change the default text for the input field of Filter Category."
### **Describe the bug**
 The input field of Filter category shows IT and Software whenever the site is opened. I think it would look better if we change to  default text something like "select filter".

### **Screenshots**
![image](https://user-images.githubusercontent.com/68388581/113260468-edd41080-92eb-11eb-8a05-9a6fa0f744e1.png)

**Note:**
* Do mention if your are working under GSSoC'21.
* If

[2021-04-01 08:22] priyanshu20 opened #546 "Dark mode applies filter on images"
### **Describe the bug**
The darkmode library also has an effect on images, which adds a filter ruining the image

### **To Reproduce**
Steps to reproduce the behavior:
1. Open any blog with an image
2. Toggle on dark mode
3. See error

### **Expected behavior**
Either no filter or a 50% grayscale ,

### **Screenshots**

![Screenshot (142)](https://user-images.githubusercontent.com/59313375/113265

[2021-04-01 08:22] priyanshu20 commented on #546
/assign

[2021-04-01 08:36] priyanshu20 commented on #545
@aanchalrakheja do you want to work on it? or shall i /assign.

[2021-04-01 08:41] aanchalrakheja commented on #545
I want to work on it.

[2021-04-01 08:42] aanchalrakheja commented on #545
/assign

[2021-04-01 12:27] nishant23122000 opened #547 "Improve User Interface"
### **Describe the bug**
As per me the current website does not have a better UI theming like random color is used anywhere and also it's look a very weird combination

### **To Reproduce**

### **Expected behavior**
I think we should improve the UI and add particular theme s

### **Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubuserco

[2021-04-01 12:27] nishant23122000 commented on #547
/assign

[2021-04-01 12:29] #547 closed

[2021-04-01 20:17] Pranav016 commented on #546
You are right, I don't think of scraping it for now. Maybe a different approach for the same can be considered..

[2021-04-01 20:17] Pranav016 commented on #546
/reviewed

[2021-04-01 20:18] Pranav016 commented on #537
Issue looks genuine 👍
Can this be resolved asap ?

[2021-04-01 20:18] Pranav016 commented on #500
@Sandi-09 can this be resolved asap ?

[2021-04-01 20:25] #545 closed

[2021-04-01 20:30] Sandi-09 commented on #500
Yes actually I had my clg exams on ill do it in a couple of days

[2021-04-02 01:22] RuchiGitHu commented on #537
Yes.

[2021-04-02 04:42] Pranav016 opened #553 "Remove inline css from ejs files"
### **Describe the bug**
Remove all the inline css used in all the ejs files and add that to the styles.css file in public dir under labelled sections (divide code into sections by adding comments).

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/ass

[2021-04-02 04:43] Pranav016 commented on #553
/level3/

[2021-04-02 05:44] priyanshu20 commented on #553
/assign

[2021-04-02 09:19] satcasm opened #556 "Spacing after icons"
There should be spacing after the icons in ```Quick Links``` and ```Address``` ,as of now it seems a bit clustered.
Also I think that underline below the address is not needed.
Would like to work on it if seemed necessary under GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/113402405-918ff000-93c2-11eb-9264-d161d0d1334a.png)

[2021-04-02 09:21] satcasm commented on #556
/assign

[2021-04-02 09:27] satcasm opened #557 "Changing the units from px to rems/ems"
In some files the styling is done using ```px```.
Would like to change it to ```rems/ems``` to keep the site responsive under GSSOC' 21.
Thanks!

[2021-04-02 09:27] satcasm commented on #557
/assign

[2021-04-02 10:04] Pranav016 commented on #556
Hyper links usually have underline on hover. I know color change could also work but I feel underline seems to meet the standard

[2021-04-02 10:04] #556 closed

[2021-04-02 10:05] Pranav016 commented on #557
@satcasm Can you please resolve your previous issues first ?
a lot of them are assigned, resolve or unassign them..

[2021-04-02 12:38] Ayush0730 opened #560 "Like button not working"
### Feature request-
Like button is not working. Even icon is not showing

### Is your feature request related to a problem? Please describe. (optional)
Like button is not loading, also it's not working

### Describe the solution you'd like
Like button should work properly

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've c

[2021-04-02 12:48] Ayush0730 commented on #553
/assign

[2021-04-02 12:50] Ayush0730 commented on #553
@Pranav016  Most of the styles are like margin and padding and font-weight and colors. So what should I name the sections?

[2021-04-02 12:52] Pranav016 commented on #553
Navigation bar, post section, search, header, footer etc

[2021-04-02 13:57] #386 closed

[2021-04-02 14:02] #546 closed

[2021-04-02 14:24] tend2infinity opened #562 "Routing error while accessing /author/:id"
### **Describe the bug**
When we access "/author/:id" without actually logging into the website we get redirected to "/error" page, which is kind of misleading because it seems as if the route has some backend error while the problem is just that we are not logged-in.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to '/' route
2. Click on the name of any user from the posted blogs to

[2021-04-02 14:25] tend2infinity commented on #562
/assign

[2021-04-02 17:14] satcasm commented on #557
@Pranav016 as my previous issues were not given ```reviewed``` label , I thought it was not  necessary for the project. Should I start working on them too?

[2021-04-02 18:36] aniketlodh commented on #562
@tend2infinity are you working on this issue?

[2021-04-02 18:37] aniketlodh commented on #560
/assign

[2021-04-02 19:40] tend2infinity commented on #562
@aniketlodh yes

[2021-04-02 20:12] aanchalrakheja commented on #500
would like to work on it if possible!

[2021-04-02 21:36] Pranav016 commented on #557
Yes, all issues are important, you can't leave the older ones. On issues only GSSoC label is enough.

[2021-04-02 21:37] prajjwal1231 commented on #557
/assign

[2021-04-02 21:39] prajjwal1231 commented on #557
Hey @Pranav016 How can i contribute in this issue. Do I have to wait for satcasm ?

[2021-04-03 02:32] #513 closed

[2021-04-03 05:19] aniketlodh opened #564 "Spacing between buttons"
### **Describe the bug**
The sign-up and login buttons don't have any spacing between them. I would like to solve the issue. I'm a GSSOC participant.

### **To Reproduce**
Steps to reproduce the behavior:
1. Start the app.
2. The buttons appear with no spacing in the navbar

### **Expected behavior**
There should be appropriate spacing between the two buttons.

### **Screenshots**
![Screenshot fro

[2021-04-03 05:19] aniketlodh commented on #564
/assign

[2021-04-03 06:10] fatma-sia27 opened #565 "Adding placeholder property in contact us form"
Hey @Pranav016 , I had seen your website , I think if we add placeholder property in contact us form then it would look awesome . So I request you to please take a look at my issue and please assign it to me so that I can add the above mentioned property.

Thank you

[2021-04-03 06:29] n-coder2k opened #566 "Beautification of Contact Us Page"
I would like to beautify contact us page by adding placeholder and hover effect to submit button , I would also like to make some features to form.
I am gssoc participant ,please assign me this issue.

[2021-04-03 07:35] priyanshu20 opened #567 "Changing default text for input field category while composing a blog"
Reference - Issue : #545
Similar changes to be done while composing a blog

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you should comment

[2021-04-03 07:35] priyanshu20 commented on #567
/assign

[2021-04-03 08:00] priyanshu20 opened #569 "No validation while updating profile"
### **Describe the bug**
When updating our profile there is lack of validation like the one that exists while signing up

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to /read-profile
2. update username to an already existing username
3. click on save changes
4. See error

![image](https://user-images.githubusercontent.com/59313375/113472405-ad59cb80-9480-11eb-8621-9a9e48da9325.png)

[2021-04-03 08:00] priyanshu20 commented on #569
/assign

[2021-04-03 08:05] priyanshu20 commented on #569
@Pranav016 we can also modularize the validation system so that we do not have to re write all the validations.
That might be a different longer issue and I can work on it if that is something we need.

[2021-04-03 09:01] #567 closed

[2021-04-03 09:04] Pranav016 commented on #569
yes, sounds good. You can make a new issue for that and tag that issue here that they are inter dependent and that issue needs to be solved first before this one.

you can work on making middleware or functions for the validation systems..

[2021-04-03 09:05] Pranav016 commented on #566
someone already working #565 , raise another issue for unique changes you have in mind..

[2021-04-03 09:05] #566 closed

[2021-04-03 09:08] Pranav016 commented on #564
repeated #500

[2021-04-03 09:08] #564 closed

[2021-04-03 11:21] RuchiGitHu commented on #537
Please review my PR @Pranav016.
Thanks for reply...

[2021-04-03 13:44] AnanyaNegi commented on #229
@Abhishekkr93  status?

[2021-04-03 13:59] fatma-sia27 commented on #565
Hey @Pranav016 , I haven't find the main code of contact form in which I can add placeholder property. Please take a look.
Thank you

[2021-04-03 14:09] AnanyaNegi commented on #382
you will need to create new folders in `assets` and add custom fonts in that. You can further search this issue online.

[2021-04-03 14:25] Abhishekkr93 commented on #229
@AnanyaNegi  yes mam , I'm working on it but there is
my midsemm exam , so therefore delay in making pr. Can you please give me some days , I'll fix this.

[2021-04-03 18:06] Pranav016 commented on #565
Views/contact.ejs

[2021-04-03 22:01] Pranav016 commented on #557
Yes, you can work..

[2021-04-03 23:02] Pranav016 opened #575 "Navigation Bar toggle not working."
### **Describe the bug**
Navigation Bar toggle in mobile view is not working.

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you should comme

[2021-04-03 23:03] Pranav016 opened #576 "Inconsistency in button style"
### **Describe the bug**
Search button different from all the other buttons on home page
![image](https://user-images.githubusercontent.com/54665036/113493637-d456e280-94fe-11eb-80e6-90f4bb7aea3e.png)

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/a

[2021-04-04 00:00] akshay1027 opened #577 "Links in the readme to open in a new tab"
### Feature request-
Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

I would like to work on this under GSSoC'21
<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issu

[2021-04-04 03:37] #537 closed

[2021-04-04 04:21] Pranav016 commented on #577
read the note under the issue..

[2021-04-04 04:26] Ayush0730 commented on #576
I think it looks good, with a contrasting style. If we make it of same colour, I don't think it will look nice...

[2021-04-04 04:33] Shivam-Shandilya1 commented on #575
I am a GSSOC participant. Please /assign this issue to me.

[2021-04-04 04:37] Shivam-Shandilya1 commented on #575
/assign

[2021-04-04 04:51] Shivam-Shandilya1 commented on #576
/assign

[2021-04-04 05:13] Pranav016 commented on #500
@Sandi-09 this issue needs to be resolved asap

[2021-04-04 05:32] DEEPIKA-SUK opened #579 "Adding Custom Scrollbar to the website"
### Feature request-
I want to make custom scrollbar by adding CSS to the scrollbar, so that website looks more attractive and beautiful.

I would like to work on this issue under GSSoC'21.

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assig

[2021-04-04 05:32] DEEPIKA-SUK commented on #579
/assign

[2021-04-04 05:49] satcasm commented on #517
Closing the issue as PR is merged

[2021-04-04 05:49] #517 closed

[2021-04-04 06:31] DEEPALI-SUK opened #581 "Website Logo not appearing"
### **Describe the bug**
On clicking the Go button for number of posts on the home page, the page which appears does not show the Logo of the website

### **Expected behavior**
I will remove this bug and Logo will start appearing on every page.

### **Screenshots**
![img1](https://user-images.githubusercontent.com/64724041/113500602-d475d300-953c-11eb-87c8-4c977e49bff7.jpg)

I would like to work o

[2021-04-04 06:31] DEEPALI-SUK commented on #581
/assign

[2021-04-04 08:43] #575 closed

[2021-04-04 08:47] #581 closed

[2021-04-04 11:53] Aryamanz29 opened #586 "[redirect] Logo redirect to home page"
### **Describe the bug**

### **To Reproduce**

Steps to reproduce the behavior:
1. Go to 'https://alphavio-daily-journal.herokuapp.com/'
2. Click on `'Daily journal logo'`

### **Solution**
On clicking on the logo it should redirect to home page

### **Screenshots**
![Screenshot (40)_LI](https://user-images.githubusercontent.com/56113566/113507794-3dc00b00-956a-11eb-86bb-109f712a4204.jpg)

**Note

[2021-04-04 11:54] Aryamanz29 commented on #586
/assign

[2021-04-04 12:10] akshay1027 commented on #577
I found out now that we can't do this on Github! here is the link to that: mojombo/github-flavored-markdown#28
so I will close this.

[2021-04-04 12:10] #577 closed

[2021-04-04 13:45] AasthaCodex commented on #500
@Pranav016  can i work on this?

[2021-04-04 16:41] Atif-reyaz-khan opened #588 "Distance between login and sign button is very little"
### **Describe the bug**
Distance between login and sign button is very little

### **To Reproduce**
Steps to reproduce the behavior:
1. By creating separation between the tags
![github1](https://user-images.githubusercontent.com/48691336/113515508-90152200-9592-11eb-834c-72cb695ee4ad.jpg)
![github1](https://user-images.githubusercontent.com/48691336/113515520-a327f200-9592-11eb-9acf-0d6a5c57ab40.

[2021-04-04 17:44] AshuKV commented on #588
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-04 19:07] sshiv5768 opened #590 "Want to add relevant space between login and signup"
### Feature request-
Need space between login and signup button.

<hr/>

**Note:**
* Do mention if you are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you should comment `/as

[2021-04-04 19:27] #586 closed

[2021-04-04 21:55] Pranav016 commented on #590
repeated issue #500

[2021-04-04 21:55] #590 closed

[2021-04-04 21:56] Pranav016 commented on #500
@aanchalrakheja can you get it merged by tomorrow ?

[2021-04-05 01:28] Shivam-Shandilya1 commented on #588
/assign

[2021-04-05 03:26] Pranav016 opened #594 "Add slugfile"

[2021-04-05 03:28] Pranav016 commented on #365
I think we can add it as an additional feature that those who know docker and want to use the project from a container can pull the image from docker hub.

[2021-04-05 03:30] Pranav016 commented on #365
You can add a docker file and create account for Alphavio on docker hub and put the image there for anyone to use. ( you can take alphavio credentials from me on discord )
Then you can add that info to README.

Let me know if this sounds good.

[2021-04-05 03:44] aanchalrakheja commented on #500
ya sure

[2021-04-05 03:50] Pranav016 commented on #588
@RushanKhan1 this issue is repeated, kindly close this

[2021-04-05 04:21] kotwani2883 opened #595 "The navbar is still not responsive in the tablet mode."
### Feature request-
Responsiveness of the Navbar

### Is your feature request related to a problem? Please describe. (optional)
Making the navbar responsive

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to

[2021-04-05 04:21] kotwani2883 commented on #595
Kindly assign this issue to me as a part of GSSOC-21
Thanks!

[2021-04-05 04:22] kotwani2883 commented on #595
/assign

[2021-04-05 04:26] kotwani2883 commented on #595
/assign

[2021-04-05 04:40] Atif-reyaz-khan commented on #588
assign me this issue

[2021-04-05 04:41] Atif-reyaz-khan commented on #588
/assign

[2021-04-05 05:23] jain-rishabh-21 commented on #365
Hey, you can assign it to me! Will do it!

[2021-04-05 09:18] #588 closed

[2021-04-05 11:46] #560 closed

[2021-04-05 12:55] osamamagdy commented on #432
@Pranav016 I am almost done with this (sorry for latency ^_^)
But I don't know which email of the organization should be used to send verification emails to users

[2021-04-05 16:20] srishtij2000 commented on #595
Can I work on this issue?

[2021-04-05 16:21] srishtij2000 commented on #565
Can I work on this issue?

[2021-04-05 17:45] Inventor77 commented on #265
@RushanKhan1 @AnanyaNegi  Please Mentor can I be Assigned on this Issue

[2021-04-05 17:46] Inventor77 commented on #265
/assign

[2021-04-05 18:05] jugalnagar opened #600 "Add validation for First Name and Last Name"
### **Add validation for First name and Last name**
when I try to signup and enter digits in first name and last name field, it save my information easily. I think there should be validation for first and last name that accept only English letter character.
Please assign this issue to me

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sign Up'
2. Fill Form  ' Enter Digit in First

[2021-04-05 18:18] jugalnagar commented on #600
/assign

[2021-04-05 18:58] osamamagdy commented on #432
@Pranav016 @krishna-y2000 @AnanyaNegi @RushanKhan1 I implemented the code to use the email as environment variables
and raised a pull request #601

[2021-04-05 23:08] #152 closed

[2021-04-05 23:17] #500 closed

[2021-04-05 23:21] #534 closed

[2021-04-05 23:28] #553 closed

[2021-04-06 00:53] #594 closed

[2021-04-06 00:59] Pranav016 opened #606 "Divide the assets for slugfile"
### Feature request-
Divide the assets folder into 2, one with all the assets that are used in the website and the other with assets that are not used in the website but are added to the README file like the gif or the banner in README. Also there could be a couple extra logos added there that are not currently used in the website.

When making separate folders in assets, the relative paths for al

[2021-04-06 01:02] Pranav016 opened #607 "Organize the views folder"
### Feature request-
Divide the views folder into relevant sub folders. A lot of files are thus the need to organize the .ejs files into separate folders.

Example, home about and contact can be in one folder

Pages related to posts in one folder..

All the relative paths will also have to updated in the website if sub-folders are being made.

<hr/>

**Note:**
* Do mention if your are working unde

[2021-04-06 01:02] #562 closed

[2021-04-06 05:29] tanya070820 commented on #382
@AnanyaNegi Ma'am I have made changes but they are not showing it on the web site can you please tell me where I have to link it .

[2021-04-06 06:46] #576 closed

[2021-04-06 06:53] #579 closed

[2021-04-06 07:26] tend2infinity commented on #607
/assign

[2021-04-06 10:04] naqeeb2710 commented on #606
/assign , working under GSSoC'2021

[2021-04-06 10:19] Pranav016 opened #613 "Add steps to lint in README"
### Feature request-
Add detailed steps for the participants to lint their code before making their PR.
You can check the corresponding commands for linting from `package.json` under `scripts` object.
Please take this issue if you have relevant knowledge 👍

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been a

[2021-04-06 13:03] AnanyaNegi commented on #382
Did the changes show on the local port? If its visible on the local,you can create a pr then.

[2021-04-06 13:04] AnanyaNegi commented on #229
Okay.

[2021-04-06 13:49] Pranav016 commented on #365
Its already assigned to you..

[2021-04-06 13:59] Atif-reyaz-khan commented on #595
can I work on this issue?I can do it in 1-3hrs

[2021-04-06 14:11] Atif-reyaz-khan opened #616 "Proper distance between contact us and sign in"
### **Describe the bug**
Their is no proper distance between contact and sign in

### **To Reproduce**
By creating sufficient distance between contact us and sign in

### **Expected behavior**
The UI will look much better.

### **Screenshots**
![github2](https://user-images.githubusercontent.com/48691336/113724565-1a36c500-9710-11eb-86e6-aa3839d803d0.png)

**Note:**
* Do mention if your are workin

[2021-04-06 14:12] Atif-reyaz-khan commented on #616
assign this to me ?

[2021-04-06 17:24] satcasm opened #618 "Alignment of hamburger icon"
The alignment of hamburger icon in the navbar is not proper.
Would like to fix it and shift it on the right hand side under GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/113752666-d9987500-972a-11eb-81ae-0555c23f1224.png)

[2021-04-06 17:24] satcasm commented on #618
/assign

[2021-04-06 18:47] soulsurya opened #619 "fix quick links and address text"
hello,
I'm Suryakant,  in your project i want to improve/fix the not so good looking quick links and 'address' text, so that it could be more appealing and look better.
kindly create and assign this issue under GSSoC'21.

[2021-04-06 18:47] soulsurya commented on #619
/assign`

[2021-04-06 18:56] soulsurya opened #620 "hover effect on social media icons"
### Feature request-
I want to add hover effects on social media icons at footer of your blog to make it more attractive.

### Describe the solution you'd like
I would like to add some cool hover animations on the icons.

### Describe how this feature will be useful to our readers.
this feature will make your site more attractive.

### Additional context
I'm working under GSSoC'21 so kindly assign

[2021-04-06 18:56] soulsurya commented on #620
/assign

[2021-04-06 19:12] ANSHIKA1806 commented on #613
@Pranav016  I want to work on this issue. Please assign this to me.

[2021-04-06 19:14] ANSHIKA1806 commented on #613
/assign

[2021-04-06 20:42] jain-rishabh-21 commented on #365
Yes please add the level tag too

[2021-04-07 00:20] Pranav016 commented on #365
Level tag not required in issues.

[2021-04-07 03:01] #487 closed

[2021-04-07 05:08] Ayush0730 opened #623 "Show Liked Posts on Dashboard"
### Feature request-
We can have a section for liked post of a user

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
We can add a liked post section on dashboard and on user profiles (maybe)

### Describe alternatives you've considered
A clear and concise description of any a

[2021-04-07 05:09] Ayush0730 commented on #623
/assign

[2021-04-07 08:03] #623 closed

[2021-04-07 11:07] Pranav016 commented on #616
repeated issue, already fixed

[2021-04-07 11:07] #616 closed

[2021-04-07 11:11] #600 closed

[2021-04-07 11:13] Pranav016 commented on #265
create separate issues for both of these functionalities..

[2021-04-07 11:13] #265 closed

[2021-04-07 11:15] #139 closed

[2021-04-07 11:16] Pranav016 commented on #619
can you elaborate the issue, maybe add some screenshots ?
looks repeated issue like #522

[2021-04-07 11:35] Ayush0730 opened #626 "Number of likes"
### **Describe the bug**
It is a very minor bug
If there is 1 like then on the post page 1 like should be shown, but currently 1 likes is shown. But for comments 1 comment is shown correctly

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any post having one like'
2. Click on 'Read More'
3. See error '1 likes'

### **Expected behavior**
1 like should be shown

### **Screenshots**

[2021-04-07 11:36] Ayush0730 commented on #626
/assign

[2021-04-07 11:37] Ayush0730 commented on #626
@Pranav016 Should I also make changes such that if number of comments/likes are 0 , then it should show No comments/likes ??

[2021-04-07 12:36] simranbhalla3 commented on #620
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:36] simranbhalla3 commented on #620
/assign

[2021-04-07 12:49] Pranav016 commented on #626
I think 0 is fine

[2021-04-07 15:25] Pranav016 opened #628 "Update README gif"
### Feature request-
Update README gif and keep the file name same as the existing file. (remove older gif)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to

[2021-04-07 17:41] RuchiGitHu opened #630 "The height of NAVBAR"
### Feature request-
The height of navbar is not so good according to logo and website name. The name and logo looks so congested for height of navbar.
It looks like con
### Is your feature request related to a problem? Please describe. (optional)
It's not an problem but website should be good for user experience.

### Describe the solution you'd like
I want to increase the height of navbar.
### D

[2021-04-07 17:42] RuchiGitHu commented on #630
/assign

[2021-04-07 18:02] tanishq-arya commented on #342
Can I work on this ? I am thinking of a modal ui { 3 in one row } in before the footer. Please assign me this under gssoc.

[2021-04-08 04:47] Pranav016 commented on #630
Valid issue 👍

[2021-04-08 04:47] Pranav016 commented on #630
/reviewed

[2021-04-08 06:20] #626 closed

[2021-04-08 06:58] fatma-sia27 commented on #565
Sorry @Pranav016  .ejs file is not opening in my system. You can assign this issue to someone else.
Thank you

[2021-04-08 07:25] innovation-platform commented on #628
I would like to work on this under GSSoC'21.

[2021-04-08 07:25] innovation-platform commented on #628
/assign

[2021-04-08 07:26] Pranav016 opened #633 "Color co-ordination of the like button"
## Feature request-
Remove the color of like button, that it currently has and make it same as the other buttons.
![image](https://user-images.githubusercontent.com/54665036/113985442-c6d88a00-9869-11eb-9b73-95f86eaea8ee.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the iss

[2021-04-08 07:31] innovation-platform commented on #633
I would like to work on this under GSSoc'21.

[2021-04-08 07:31] innovation-platform commented on #633
/assign

[2021-04-08 07:37] Pranav016 opened #634 "Alignment issue- Dark Mode button"
### Feature request-
Dark mode button not properly aligned at the lowest point of scroll.
![image](https://user-images.githubusercontent.com/54665036/113986792-431f9d00-986b-11eb-800c-9e04084cc821.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can com

[2021-04-08 07:37] Pranav016 commented on #633
@innovation-platform do you have any previous issues assigned ?

[2021-04-08 07:55] tanishq-arya commented on #634
/assign

[2021-04-08 07:55] tanishq-arya commented on #634
Where do you want the button to be ? Aligned with the footer like the chatbot?

[2021-04-08 07:56] tanishq-arya commented on #634
/assign

[2021-04-08 09:11] innovation-platform commented on #633
Yes. I am working on updating readme. I have made a PR of the updated
readme.

On Thu, 8 Apr, 2021, 1:07 PM Pranav, ***@***.***> wrote:

[2021-04-08 12:03] #432 closed

[2021-04-08 12:12] #619 closed

[2021-04-08 12:13] Pranav016 commented on #618
repeated #595
comment here to reopen issue

[2021-04-08 12:13] #618 closed

[2021-04-08 12:17] #413 closed

[2021-04-08 12:17] #459 closed

[2021-04-08 12:19] #332 closed

[2021-04-08 12:29] Pranav016 opened #638 "Navbar button colors not matching"
### **Describe the bug**
Navbar button colors not matching with the button colors on rest of the website.
![image](https://user-images.githubusercontent.com/54665036/114026567-02884980-9894-11eb-9b5b-e08d5fac44eb.png)

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** yo

[2021-04-08 12:33] Pranav016 opened #639 "Add edit profile button in dashboard"
### Feature request-
Instead of having a separate button on navbar, add a button for edit profile in the user dashboard itself.

https://user-images.githubusercontent.com/54665036/114027028-96f2ac00-9894-11eb-804d-c0c838d2176f.mp4

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If th

[2021-04-08 12:36] Pranav016 opened #640 "Inconsistent border colors of input boxes"
### **Describe the bug**
Inconsistent border colors of input boxes. Make all of them same: orange

![image](https://user-images.githubusercontent.com/54665036/114027579-2304d380-9895-11eb-8cb2-2eb00535e6a1.png)

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can c

[2021-04-08 12:41] Pranav016 opened #641 "Add show password feature"
### Feature request-
Add functionality to hide and show password on log-in page.
![image](https://user-images.githubusercontent.com/54665036/114028176-ceae2380-9895-11eb-8e71-3c62a9d5f1de.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/as

[2021-04-08 12:44] osamamagdy opened #642 "ReCaptcha Implementation"
I am a GSSoC 2021 participant and I would like to work on this issue.

### Feature request-
Adding ReCAPTCH I am not a robot to the website during sign-up

### Is your feature request related to a problem? Please describe. (optional)

### **Describe the problem**
The Website is extremely exposed to the danger of spamming it with various sign-up requests

### Describe the solution you'd like
I will

[2021-04-08 12:44] SachindraFernando commented on #638
I would like to work on this issue under GSSoC'21

[2021-04-08 12:44] SachindraFernando commented on #638
/assign

[2021-04-08 12:45] osamamagdy commented on #642
/assign

[2021-04-08 12:48] SachindraFernando commented on #640
I would like to work on this under GSSoC'21.

[2021-04-08 12:48] SachindraFernando commented on #640
/assign

[2021-04-08 12:51] SachindraFernando commented on #565
I would like to work on this under gssoc21

[2021-04-08 12:52] SachindraFernando commented on #565
/assign

[2021-04-08 12:57] #633 closed

[2021-04-08 13:28] aniketlodh commented on #244
Thanks @Pranav016 for assigning me the issue. I'm starting to work on this.

[2021-04-08 14:01] aniketlodh opened #644 "Issue in login."
### **Describe the bug**
During login, there is a bug that is generating an error during performing the login functionality. Please assign me this issue. I'm a gssoc participant.
### **To Reproduce**
Steps to reproduce the behavior:
1. Try to login
2. Enter the credentials then select login

### **Expected behavior**
The expected behaviour would be to successfully log the user in.

### **Screensho

[2021-04-08 14:01] aniketlodh commented on #644
/assign

[2021-04-08 14:24] Ayush0730 commented on #639
/assign

[2021-04-08 14:24] tanishq-arya commented on #641
/assign

[2021-04-08 14:26] Ayush0730 commented on #639
Should I also remove edit profile button from navbar?

[2021-04-08 14:55] Pranav016 commented on #639
Yes

[2021-04-08 15:33] #628 closed

[2021-04-08 15:40] #634 closed

[2021-04-08 15:43] satcasm commented on #595
@Pranav016 should I wait as it is already assigned ?

[2021-04-08 15:49] RushanKhan1 commented on #512
Hey @Abhinaba006, are you still working on this?

[2021-04-08 15:50] Pranav016 commented on #644
There is a really big issue in login that I noticed just now after I updated the deploy branch. Can you fix it ? refer to #631 and update your `.env` file (check README)

I wanted to appreciate you since I saw you very actively contribute to this project 👍

[2021-04-08 15:51] Pranav016 commented on #644
Already signed up users are not able to login since their email is not verified and they cannot sign-up again since the email is already taken. One thing I can do is clear the user db.

[2021-04-08 15:55] Pranav016 commented on #644
Cleared the db so its fine now I guess..

[2021-04-08 15:56] aniketlodh commented on #644
No no, this issue is a bit different. This is resulting because in the code there are typos in the render function.

[2021-04-08 16:00] satcasm opened #649 "Issue in blog post"
It seems there is some issue in the text of the blog. The text is hiding behind the ```read more``` and in one other place it's not.
Would like to work on it and fix the issue under GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/114058771-62d9b400-98b1-11eb-8f96-b2ea2ace8543.png)

[2021-04-08 16:00] satcasm commented on #649
/assign

[2021-04-08 16:30] Pranav016 opened #651 "Issue with Email verification"
### **Describe the bug**
Not able to receive email verification code and redirected to unauthorized page on trying to sign up or login.

![image](https://user-images.githubusercontent.com/54665036/114063073-d8478380-98b5-11eb-8be8-6693ca5b3e64.png)

Steps to reproduce-
1. Go to the website and try to login

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on

[2021-04-08 16:35] #644 closed

[2021-04-08 17:13] Abhinaba006 commented on #512
@RushanKhan1  It is almost done, I will send it by tomorrow

[2021-04-08 17:32] tanishq-arya commented on #651
I have not done this before but I can try following this https://safwan-du16.medium.com/email-verification-with-node-js-and-nodemailer-3a6363b31060

[2021-04-08 17:45] Pranav016 commented on #651
It's already been implemented and just needs to be checked once on local system. It's most probably an issue with how the user gets saved and redirected. But yes you can take reference from the article..

[2021-04-08 17:46] #641 closed

[2021-04-08 17:47] Pranav016 commented on #641
Can you raise a new issue and also do this for sign-up page ?

[2021-04-08 17:58] RuchiGitHu commented on #630
Thanks, Please review the idea.
Looking forward to contribute here....

[2021-04-08 19:29] osamamagdy commented on #651
I think the problem with this is that the server didn't enable the auto emailing first.
If you're using Gmail I think you should follow this https://www.google.com/settings/security/lesssecureapps

[2021-04-08 19:48] Pranav016 commented on #651
Oh ok, enabled it now 👍
Will test the feature again

[2021-04-08 20:00] tend2infinity commented on #651
@Pranav016 @osamamagdy I guess we need to implement OAUTH2 authentication to cope up with this because it's not working locally even after I configured less secure apps from the google account.

[2021-04-08 20:08] osamamagdy commented on #651
@tend2infinity did you recieved the verification email or not ?

[2021-04-08 20:09] Pranav016 commented on #651
I tested the site again, I checked the sent logged of the email I am using to send the verification email but it was empty..
I think the email is not getting sent..
@osamamagdy I can give you the credentials for Alphavio's email, you can make it work then..
Ping me on discord

[2021-04-08 20:11] osamamagdy commented on #651
Just noticed now that we should make this clear in the documentation :
In the Email format that we use, it will redirect users to https://alphavio-daily-journal.herokuapp.com/confirm/:confirmationcode
and this won't work because you will be running on localhost: port so you should replace the sent link with localhost

[2021-04-08 20:24] osamamagdy commented on #651
@Pranav016 I think the second option is good to change the link itself
Also I sent you a message at discord please reply

[2021-04-09 02:50] Ayush0730 commented on #651
Well, I have tested this, allowed less secure apps and then tried to signup, I got the mail with the link to verify account but when I click on that link, I see a message User not found

[2021-04-09 03:03] Ankita297 commented on #342
/assign

[2021-04-09 03:45] Pranav016 opened #655 "Separate the js files in public dir and update paths"
### Feature request-
Put all the `.js` files present in the public dir to the public/js folder and update their paths where ever they are used. (most probably as script tags in the footer.)

Also there are a couple of scripts in the footer that are not required for all the pages thus they slow down the loading process unnecessarily. Put them at the end of the files that they are used instead of ad

[2021-04-09 04:11] Ayush0730 commented on #655
public dir to public folder? I didn't get it. Could you please elaborate

[2021-04-09 04:12] Pranav016 commented on #655
my bad, updated the description

[2021-04-09 04:14] Ayush0730 commented on #655
Okay, got it! Thanks

[2021-04-09 04:18] Ayush0730 commented on #655
/assign

[2021-04-09 04:27] aniketlodh commented on #244
On which branch should I generate the PR? master or deploy?

[2021-04-09 04:43] Pranav016 commented on #244
Master, wait till login issue gets resolved

[2021-04-09 04:47] Pranav016 commented on #651
Tested it on localhost, works absolutely fine but on deployed app the same code is not working..
We might have to remove this feature or come up with a solution really quick.

[2021-04-09 04:48] Pranav016 commented on #651
### change this to localhost
![image](https://user-images.githubusercontent.com/54665036/114129774-dfee4300-991c-11eb-91c9-155d33599b79.png)

[2021-04-09 04:51] Pranav016 commented on #651
@osamamagdy can you make a PR removing the code, I cannot revert the commit because a number of PRs were merged after this..

[2021-04-09 05:00] Ayush0730 commented on #651
Wait, I am doing something like this

![image](https://user-images.githubusercontent.com/68139755/114130609-943c9900-991e-11eb-9195-d5683e255de3.png)
This will take the hostname automatically from the url

[2021-04-09 05:02] Pranav016 commented on #651
Oh ok, still giving error?
Then we have to remove the feature..

[2021-04-09 05:04] Ayush0730 commented on #651
request.headers.protocol is undefined

[2021-04-09 05:05] Ayush0730 commented on #651
will http be okay? As on localhost https request will not work

[2021-04-09 05:05] Pranav016 commented on #651
Can you make a PR removing additions in #631

[2021-04-09 05:10] Ayush0730 commented on #651
Can you please check once, I am creating a PR with some changes, works fine on localhost, check on live website, if you can

[2021-04-09 05:14] Pranav016 commented on #651
Already checked on live website, what changes are you proposing?

[2021-04-09 05:25] Ayush0730 commented on #651
Raised a PR, please check

[2021-04-09 05:28] priyanshu20 opened #657 "User validations modularization"
The validations used in user.router.js should be modularized for better readability and reusability

This is a prerequisite for issue : #569

[2021-04-09 05:28] priyanshu20 commented on #657
/assign

[2021-04-09 07:02] #651 closed

[2021-04-09 07:15] Pranav016 opened #661 "Internal server issue on uploading images"
### **Describe the bug**
Internal server issue on uploading images in a blog

### **To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Click on compose
3. Upload image
4. Post

### **Expected behavior**
Should add the image to the blog. (without the image it is working fine, blog is being uploaded)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on

[2021-04-09 07:17] Pranav016 opened #662 "Functionality to remove image once uploaded"
### Feature request-
Add functionality to remove image once uploaded for the blog post.
(Once uploaded, we can only replace but not remove an image)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If

[2021-04-09 10:58] abhishek96k commented on #662
I would like to work on this issue. As part of `gssoc21`

[2021-04-09 10:58] abhishek96k commented on #662
/assign

[2021-04-09 11:01] abhishek96k commented on #661
I would like to work on this issue. As part of `gssoc21`

[2021-04-09 11:01] abhishek96k commented on #661
`/assign`

[2021-04-09 11:07] abhishek96k commented on #661
I would like to work on this issue. As part of gssoc21

[2021-04-09 11:07] abhishek96k commented on #661
/assign

[2021-04-09 13:05] #657 closed

[2021-04-09 13:33] aniketlodh commented on #244
Hey @Pranav016 , can you please tell if the login issue has been solved so that i can generate the PR for number of views?

[2021-04-09 13:41] Pranav016 commented on #244
Yes fixed

[2021-04-09 16:36] satcasm commented on #649
Closing the issue as the problem doesn't seems to exist anymore.

[2021-04-09 16:36] #649 closed

[2021-04-09 17:55] Ayush0730 opened #668 "Implement showPassword feature in signUp"
### Feature request-
Show password feature is added only to login page , It should also be available on signup page as well as user profile edit page

### Is your feature request related to a problem? Please describe. (optional)
Users are unable to see their password on signup

### Describe the solution you'd like
Add showPassword feature to sigup and edit profile page

### Describe alternatives y

[2021-04-09 17:55] Ayush0730 commented on #668
/assign

[2021-04-09 19:53] #244 closed

[2021-04-09 19:56] #655 closed

[2021-04-09 19:58] #440 closed

[2021-04-09 20:01] Pranav016 commented on #326
I think flag feature issue covers this..

[2021-04-09 20:01] #326 closed

[2021-04-10 10:13] Ayush0730 commented on #382
If no one is working on this issue then can I be assigned for this?

[2021-04-10 10:17] Ayush0730 commented on #285
Can I work on this issue?

[2021-04-10 12:05] Abhinaba006 commented on #512
@RushanKhan1 , I am sorry, I am unable to solve this issue, my approach didn't work properly, please unassign me this task

[2021-04-10 12:13] #639 closed

[2021-04-10 12:17] Pranav016 commented on #606
@naqeeb2710 can this be done by today ?

[2021-04-10 12:54] naqeeb2710 commented on #606
I will try to do this today else it will be done tommorow

[2021-04-10 13:22] AnanyaNegi commented on #285
Sure. It has been assigned to you. You can start working on it.

[2021-04-10 13:26] AnanyaNegi commented on #276
@ambivert-sam status?

[2021-04-10 13:27] AnanyaNegi commented on #466
@jyotsana3108 what's the status of the task?

[2021-04-10 14:18] ambivert-sam commented on #276
working on it

[2021-04-10 14:21] naqeeb2710 commented on #606
what should I name  the second asset folder

[2021-04-10 14:27] Pranav016 commented on #606
One of them can be assets/main and other can be assets/sub

[2021-04-10 14:36] Pranav016 commented on #21
/ooo 4/10 untill 4/17

[2021-04-10 14:37] ambivert-sam commented on #276
Sorry ma'am you can assign it to someone else

[2021-04-10 14:39] Pranav016 commented on #21
/ooo from 4/10 to 4/17

[2021-04-10 14:41] Pranav016 commented on #21
/ooo from 4/10 to 4/17

[2021-04-10 14:49] Pranav016 commented on #21
@Pranav016

[2021-04-10 14:51] Pranav016 commented on #21
/ooo 4/10 until 4/17

[2021-04-10 14:53] Pranav016 commented on #21
/ooo from 4/10 to 4/17

[2021-04-10 14:59] Pranav016 commented on #21
/OOO from 4/10 to 4/17

[2021-04-10 15:06] Pranav016 opened #670 "Reduce margin between category input box and button"
### **Describe the bug**
Reduce margin between category input and button. Doesn't look symmetrical with all the other buttons.
![image](https://user-images.githubusercontent.com/54665036/114274523-63eb1c80-9a3c-11eb-91b7-fb68f8cf4ab3.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone.

[2021-04-10 15:44] tanishq-arya commented on #641
Okay

[2021-04-10 15:45] tanishq-arya commented on #670
/assign

[2021-04-10 15:45] Ritika539 commented on #670
Hey @Pranav016 !

I want to work on this issue under GSSoC '21.

[2021-04-10 15:56] tanishq-arya commented on #670
Do you want it to be like this ? @Pranav016
![image](https://user-images.githubusercontent.com/77333275/114276244-6735d680-9a43-11eb-90a1-1693ede83f50.png)

[2021-04-10 16:05] tanishq-arya commented on #276
Can you please explain what is to be done exactly in this issue ? @AnanyaNegi

[2021-04-10 16:11] Ritika539 opened #671 "Changing Font Color"
### **Describe the bug**
The background color and the font color is quite similar due to which the site doesn't look good.

### **Expected behavior**
Just want to change the  font color.

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign`

[2021-04-10 16:13] Ritika539 commented on #671
/assign

[2021-04-10 16:20] Pranav016 commented on #670
Yes

[2021-04-10 16:59] satcasm commented on #557
Hey @Pranav016 , it's been a week and the issue is still unresolved can I take on this issue again?
Thanks!

[2021-04-10 17:06] Pranav016 commented on #557
One last chance for @prajjwal1231
Coz last time the CSS files were rearranged so I halted his PR..

[2021-04-10 17:46] #670 closed

[2021-04-10 18:58] naqeeb2710 commented on #276
/assign

[2021-04-10 19:47] prajjwal1231 commented on #557
Hey,
@Pranav016 I have done the changes properly and the conflict is coming up from prettifier BOT . If there is some more changes required so pls brief me about it.

& sry i have thought that this issue have been resolved after my commit. That is why I forgot to check this issue.

[2021-04-11 06:05] Pranav016 commented on #671
can elaborate what changes are you suggesting and what will you be doing..

I think font color other than that in the navbar is fine because it helps us contrast the dark mode

[2021-04-11 06:05] Pranav016 commented on #671
/reviewed

[2021-04-11 12:00] Ritika539 commented on #671
ok! I was talking about the font which is in blue colour.
yeah, in the dark mode it's looking cool but not in the normal mode.

[2021-04-11 12:10] Pranav016 commented on #671
Everything is a shade of blue, which blue are you talking about ?
Can explain your idea with a screenshot maybe?

[2021-04-11 13:49] aditidewangan commented on #620
Hello, I am GSSOC'21 participant I would like to work on this issue please /assign me.

[2021-04-11 14:09] satcasm commented on #595
Hey @Pranav016  this issue is still unresolved can I work on this?

[2021-04-11 17:36] Ayush0730 opened #680 "Add title to elements wherever required"
### Feature request-
Show small description (title) about what will the button do.

### Is your feature request related to a problem? Please describe. (optional)
Users may not be able to identify the use of particular buttons

### Describe the solution you'd like
Add a title to each link and button wherever required

### Describe alternatives you've considered
A clear and concise description of an

[2021-04-11 17:37] Ayush0730 commented on #680
/assign

[2021-04-12 10:09] raks924 commented on #522
can i work on this issue?
m a GSSOC'21 participant

[2021-04-12 10:28] Harshit-Pathak opened #685 "Navbar color"
### **Describe the bug**
The navbar color makes reading links in light mode difficult

### **Expected behavior**
changing the current color with a darker color so that the links become more readable to user

please assign me this issue as a participant in gssoc'21

[2021-04-12 10:29] Harshit-Pathak commented on #685
/assign

[2021-04-12 16:31] Pranav016 commented on #685
color of the links is already being changed in another issue..

[2021-04-12 16:31] #685 closed

[2021-04-12 16:32] Pranav016 commented on #680
redundant issue

[2021-04-12 16:32] #680 closed

[2021-04-12 17:08] #668 closed

[2021-04-12 17:26] Harshit-Pathak commented on #685
sir my issue was to change the navbar's color and not the links color, please assign me with this issue

[2021-04-13 06:46] #640 closed

[2021-04-13 14:48] tarunsinghofficial opened #689 "Adding Functionality to Email in Address"
### **Describe the bug**
The Email doesn't open any mail app when clicked. We can add a code to add functionality to the Email so, that users can directly contact without copying the email and then do copy-paste thing.

### **Screenshots**
![image](https://user-images.githubusercontent.com/62840625/114572734-62686100-9c95-11eb-9973-7a5f3006c54e.png)

### **Additional context**
I am working under G

[2021-04-13 14:52] #565 closed

[2021-04-13 15:16] Pranav016 commented on #689
just adding `mailto` to the link would do the job, but I think we already have an emailing feature in contact us page so is this really necessary ?

[2021-04-13 15:17] Pranav016 commented on #689
/reviewed

[2021-04-13 16:42] Ankita297 commented on #342
https://user-images.githubusercontent.com/67833077/114589459-4d93c980-9ca5-11eb-9377-f450ffc48434.mp4

[2021-04-13 16:43] Ankita297 commented on #342
@Pranav016  I have created ui for testimonial . Is it okay ?

[2021-04-13 17:06] Inventor77 commented on #466
/assign

[2021-04-13 19:11] #285 closed

[2021-04-13 19:12] Pranav016 commented on #671
closing for now, re-raise issue if necessary..

[2021-04-13 19:12] #671 closed

[2021-04-14 02:56] Pranav016 opened #692 "Style the scroll to top button"
### Feature request-
Style the scroll to top button

![image](https://user-images.githubusercontent.com/54665036/114647674-22d46000-9cfb-11eb-9dbf-1d6e675c9ae8.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assig

[2021-04-14 03:47] Ankita297 commented on #342
@Pranav016  ?

[2021-04-14 04:20] tanishq-arya commented on #692
/assign

[2021-04-14 05:29] AnanyaNegi commented on #342
Hi @Ankita297 , @Pranav016  is busy for a few days due to exams, he will review when he gets free. Here is my review for the time being.
I think the UI looks good. Just some points to add-
* Is it a auto carousel? This wasn't clear in the video.
* Check for the responsiveness.

[2021-04-14 05:31] Ankita297 commented on #342
Yes it is an auto-carousel . I have added it with bootstrap . I am asking that i Have to do only frontend part

[2021-04-14 05:35] Ankita297 commented on #342
@AnanyaNegi ?

[2021-04-14 05:40] tarunsinghofficial commented on #689
I think it will help the users but if you do not need to add it, that's okay.

[2021-04-14 11:04] Ayush0730 commented on #466
Like button works only for authenticated users, I think this issue has been solved already

[2021-04-14 17:01] Ayush0730 commented on #411
If no one is working on this issue. May I get assigned for this?

[2021-04-14 18:08] Ayush0730 commented on #661
If @abhishek96k is having some issues, I can work on this bug

[2021-04-14 18:09] Pranav016 commented on #689
ok

[2021-04-14 18:09] #689 closed

[2021-04-14 18:10] Ayush0730 commented on #483
Can I get assigned for this, if @Arshanshagarwal is not working on this issue?

[2021-04-14 20:01] #382 closed

[2021-04-15 08:10] AnanyaNegi commented on #342
If you only want to do frontend, that's fine too.

[2021-04-15 08:14] AnanyaNegi commented on #661
@abhishek96k are you working on this issue?

[2021-04-15 08:32] AnanyaNegi commented on #411
@Ayush0730 this issue has been assigned to you. You can start working on it.

[2021-04-15 12:46] abhishek96k commented on #661
Yes

[2021-04-16 06:03] tanishq-arya commented on #692
I have styled the scroll to top similar to the other buttons on the page. Also I tried to change the icon to arrow in a circle and others but it didn't look that good. If you have anything else in mind for please let me know.

![Screenshot (1228)](https://user-images.githubusercontent.com/77333275/114978745-505e0c80-9ea7-11eb-8611-84be5ef30f8c.png)
![Screenshot (1229)](https://user-images.githubus

[2021-04-17 05:09] Ankita297 commented on #342
https://user-images.githubusercontent.com/67833077/115102544-2836e200-9f69-11eb-98a4-a65330b1e1b0.mp4

[2021-04-17 05:10] Ankita297 commented on #342
@Pranav016  @AnanyaNegi is it okay  Can i make the PR .But i have not added the backened .

[2021-04-17 15:57] Ankita297 commented on #323
@Pranav016  can we add github action  to automerge the PR from deoendabot  as not it is manully merged  .
Can you see my approach if it is right then may i raise the issue ?

[2021-04-17 15:58] Ankita297 commented on #323
@Pranav016 can we add github action to automerge the PR from dependabot as not it is manully merged .
Can you see my approach if it is right then may i raise the issue ?

[2021-04-17 16:00] Ankita297 commented on #323
![done by Ankita297 · Pull Request #6 · Ankita297_Story - Google Chrome 17-04-2021 21_28_32](https://user-images.githubusercontent.com/67833077/115119032-01f26000-9fc4-11eb-92e9-b753cce3f425.png)

[2021-04-17 16:01] Ankita297 commented on #323
This github action will only be triggered when there is dependencies label  which will be added by dependabot .
I don't know whether triage-bot will produce any hinderance So can you guide me .

[2021-04-18 03:30] Ankita297 commented on #342
@Pranav016 @AnanyaNegi is it okay Can i make the PR .But i have not added the backened .

[2021-04-18 03:31] Ankita297 commented on #323
@Pranav016 @AnanyaNegi ?

[2021-04-18 04:18] Ayush0730 commented on #483
Can I work on this? @RushanKhan1 @Pranav016

I think this issue will not take more than 2 days to fix

[2021-04-18 05:55] AnanyaNegi commented on #342
Nw. You can make the pr. Will review it.

[2021-04-18 14:23] #483 closed

[2021-04-18 14:26] #411 closed

[2021-04-18 14:43] satcasm opened #702 "Positioning of back-to-top arrow"
As of now the while scrolling the arrow overlaps with text sometimes, which doesn't looks so good.
Would like to shift it to the right above the ```ALPHAVIO Bot``` icon under GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/115149603-81deff80-a082-11eb-953a-b65fd107dc06.png)

[2021-04-18 14:44] satcasm commented on #702
/assign

[2021-04-18 15:35] Ankita297 commented on #323
@Pranav016 ?

[2021-04-18 16:01] Pranav016 commented on #323
Sorry my notifications have been off for the past couple of days due to exams hence didn't reply..
The issue is regarding merging the all-contributors bot PRs right ? You're working on merging dependency updates..  @Ankita297

[2021-04-18 16:03] Pranav016 commented on #692
I think it looks fine in the third pic, simple and elegant. I hope you reused pre-made colors and classes in css instead of making new ones unless absolutely necessary (keep the css code clean) otherwise looks good 👍

[2021-04-18 16:04] Pranav016 commented on #702
/reviewed

[2021-04-18 16:07] tanishq-arya commented on #692
I'll make a PR then. Yes I reused the CSS.  The first image is when you hover over the button.

[2021-04-18 16:10] Pranav016 commented on #365
Working on this ? @jain-rishabh-21

[2021-04-18 16:13] Pranav016 commented on #512
you can unassign it yourself, there should be an unassign button visible in top right

[2021-04-18 16:15] Pranav016 commented on #557
@prajjwal1231 can you make PR otherwise I think satcasm is willing to work on this..

[2021-04-18 16:16] Pranav016 commented on #569
@priyanshu20 can this issue be solved asap ?

[2021-04-18 16:19] Pranav016 commented on #642
Still working on this ? @osamamagdy

[2021-04-18 16:20] Pranav016 commented on #662
@abhishek96k working on this ? Should add a demo to explain this issue better or did you get it ?

[2021-04-18 16:20] osamamagdy commented on #642
Yes, i have some exams so i will come back to it after that

[2021-04-18 16:22] #692 closed

[2021-04-18 16:23] tanishq-arya commented on #638
/assign

[2021-04-18 16:30] tanishq-arya commented on #638
@Pranav016 I just checked the btn-info class is giving the current color but I can't change it because it is a bootstrap class. I was thinking to create a new class and adding style to that. Should I proceed with this ?

[2021-04-18 16:53] Ankita297 commented on #323
@Pranav016  i know this issue is for all contributors bot but  am asking for dependbot as current you are merging them manually .
If it is okay then i can raise the issue for  dependabot .
But i have doubt regarding triage bot .

[2021-04-18 17:56] SachindraFernando commented on #620
Can I work on this issue?

[2021-04-18 18:06] Pranav016 commented on #323
earlier I had raised an issue for dependabot but we have decided not to automate it since we want to check compatibility % of the dependency before merging..

No, triage bot label won't affect it..

[2021-04-18 18:08] Pranav016 commented on #638
remove the `btn-info` class and add the class we have given to the other buttons..

[2021-04-18 18:27] Ankita297 commented on #323
@Pranav016 okay so we have to add it manually only .

[2021-04-18 18:52] jain-rishabh-21 commented on #365
Hey, Yes will do it soon!
Sorry for the delay

[2021-04-18 19:32] abhishek96k commented on #661
Sorry, I am not able to work on this issue.

[2021-04-18 19:37] Pranav016 commented on #661
No worries, but do unassign by your self next time so that it saves our time..

[2021-04-19 03:30] Ayush0730 commented on #661
/assign I can try this

[2021-04-19 06:00] MennaMagdy2019 opened #706 "Navbar isn't responsive"
### **Describe the bug**
Navbar isn't responsive

### **Expected behavior**
I will modify the navbar and make it responsive to screen devices

### **Screenshots**
![jornal1](https://user-images.githubusercontent.com/50016070/115188250-f0ed4000-a0e4-11eb-9cdd-dc8e42737d24.JPG)
![jornal2](https://user-images.githubusercontent.com/50016070/115188255-f185d680-a0e4-11eb-9b4c-b82b61b6fbc4.JPG)

[2021-04-19 06:02] MennaMagdy2019 commented on #706
Can I work on this bug, please? @Pranav016

[2021-04-19 12:01] Ayush0730 commented on #569
Can I fix this?

[2021-04-19 12:03] Ayush0730 commented on #512
/assign

[2021-04-19 12:06] Pranav016 commented on #569
I'll assign it to you if he doesn't reply withing 24hrs..

[2021-04-19 13:58] Pranav016 commented on #706
@MennaMagdy2019 Sure, you can work on making the navbar responsive for tablet view..

[2021-04-19 13:59] Pranav016 commented on #706
/reviewed

[2021-04-19 13:59] Pranav016 commented on #706
/gssoc/

[2021-04-19 14:09] AnanyaNegi opened #709 "Backend for 'Testimonials' section"
### Feature request-
Adding the backend for the Testimonials section.
Refer issue no. #342

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then a

[2021-04-19 16:21] #638 closed

[2021-04-19 16:37] Ayush0730 commented on #709
So, basically We need to make write a testimonial button work? Right?

[2021-04-19 18:25] priyanshu20 commented on #569
Making a PR soon.

[2021-04-19 19:42] Pranav016 commented on #709
Re-raise issue after #709 gets merged

[2021-04-19 19:42] #709 closed

[2021-04-19 19:48] Pranav016 opened #711 "Inconsistency in styling of comment and like button"
### Feature request-
Make the comment button orange like the `Like` button and turn to blue on hover.

![image](https://user-images.githubusercontent.com/54665036/115294368-2857fd00-a176-11eb-8e81-e271d2702bf9.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free*

[2021-04-19 19:52] Pranav016 opened #712 "Improve blog post UI"
### Feature request-
Improve styling of the information displayed in the blog post.
Make their colors consistent, add some padding since they look so compact, maybe add them in bootstrap pills or any styling of choice.
![image](https://user-images.githubusercontent.com/54665036/115294941-d6fc3d80-a176-11eb-952d-a2315a0b6eee.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
*

[2021-04-19 20:16] Pranav016 opened #714 "Scroll to top button overlapping with pagination bar || Bug"
### **Describe the bug**
I think increasing z index of scroll to top button should solve the issue.
![image](https://user-images.githubusercontent.com/54665036/115297674-1b3d0d00-a17a-11eb-9031-6ada4f68ce05.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** y

[2021-04-19 23:33] #269 closed

[2021-04-19 23:34] #466 closed

[2021-04-19 23:51] Pranav016 opened #715 "Inconsistency in font color"
### **Describe the bug**
Change the color of this text to a darker shade of blue like in the rest of the website.
![image](https://user-images.githubusercontent.com/54665036/115316999-26069a80-a198-11eb-980c-7ab42c575b05.png)

### **To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Click on Dashboard
3. See the bug

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If y

[2021-04-19 23:55] Pranav016 opened #716 "Improve button styling"
### **Describe the bug**
Update the button styles to match the theme of the rest of the website. (reuse the existing classes)
![image](https://user-images.githubusercontent.com/54665036/115317325-e8eed800-a198-11eb-97e1-b17b01573fc9.png)

Make the buttons look like this
![image](https://user-images.githubusercontent.com/54665036/115317599-8518df00-a199-11eb-856d-1ca9e67ba532.png)

### **To Reprodu

[2021-04-19 23:59] Pranav016 opened #717 "Text not visible due to background and font color"
### **Describe the bug**
I think at a lot of places in the website the text is not super clear. Add a white outline to all the text in the website. Make sure to reuse classes wherever necessary and write clean css.
![image](https://user-images.githubusercontent.com/54665036/115317487-497e1500-a199-11eb-80cb-fa29b87d3d0a.png)

### **To Reproduce**
Steps to reproduce the behavior:
1. Login
1. Click

[2021-04-20 03:01] #473 closed

[2021-04-20 03:20] Ayush0730 commented on #711
/assign

[2021-04-20 03:22] Ayush0730 commented on #715
/assign

[2021-04-20 03:25] Ayush0730 commented on #714
I guess solution of issue #702 will fix this

[2021-04-20 03:30] Pranav016 commented on #714
Ok

[2021-04-20 03:54] tanishq-arya commented on #716
/assign

[2021-04-20 03:55] tanishq-arya commented on #717
/assign

[2021-04-20 03:56] tanishq-arya commented on #712
/assign

[2021-04-20 07:21] Ayush0730 commented on #711
Currently, like button is set such that on hover white border changes to blue color
![image](https://user-images.githubusercontent.com/68139755/115353984-c54a8280-a1d6-11eb-8dd6-e452eb1e54ff.png)

But other buttons don't have same hover effects, on hover over other buttons color changes but border remains white
![image](https://user-images.githubusercontent.com/68139755/115354277-15c1e000-a1d7-11e

[2021-04-20 08:44] tend2infinity opened #719 "A new "My Following Blogs" Tab"
### Feature request-
Since we are storing the followers and following array in the database so we can implement a new tab in the dashboard of the user which will contain all the Blogs posted by those users which are followed by the logged-in user. This Tab's UI will be quite similar to the ALL Blogs, Public Blog, and Private blog UI.

### Describe the solution you'd like
We can easily access the f

[2021-04-20 08:44] tend2infinity commented on #719
/assign

[2021-04-20 12:32] farseenmanekhan1232 commented on #662
Can I work on this issue

[2021-04-20 12:34] farseenmanekhan1232 commented on #662
Instead of completely removing the profile , we can replace the profile with a default profile picture , just like in whatsapp or any other social media.
If that is what you want , please let me implement the feature

[2021-04-20 15:48] Ayush0730 commented on #569
Okay, So I am self assigning this as @priyanshu20 removed their assignment

[2021-04-20 15:48] Ayush0730 commented on #569
/assign

[2021-04-20 15:50] Pranav016 commented on #569
How many issues are you assigned to?

[2021-04-20 17:03] Mukta-Sawant commented on #229
/assign

[2021-04-20 18:45] #702 closed

[2021-04-20 18:50] Pranav016 commented on #711
Yes make the Like button same shade of blue (on hover) as the other buttons

[2021-04-20 18:52] Pranav016 commented on #512
@Ayush0730 complete the other two issues then get this one assigned.
Un-assigning this one because one issue you have is `Urgent` and the other one also you've started working on so un-assigning this one for now. Try to have at most 2 assigned at a time

[2021-04-20 18:54] Pranav016 commented on #712
Complete one of the other two issues to get this one assigned. Try to have at most 2 assigned at a time

[2021-04-20 18:57] Pranav016 commented on #719
/reviewed

[2021-04-20 19:05] Pranav016 opened #721 "Inconsistency in displaying blogs in dashboard"
### **Describe the bug**
Private blogs is also empty but doesn't show text `No Blogs Found...`

https://user-images.githubusercontent.com/54665036/115450002-04a9bb00-a239-11eb-9ebe-57aa935e9d0f.mp4

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment

[2021-04-20 20:21] Pranav016 commented on #662
No, I was talking about the image you upload while posting a blog. checkout issue description 🙂

[2021-04-21 02:54] Ayush0730 commented on #721
/assign

[2021-04-21 03:23] satcasm commented on #714
@Pranav016 would like to work on this.

[2021-04-21 03:45] satcasm commented on #714
@Pranav016 so I need to add z-index on the button right?

[2021-04-21 04:03] Pranav016 commented on #714
Yes

[2021-04-21 05:16] #714 closed

[2021-04-21 05:17] Pranav016 commented on #721
@Ayush0730 complete previous issues before getting new ones assigned

[2021-04-21 06:49] Pranav016 opened #723 "Add CI to check for linting errors"
### Feature request-
Add CI to check for build and linting errors.

[2021-04-21 08:12] Ayush0730 commented on #512
Okay, Sorry. From now, I will not take more than two issues at a time.

And I have made a PR for one of my issues, so you can now assign me this, Half work is done on this issue

[2021-04-21 08:23] #711 closed

[2021-04-21 08:50] Pranav016 commented on #512
Yes just comment this again

[2021-04-21 08:55] Ayush0730 commented on #512
/assign

[2021-04-21 11:10] sardonicankita commented on #721
Hi can u assign this issue to me? I am GSSOC'21 participant.

[2021-04-21 11:11] sardonicankita commented on #723
Hi can u assign this issue to me? I am GSSOC participant.

[2021-04-21 12:34] anniesaxena commented on #712
Hi can you please assign me this issue? I am GSSOC'21 participant.

[2021-04-21 12:36] anniesaxena commented on #712
/assign

[2021-04-21 12:49] Mukta-Sawant commented on #721
/assign

[2021-04-21 16:32] Mukta-Sawant commented on #721
Hey, @Pranav016 I think this issue has been resolved already.
![Screenshot (183)](https://user-images.githubusercontent.com/77935961/115588788-bce46b80-a2ec-11eb-9980-89b1aa5b0720.png)

[2021-04-21 16:36] Pranav016 commented on #723
It's already assigned.

[2021-04-21 17:41] RuchiGitHu opened #726 "Color of font in about page"
### Feature request-
Color of font in about page is similar with the color in background. The half content of statement in left is not visible as the right side of the statement because of dark shade and light shade of  background color in left and right

Left Side of statement is not visible as it should be:
![image](https://user-images.githubusercontent.com/71754179/115596524-d1e5de00-a29d-11eb-

[2021-04-21 19:50] Pranav016 commented on #726
repeated issue #717

[2021-04-21 19:50] #726 closed

[2021-04-21 19:53] Pranav016 commented on #721
I just checked again but this bug is still there..
Maybe we can confirm it from a third person.

[2021-04-21 22:05] #606 closed

[2021-04-22 00:22] Pranav016 opened #728 "Add pre-commit hooks using husky"
Add pre-commit hooks using husky for checking eslint-prettier formatting.

[2021-04-22 00:34] Pranav016 commented on #613
will be solved via #728

[2021-04-22 00:35] Pranav016 opened #729 "Add badges to README for GitHub apps installed"
Let me know if anyone wants to work on this with me/ can make better badges than me. I'll let you know the applications

[2021-04-22 03:01] #723 closed

[2021-04-22 03:02] Pranav016 commented on #728
#731

[2021-04-22 03:02] #728 closed

[2021-04-22 03:06] Pranav016 opened #733 "Add git-hooks using husky to check for commit messages"
### Feature request-
Add git-hooks using husky to check for commit messages.
We can use regex in it to check commit messages.
Commit style guide we plan to adapt - https://www.conventionalcommits.org/en/v1.0.0/

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** yo

[2021-04-22 05:18] tanishq-arya commented on #716
Can you please tell me how to login without creating a user ?

[2021-04-22 05:41] Pranav016 commented on #729
Add badges for prettier, all-contributors and PR triage

[2021-04-22 05:46] Pranav016 commented on #716
You can't :)

[2021-04-22 06:07] tanishq-arya commented on #716
![image](https://user-images.githubusercontent.com/77333275/115664127-11283380-a35f-11eb-8cc4-64907e18c66f.png)

[2021-04-22 06:07] tanishq-arya commented on #716
Should I go ahead and style the Cancel one too ?

[2021-04-22 06:36] tanishq-arya commented on #716
![Screenshot (1340)](https://user-images.githubusercontent.com/77333275/115667146-1f784e80-a363-11eb-8ccd-0a106bc14bf0.png)
![Screenshot (1339)](https://user-images.githubusercontent.com/77333275/115667153-21421200-a363-11eb-9104-224b6684ebea.png)

[2021-04-22 06:37] tanishq-arya commented on #716
Red one is on hover. I think red looks better so we should not add any hover and make it stay red only. What do you think?

[2021-04-22 06:43] Pranav016 commented on #716
Yes, looks good

[2021-04-22 07:45] #595 closed

[2021-04-22 07:45] Ayush0730 commented on #569
I tried fixing this using middleware, but it is creating error, because the original callback is executing in all cases, even if I dont return next() from the middleware, I think it is due to the callback function being async.

@Pranav016 Please give me some solution if you can,

I am thinking of just validating the data in the callback itself instead of using middleware.

[2021-04-22 08:09] Pranav016 commented on #569
You mean the control gets to callback even before the data is validated right?
I checked the middleware again and it seems fine to me, idk why it is doing that.
So as we know the callbacks are asynchronous so maybe it is not waiting for the middleware to run. A couple solutions I can think of based on the code I saw in the middleware-
* The middleware doesn't have async-await, so as it is performi

[2021-04-22 08:12] Pranav016 commented on #569
![image](https://user-images.githubusercontent.com/54665036/115679797-949e5080-a370-11eb-9204-c1f7a641d736.png)

[2021-04-22 08:32] #716 closed

[2021-04-22 10:13] tanishq-arya commented on #717
Do you want something like this ?
![image](https://user-images.githubusercontent.com/77333275/115697738-755bef00-a381-11eb-8e21-20e9041535bd.png)

[2021-04-22 10:16] Pranav016 commented on #717
This is still a little bit less visible, reduce the border size or try another color that makes the text more visible.

[2021-04-22 10:17] tanishq-arya commented on #717
![image](https://user-images.githubusercontent.com/77333275/115698174-f6b38180-a381-11eb-81b4-3fbf5c95833d.png)

[2021-04-22 10:17] tanishq-arya commented on #717
In this I have added a font weight.

[2021-04-22 10:19] Pranav016 commented on #717
I am looking at this images from phone so I won't be able to judge that good, I'd leave it upto you since you are viewing from laptop.
If it the text is more clearer than before then you can go ahead with it or try different stuff 👍

[2021-04-22 10:21] tanishq-arya commented on #717
![image](https://user-images.githubusercontent.com/77333275/115698713-8d803e00-a382-11eb-8f93-a8be67f2c41d.png)

[2021-04-22 10:21] tanishq-arya commented on #717
I have tried this color should we use it for text ? it is a darker variant and we won't have to add any outline or shadow.

[2021-04-22 10:23] tanishq-arya commented on #717
I'll keep on trying for something else too.

[2021-04-22 10:26] tanishq-arya commented on #717
![image](https://user-images.githubusercontent.com/77333275/115699434-4777aa00-a383-11eb-980a-ff98f3ddfda2.png)

[2021-04-22 10:27] tanishq-arya commented on #717
Also I was thinking the text is too small in the form. This is 1.5rem

[2021-04-22 11:41] aditisneh commented on #729
I am interested in working for the badges, but can you provide more detail regarding this. @Pranav016

[2021-04-22 18:02] Pranav016 commented on #729
You have to make badges, check the ones already there in the README

[2021-04-23 06:32] Ayush0730 opened #737 "Bug in server starting"
### **Describe the bug**
On starting the server on localhost, server is not starting as mailgun API is not provided but it is required in index router, previously it was required on the /contact route

### **To Reproduce**
Steps to reproduce the behavior:
1. Update your local branch
2. Start server'
3. See error

### **Expected behavior**
The mailgun API should be required on /contact route

### *

[2021-04-23 06:38] Ayush0730 commented on #737
@Pranav016 please review this

[2021-04-23 06:46] Pranav016 commented on #737
yes, you are right!
Should I fix it or should tell you how to ?

[2021-04-23 06:47] Pranav016 commented on #737
/reviewed

[2021-04-23 06:47] Pranav016 commented on #737
wait I'll tell you

[2021-04-23 06:51] Ayush0730 commented on #737
I just need to move require statement to contact route??

[2021-04-23 06:54] Pranav016 commented on #737
No that would give linting error.
Try this
[code]

Confirm to me if this works

[2021-04-23 06:57] Pranav016 commented on #737
@Ayush0730 check the correction and let me know `if (process.env.NODE_ENV === 'production') {`

[2021-04-23 06:59] Ayush0730 commented on #737
Okay

[2021-04-23 07:01] Ayush0730 commented on #737
It's working now

[2021-04-23 07:03] Pranav016 commented on #737
Ok 👍 you can make a PR for it now

[2021-04-23 07:06] Ayush0730 commented on #737
But it's again giving linting errors

![image](https://user-images.githubusercontent.com/68139755/115832385-7ac44280-a430-11eb-87fc-d57fe265a515.png)

[2021-04-23 07:11] Pranav016 commented on #737
just add the require in `/contact` router and add a comment over it `// eslint-disable-line`. This should work for now..
I'll solve the issue later when I get time

[2021-04-23 07:12] #512 closed

[2021-04-23 08:32] ritik307 opened #739 "Add responsiveness to the website"
### **Describe the bug**
Adding responsiveness to the mobile and tablet view of the website

### **To Reproduce**
Steps to reproduce the behaviour:
1. Click F12
2. Change the mode to mobile or tablet.
3. The website will have an unnecessary margin on the left side and the content of the website looks distorted.

### **Screenshots**
If applicable, add screenshots to help explain your problem.

http

[2021-04-23 08:33] ritik307 commented on #739
/assign

[2021-04-23 10:28] #737 closed

[2021-04-23 10:30] Pranav016 commented on #739
/reviewed

[2021-04-23 13:27] SamikshaSankar opened #740 "Navigation bar size is big when scroll"
We can make shrink  navigation bar when the user starts to scroll the page.

[2021-04-23 14:37] aditisneh commented on #729
![project-badges](https://user-images.githubusercontent.com/56735634/115887325-710dff80-a46f-11eb-8b0b-e9af1c78cb94.png)
Are you taking about these badges right?

[2021-04-23 21:09] Pranav016 commented on #740
Can you add some illustration/ screenshot of the problem so that I can see it's a valid issue

[2021-04-23 21:10] Pranav016 commented on #740
You shouldn't have removed the template and should've filled it..

[2021-04-23 22:57] Pranav016 opened #744 "Update website-title"
### Feature request-
Update the website name. Wherever on the `Home` and `About` page, `Daily Journal` is mentioned, replace it with `WordNook`.
Title as well
![image](https://user-images.githubusercontent.com/54665036/115937348-67a78600-a4b5-11eb-99ae-99b4c459f1b5.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has

[2021-04-23 22:58] Pranav016 opened #745 "Update Banner in README.md"
### Feature request-
Update the banner or design a new banner for the project with name `WordNook`

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on i

[2021-04-23 23:00] Pranav016 opened #746 "Design a new logo for the website"
### Feature request-
Design a new logo for the website and delete the older ones from assets folder that have `BlogSite` name in them. Design new ones with name `WordNook`.

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the iss

[2021-04-24 01:25] #557 closed

[2021-04-24 03:16] Ayush0730 commented on #744
/assign

[2021-04-24 06:50] SamikshaSankar commented on #740
Yeah..Wait

[2021-04-24 06:52] SamikshaSankar commented on #740
No no I m just saying when we scroll we can make shrink bar..that`s it

[2021-04-24 11:51] Ayush0730 commented on #478
Closing this issue as I think, this is not required rn

[2021-04-24 11:51] #478 closed

[2021-04-24 15:34] aditisneh commented on #746
Hey, I want to design the logo for the website. I you say , I'll post the logo design here itself after I am assigned.

[2021-04-24 15:38] aditisneh commented on #745
I can add a banner / gif. I am quite good at this :)

[2021-04-24 15:54] aditisneh commented on #745
/assign

[2021-04-24 18:53] Pranav016 commented on #746
Check the note in the PR description 🙂
You can get the issue assigned by just commenting a keyword..

[2021-04-24 20:55] Pranav016 commented on #746
I'll assign it for now but you can get it assigned like this as well 🙂
![image](https://user-images.githubusercontent.com/54665036/115972676-72bded00-a56d-11eb-9fa6-418f1efa10dc.png)

[2021-04-25 07:00] #744 closed

[2021-04-25 07:10] Pranav016 opened #751 "Add a chatbot"
### Feature request-
Add a new chatbot to the website and remove the code for the old chatbot.
Since repo name was changed hence the API keys have changed. You can take the google credentials for ALPHAVIO's gmail account to use to make a chatbot wherever you like..

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has alrea

[2021-04-25 09:04] ShrutiOmer opened #752 "Add sticky social icons in left of website"
### Feature request-
I can add  sticky social icons on the left of site.

### Describe how this feature will be useful to our readers.
along with social icons in the footer we can add them in the left side which will look more interactive and when user hover over them they will scale out.

### Additional context
I am a GSSoC'21 participant please assign this issue to me.
I have added this feature

[2021-04-25 10:54] Pranav016 commented on #752
I appreciate for you showing interest in contributing to the project but this issue is not required right now since social icons are already present in the footer. And the website doesn't have any social accounts as of now so showing off our social icons really wouldn't matter.

But I would encourage you to raise more or take up any existing issues 👍
Happy Learning !

[2021-04-25 10:54] #752 closed

[2021-04-25 11:38] aditisneh commented on #746
@Pranav016 Okay thanks, first I am working on banner thing, will make a PR by tonight, then will work on logo.

[2021-04-25 11:38] aditisneh commented on #746
/assign

[2021-04-25 11:52] Pranav016 commented on #746
Yes sure, take your time :)

[2021-04-25 17:58] avanisingh0105 commented on #751
/assign

[2021-04-25 18:02] avanisingh0105 commented on #751
Hi, I am new to this repo, would like get  ALPHAVIO's gmail account to use it to make a chatbot using landbot.io.

[2021-04-25 22:21] Pranav016 commented on #751
Ping me on discord for the credentials

[2021-04-26 00:23] #569 closed

[2021-04-26 00:24] Pranav016 commented on #569
So which method worked for you for solving this issue ?

[2021-04-26 00:48] Pranav016 commented on #751
Actually I just updated the repo link in Landbot.io and our previous bot has started working again. I think we can continue with that..
Sorry for the inconvenience, I appreciate your interest in the project and would encourage to take up more issues 🙂

[2021-04-26 00:48] #751 closed

[2021-04-26 00:54] Pranav016 commented on #751
![image](https://user-images.githubusercontent.com/54665036/116015746-1257aa00-a658-11eb-83f3-6a55c49acbd8.png)

[2021-04-26 06:09] avanisingh0105 commented on #751
Good to know that the chatbot started working but why does it still say "Unfortunately, I am not available right now?"
Isn't a complete working chatbot required ?

[2021-04-26 06:12] Pranav016 commented on #751
I think the number of request we can send to the chatbot crossed the limit. I can give you the credentials and you can check and work on it if there is any issue there..

[2021-04-26 06:25] avanisingh0105 commented on #751
Do we have the subscription to Landbot ? (As it is a paid service ) If not then I can research about some free chatbots available (if any) and then use that in our project.

[2021-04-26 06:29] Pranav016 commented on #751
Yes it is paid and we don't have subscribtion. You can look for free ones..

[2021-04-26 06:33] avanisingh0105 commented on #751
Sure, I will see if there are any free bot service and then get back here.

[2021-04-26 07:50] Ayush0730 opened #754 "Password is not validated"
### **Describe the bug**
Password is not validated on signup

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to Signup page
2. Signup
3. Enter some invalid password like 123
4. See error

### **Expected behavior**
It should show error, that password is not valid

### **Screenshots**

https://user-images.githubusercontent.com/68139755/116047828-202a2100-a692-11eb-9095-406a82e9a10e.mp4

[2021-04-26 07:52] Ayush0730 commented on #754
/assign

[2021-04-26 07:53] Ayush0730 commented on #754
why invalid label??

[2021-04-26 08:02] AnanyaNegi commented on #276
are you working on this issue?

[2021-04-26 08:06] AnanyaNegi commented on #620
This issue has been assigned to you. You can start working on it.

[2021-04-26 08:16] AnanyaNegi commented on #721
It is showing No blogs found text in the private blogs section too. I think someone resolved this bug. I'll be closing this issue.

[2021-04-26 08:16] #721 closed

[2021-04-26 15:10] codebuzzer01 opened #758 "Add a Dark mode."
### Feature request-
I would like to add a dark and light mode feature in the website.

### Describe how this feature will be useful to our readers.
Many users prefer to use websites in a dark mode. So, this feature will enable them to select the mode solely based on their choice.

### Additional context
I am working under Gssoc'21.

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21

[2021-04-26 15:12] codebuzzer01 commented on #758
@AnanyaNegi  should I start working on it?

[2021-04-26 15:29] avanisingh0105 commented on #751
Hi, i found some free chatbots but they all were having 50-60 chats/month limitation.

[2021-04-26 16:14] RuchiGitHu opened #759 "Content is not visible"
### Feature request-
I can change color of content same as sign up content color. So that it will not visible different also can be readable like other content.

### Describe the solution you'd like
I will change color of 'Choose Profile Image (Optional) , Already a User? '

### Describe alternatives you've considered
This has no alternative.

### Describe how this feature will be useful to our re

[2021-04-26 16:46] Ankita297 commented on #323
![docs_ add Ankita297 as a contributor by allcontributors · Pull Request #17 · Ankita297_New - Google Chrome 26-04-2021 22_16_02](https://user-images.githubusercontent.com/67833077/116120310-06fa9200-a6dd-11eb-90fd-d3d0506515a7.png)

[2021-04-26 19:18] avanisingh0105 opened #760 "Forgot/Reset password functionality"
### Feature request-
Forgot/Reset password functionality

### Describe the solution you'd like
Forgot/Reset password button needs to be added

### Describe alternatives you've considered
No alternatives if the user forgets their password

### Describe how this feature will be useful to our readers.
If a user has forgot their password or just want to reset their password in any case.

<hr/>

**Note

[2021-04-26 19:22] avanisingh0105 commented on #760
/assign

[2021-04-26 19:53] SachindraFernando commented on #620
Done ma'am. Please review.

[2021-04-26 20:01] Pranav016 commented on #754
/reviewed

[2021-04-26 20:02] Pranav016 commented on #758
Website already has a dark mode

[2021-04-26 20:02] #758 closed

[2021-04-26 20:02] #759 closed

[2021-04-26 20:02] Pranav016 commented on #760
/reviewed

[2021-04-26 20:03] Pranav016 commented on #760
Make sure to write clean code for the backend of this issue 🙂

[2021-04-26 20:06] SachindraFernando opened #762 "Hover effect for 'QUICK LINKS' and 'ADDRESS' on footer"
### Feature request-
Add hover effect to items under 'QUICK LINKS' and 'ADDRESS' on footer.

### Describe the solution you'd like
By adding hover effect on items under 'QUICK LINKS' and 'ADDRESS' on footer can make the page attractive.

### Describe how this feature will be useful to our readers.
This feature can make footer more attractive and user-friendly.

### Additional context
I'm working un

[2021-04-26 20:06] SachindraFernando commented on #762
/assign

[2021-04-26 20:09] #620 closed

[2021-04-26 20:18] avanisingh0105 commented on #760
Yes sure, as of now I am just a beginner in nodejs but i will give it my best shot, would be happy to come back to the discussion panel if i get stuck somewhere.

[2021-04-27 08:58] Pranav016 commented on #762
/reviewed

[2021-04-27 09:00] Pranav016 commented on #762
Add like an underline effect on hover.
Like initially it doesn't have an underline and when we hover we get gradually increasing underline..

[2021-04-27 15:21] anniesaxena commented on #712
I have made some changes in the styling. Can you please approve if this works?

![screencapture-localhost-3000-posts-6080254d827e000e840cf70a-2021-04-27-20_44_44](https://user-images.githubusercontent.com/54598906/116267476-112e9600-a79a-11eb-992b-9b822cefe21f.png)

@Pranav016

[2021-04-28 03:44] Ankita297 commented on #522
/assign

[2021-04-28 07:25] #342 closed

[2021-04-28 12:56] Ayush0730 opened #766 "User Profile bug"
### **Describe the bug**
When a user signs up without a photo, no photo is showing on it's dashboard
![image](https://user-images.githubusercontent.com/68139755/116407132-10a40700-a84f-11eb-9f0a-abb3bc9b5667.png)

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to Website
2. Click on Signup
3. Add all the details and leave photo section empty
4. Go to Dashboard
5. See error

### **Expe

[2021-04-28 12:59] Ayush0730 commented on #766
/assign

[2021-04-28 14:46] aarnav007 commented on #522
/assign...sorry couldnt get on earlier...was wid my exams busy

[2021-04-28 16:41] avanisingh0105 commented on #760
@Pranav016 I was having some issues with nodemailer-maligun-transport so i switched to Sendgrid(which offers 100mails/mo) for lifetime)  but then they are not sending me the apikey "due to some security issues" as per them. So can you setup sendgrid account using ALPHAVIO's gmail account and provide me with the API key so that i can complete this task.

[2021-04-28 17:09] Ayush0730 commented on #254
/assign

[2021-04-29 00:40] NipuniKodithuwakku commented on #746
can I work on this issue?

[2021-04-29 05:01] #762 closed

[2021-04-29 05:08] #754 closed

[2021-04-29 05:08] #766 closed

[2021-04-29 05:12] Pranav016 commented on #717
@tanishq-arya working on this ?

[2021-04-29 05:14] tanishq-arya commented on #717
Yes I am. Please take a look at the above ss I increased the size and changed the color so should I proceed with this or do something else.

[2021-04-29 05:15] tanishq-arya commented on #717
![image](https://user-images.githubusercontent.com/77333275/115699434-4777aa00-a383-11eb-980a-ff98f3ddfda2.png)

This one.

[2021-04-29 05:19] Pranav016 opened #770 "Improve the `Write testimonial` button"
### Feature request-
Improve the `Write testimonial` button.
![image](https://user-images.githubusercontent.com/54665036/116505343-3f19f480-a8d8-11eb-8c42-825b814588f9.png)
Remove the black border and add a white border like this-
![image](https://user-images.githubusercontent.com/54665036/116505401-6ffa2980-a8d8-11eb-8650-f2970491f54f.png)

Also it should go blue on hover like the `READ MORE` but

[2021-04-29 05:21] Pranav016 opened #771 "Improve content and heading styles"
### Feature request-
Improve the content at the top of testimonials section and add styling to the `Testimonials` heading.
![image](https://user-images.githubusercontent.com/54665036/116505545-d5e6b100-a8d8-11eb-8219-19d8c62139b0.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **I

[2021-04-29 05:23] Pranav016 opened #772 "Reduce size of the profile image"
### Feature request-
Reduce size of the profile image
![image](https://user-images.githubusercontent.com/54665036/116505650-0c243080-a8d9-11eb-95fa-c1b66dd94b09.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assi

[2021-04-29 05:26] tanishq-arya commented on #717
@Pranav016 I tried this one too, If we use a darker shade to text-shadow the previous color.
![image](https://user-images.githubusercontent.com/77333275/116505818-7b9a2000-a8d9-11eb-99a1-df1b52949097.png)

[2021-04-29 05:28] Pranav016 opened #773 "Implement backend for testimonials page"
### Feature request-
Implement backend for testimonials page in `routes/testionials.router.js`.
* Add a new page to the website where the testimonials are visible. We'll have a button on the website that will lead to that page. Name that page as `Testimonial Wall`.
* Whenever a person submits a testimonial by clicking on the `Write Testimonial` button then he or she gets redirected to the testimon

[2021-04-29 05:30] Pranav016 opened #774 "Remove gap/ margin between testimonial section and footer"
### Feature request-
Remove gap/ margin between testimonial section and footer
![image](https://user-images.githubusercontent.com/54665036/116506095-1dba0800-a8da-11eb-85a3-6356018ecff7.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assi

[2021-04-29 05:38] tanishq-arya commented on #772
/assign

[2021-04-29 05:39] tanishq-arya commented on #772
![image](https://user-images.githubusercontent.com/77333275/116506669-58707000-a8db-11eb-99e6-16af6c177399.png)
![image](https://user-images.githubusercontent.com/77333275/116506691-61614180-a8db-11eb-8fdd-520327235847.png)
@Pranav016 which one is the size you want ?

[2021-04-29 05:45] tanishq-arya commented on #770
/assign

[2021-04-29 05:45] Pranav016 commented on #772
first one 👍

[2021-04-29 05:48] Pranav016 commented on #717
Keep the 3D effect to the minimal so you can keep x-y-z of the shadow either 0 or 1px.
I think anything with white would look better since it will match the aesthetic of the website

[2021-04-29 05:49] tanishq-arya commented on #717
I tried with white too but because of the background the white is not very clear.

[2021-04-29 05:51] Pranav016 commented on #717
Ok so we can work with black but this shadow is giving a 3D effect.
Try this if it looks fine
`text-shadow: 0 0 1px black`

[2021-04-29 05:54] tanishq-arya commented on #717
![image](https://user-images.githubusercontent.com/77333275/116507706-7212b700-a8dd-11eb-9911-6cd06b60ff46.png)
![image](https://user-images.githubusercontent.com/77333275/116507732-80f96980-a8dd-11eb-9e8b-e80d23b54973.png)

[2021-04-29 05:55] #772 closed

[2021-04-29 05:55] tanishq-arya commented on #717
We have to decide for this part only the above text looks good for both.

[2021-04-29 05:55] tanishq-arya commented on #770
![image](https://user-images.githubusercontent.com/77333275/116507298-a174f400-a8dc-11eb-8732-eff231a405d8.png)

[2021-04-29 05:57] tanishq-arya commented on #770
@Pranav016 should I reduce the font size it is looking very big in comparison

[2021-04-29 05:59] tanishq-arya commented on #770
Something like this
![image](https://user-images.githubusercontent.com/77333275/116508079-33c9c780-a8de-11eb-937c-d26d79365219.png)

[2021-04-29 06:17] tanishq-arya commented on #771
/assign

[2021-04-29 06:18] tanishq-arya commented on #771
I like something like this would look good.
![image](https://user-images.githubusercontent.com/77333275/116509348-bf445800-a8e0-11eb-905c-d8a76e5bf760.png)

[2021-04-29 06:44] Pranav016 commented on #771
No, the `Feel free to write` has to be replaced with a better headline, so content has to be changed and some text shadow etc to the heading that matches the aesthetic of the website

[2021-04-29 06:45] #770 closed

[2021-04-29 06:47] tanishq-arya commented on #771
Okay I'll update you soon.

[2021-04-29 07:26] Pranav016 opened #777 "Add navigation buttons to testimonial carousel"
### Feature request-
Add left and right navigation buttons to testimonial carousel
![image](https://user-images.githubusercontent.com/54665036/116515733-4b0eb200-a8ea-11eb-9434-d9225dbc0159.png)

Also there is his very light carousel slide indicator that is not visible in white. Improve it so that it's visible
![image](https://user-images.githubusercontent.com/54665036/116515911-8dd08a00-a8ea-11eb

[2021-04-29 07:46] Ankita297 commented on #777
/assign

[2021-04-29 07:47] Ankita297 commented on #774
/assign

[2021-04-29 09:00] Pranav016 commented on #760
You can take ALPHAVIO's gmail credentials from me on discord 👍

[2021-04-29 09:49] avanisingh0105 commented on #760
Okay, how to find you on discord?

[2021-04-29 09:51] Pranav016 commented on #760
You can check wordbook channel on GSSoC's server and find my profile from there..

[2021-04-29 10:36] Pranav016 opened #779 "Issue with updating profile info"
### **Describe the bug**
I was trying to update my profile picture and on entering my old password this error was shown.
![image](https://user-images.githubusercontent.com/54665036/116538111-b9606e00-a904-11eb-897d-d3c388ccfc23.png)

![image](https://user-images.githubusercontent.com/54665036/116538079-afd70600-a904-11eb-90bf-b556d30968e9.png)

I think this is because of this new validation that w

[2021-04-29 10:40] Pranav016 opened #780 "Issue with sign-up route"
### **Describe the bug**
Not able to sign-up on the website.
Getting this error.
![image](https://user-images.githubusercontent.com/54665036/116538617-5fac7380-a905-11eb-92f2-b4488e9895a5.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/as

[2021-04-29 12:33] Ayush0730 commented on #779
As you have created your password when there was no password validation, so the password is invalid for now. But as you can see, no user can signup with invalid password now. So if you will delete the database and create a new one, this issue will be resolved. (or just change the password)

[2021-04-29 12:35] Pranav016 commented on #779
Yes true, I know the solution but how do fix it for other people who use their old accounts? Maybe I'll have to clear the DB

[2021-04-29 12:38] Ayush0730 commented on #779
I think we should implement changing password feature, like currently we can change our password without even knowing the old password. So i think we should have a verification to update password. To change password the user must enter his/her old password and then new password

[2021-04-29 12:39] Ayush0730 commented on #779
Then we can remove password validation from the old password and just validate the new password

[2021-04-29 12:44] Pranav016 commented on #779
I think this feature can be done when forget password feature gets implementated.

[2021-04-29 12:45] #779 closed

[2021-04-29 12:45] Ayush0730 commented on #779
Okay

[2021-04-29 14:29] theBeginner86 commented on #773
/assign

[2021-04-30 06:57] Ayush0730 commented on #780
I am not getting this error on localhost, with image or without image

[2021-04-30 07:10] Ayush0730 opened #783 "Comment Flag issue"
### Feature request-
When the user has flagged a comment then the flag button disables, but still we are able to click on it and it is redirecting to user profile

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

###

[2021-04-30 07:11] Ayush0730 commented on #783
![image](https://user-images.githubusercontent.com/68139755/116660953-5842a400-a9b1-11eb-80ef-82b098ea6c7a.png)

On clicking on flag button, it is redirecting to profile

[2021-04-30 07:11] Ayush0730 commented on #783
/assign

[2021-04-30 07:13] Pranav016 commented on #780
Can you check once on the deployed website?
I am guessing its some issue with the DB then, I'll see into it today

[2021-04-30 10:54] anniesaxena commented on #712
@Pranav016 can you please confirm these changes

[2021-04-30 10:59] Pranav016 commented on #712
Keep likes and comments together and then views separately. Add them in boxes or styled bootstrap pills

[2021-04-30 11:57] avanisingh0105 commented on #760
I can't find you on discord as I am not a gssoc21 participant.

[2021-04-30 14:29] Pranav016 commented on #760
Pranav#8006

[2021-04-30 14:37] avanisingh0105 commented on #760
Check your friend request panel.Sent you request.

[2021-04-30 15:21] aditisneh commented on #746
![logo](https://user-images.githubusercontent.com/56735634/116716727-b6917600-a9f5-11eb-8b66-eaab252a98e0.png)
We can choose any of these for logo, let me know for any changes.

[2021-04-30 17:03] Ankita297 commented on #774
@Pranav016 is it okay ?

[2021-04-30 17:04] Ankita297 commented on #777
https://user-images.githubusercontent.com/67833077/116728661-d0d25080-aa03-11eb-9f88-b5fd36f7d892.mp4

[2021-04-30 17:04] Ankita297 commented on #777
@Pranav016 is it okay ?

[2021-04-30 18:11] Pranav016 opened #786 "Update Testimonial profile image styles"
### Feature request-
Testimonial profile images are not round but oval.
![image](https://user-images.githubusercontent.com/54665036/116736364-6b835d00-aa0d-11eb-9750-fa49c3c35be7.png)

Also use an API or images from the internet  of random people in as profile images since currently there is just one default one showing on all the testimonials

<hr/>

**Note:**
* Do mention if your are working und

[2021-04-30 18:59] WonderWoman248 commented on #786
/assign
 participant under GSSoc'21

[2021-05-01 04:16] theBeginner86 opened #787 "Addition of Testimonial Wall Page (Testimonial Backend Feature)"
### Feature request-
Testimonial Wall is a page which will show all the testimonials given to our project.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
For this, I made a page, Testimonial Wall which could be easily accessed from navbar. Then I used simple get requests to

[2021-05-01 04:20] theBeginner86 commented on #787
<img width="1440" alt="Screenshot 2021-05-01 at 2 37 08 AM" src="https://user-images.githubusercontent.com/73700530/116770541-5dabf700-aa62-11eb-84d9-be829433088c.png">

The testimonial looks like this.
Please tell is it fine for our projects. Or should I make some changes into the CSS.

[2021-05-01 04:45] #783 closed

[2021-05-01 04:50] srrathi commented on #733
@AnanyaNegi I want to work on this issue. Please consider assigng it to me.

[2021-05-01 04:53] Pranav016 commented on #787
Add the testimonials in some bootstrap card components otherwise looks good

[2021-05-01 04:55] theBeginner86 commented on #787
ok I will try to do it.

[2021-05-01 04:58] Pranav016 commented on #787
Or you can leave it to this we can have another issue to improve the UI of the testimonial page. It's totally up to you what you are comfortable with

[2021-05-01 05:01] theBeginner86 commented on #787
ok then I will make this into a PR. Then once the testimonial page works the way we want then we could improve its UI. Because I feel that we need to add the write testimonial feature also into it.

[2021-05-01 06:28] AnanyaNegi commented on #733
This issue has been assigned to you. All the best!

[2021-05-01 06:56] Ayush0730 commented on #613
Do we need to add steps in Readme or contributing.md (contribution guidelines)?

[2021-05-01 07:21] Ayush0730 commented on #613
/assign

[2021-05-01 09:27] #254 closed

[2021-05-01 09:35] Pranav016 commented on #613
Add it to README since it will be the first thing new contributors will check. Adding it to contributing.md is optional

[2021-05-01 16:06] Ayush0730 opened #790 "Improve share button style"
### Feature request-
Share button is just simple HTML button, improve its styles and make it like other buttons

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Styles the button

### Describe alternatives you've considered
A clear and concise description of any alternative s

[2021-05-01 16:15] Ayush0730 commented on #790
/assign

[2021-05-01 16:40] Ayush0730 commented on #790
I have multiple styles in my mind, please check and tell me which one suits best

1:
![image](https://user-images.githubusercontent.com/68139755/116788832-71d70f00-aac9-11eb-95ce-9d47879a33d7.png)

2: This one is getting to the edge of the screen
![image](https://user-images.githubusercontent.com/68139755/116788867-a5b23480-aac9-11eb-8d35-ae9912cf3231.png)

3:
![image](https://user-images.githubus

[2021-05-01 16:46] #787 closed

[2021-05-01 17:32] Pranav016 commented on #780
I am still getting this error, checked the database as well and updated everything still there seems to be some issue with sign-up

[2021-05-01 18:06] #613 closed

[2021-05-01 18:09] theBeginner86 opened #792 "Allow Addition of New Testimonial (Implement backend for testimonials)"
### Feature request-
Through this feature a logged in user would be able to add new testimonials to our project.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
In-order to implement it, I added post request for the testimonial-wall page which takes the inputted views by the

[2021-05-01 18:11] Pranav016 commented on #792
/reviewed

[2021-05-01 18:39] theBeginner86 commented on #792
@Pranav016
I was not able to add the video because the size was large. So added it to google drive.
https://drive.google.com/drive/folders/1q1-24nLjMVkc6ubHgTFur6gIzVC6cCZs?usp=sharing
Please check it and tell whether it is fine for our project.
Right now I have made the link to be viewed by everybody. So once you check it then please tell me then I would change it back to restricted.

[2021-05-01 20:36] srrathi opened #793 "To add testimonials in the form of cards in testimonial-wall page"
### Feature request-
A clear and concise description of the feature.
To list all the the testimonials in the testimonial-wall page in the form of cards with cool design.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.
As currently the testimonials are there in the form a list we can change them in the form of ca

[2021-05-02 04:19] AshuKV commented on #793
Hi I am a GSSOC'21 participant. I want to work on this issue under GSSoC'21. Can you please assign it to me?

[2021-05-02 05:22] #774 closed

[2021-05-02 05:27] Pranav016 commented on #746
Sorry for the late reply..
This one looks good but the title will be `WordNook` instead of `Blogsite`
![image](https://user-images.githubusercontent.com/54665036/116803390-cb285800-ab34-11eb-8e0d-44185c2644b2.png)

This one also looks good and unique
![image](https://user-images.githubusercontent.com/54665036/116803400-f14df800-ab34-11eb-86de-a8769635d1d3.png)

I think second one is good and you c

[2021-05-02 05:32] Pranav016 commented on #790
I am not able to choose one between 2 and 4, you can make a PR with any button between 2 and 4

[2021-05-02 05:48] Pranav016 commented on #792
@theBeginner86 assign yourself this issue by commenting the keyword otherwise someone else will assign it to them and I won't be able to help..

[2021-05-02 05:49] theBeginner86 commented on #792
/assign

[2021-05-02 05:51] Pranav016 commented on #792
Great work, maybe have a button at the top of testimonial wall as well that will scroll down to the actual text-box because even from home page when we click on `Write testimonial` it goes to testimonial wall and you have to scroll which some people might not know that the text-box is at the end of the page.

You can do this by adding a id to the text box and then `href` to the new button that you

[2021-05-02 05:53] theBeginner86 commented on #792
ok I will try to do that.

[2021-05-02 06:57] GuptaTanisha commented on #780
Please assign this to me.

[2021-05-02 07:46] srrathi commented on #793
Thanks @Pranav016 I'll start working on this asap now.

[2021-05-02 10:08] Ayush0730 opened #799 "Update Email is not working"
### **Describe the bug**
Users are not able to update their email, even if they try, the email is not changing

### **To Reproduce**
Steps to reproduce the behavior:
1. Login/Signup
2. Go to Dashboard
3. Edit Profile
4. Change Email
5. Check Email id not updated by going to edit profile again

### **Expected behavior**
Email should be updated

### **Screenshots**
If applicable, add screenshots to

[2021-05-02 10:08] Ayush0730 commented on #799
/assign

[2021-05-02 13:25] Ayush0730 opened #801 ""Remove profile image" feature"
### Feature request-
Add functionality to remove profile image

### Is your feature request related to a problem? Please describe. (optional)
Users are not able to remove their profile (only able to change it)

### Describe the solution you'd like
Add functionality to remove profile image

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or f

[2021-05-02 13:27] Ayush0730 commented on #801
/assign

[2021-05-02 13:31] #790 closed

[2021-05-02 13:32] #799 closed

[2021-05-02 14:09] Pranav016 opened #802 "Add code formatter for EJS"
### Feature request-
Currently we are required to format all the EJS code manually since neither prettier nor eslint can format the ejs code correctly. Find a parser/ formatting tool/ package that can help reduce manual effort of indenting the ejs code correctly etc.

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has alr

[2021-05-02 14:57] AshuKV commented on #802
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-02 15:01] Pranav016 commented on #802
Read the note under the issue

[2021-05-02 15:12] Pranav016 commented on #745
@aditisneh still working on this ?

[2021-05-02 15:15] srrathi commented on #793
@Pranav016 Can I add nodemon in it so that the page auto update whenever we change something in the code.

[2021-05-02 15:16] Pranav016 commented on #793
It already there, use command `npm run dev`

[2021-05-02 16:46] srrathi commented on #793
Please have a look at it. Is it okay?
![image](https://user-images.githubusercontent.com/57089237/116820707-f42c0580-ab93-11eb-8d68-733474fc1b49.png)

[2021-05-03 07:58] #777 closed

[2021-05-03 11:14] PranavChauhan22 opened #804 "Updating the testimonial wall"
Why i want to work on this issue?
=> I want to update the testimonial wall as it looks static.
How i will do it?
=>I will change the background and some scroll animations with sticky background to add some extra featues.
A prototype from my website elaborating what i am going to do=>
<img width="1440" alt="Screenshot 2021-05-03 at 4 36 29 PM" src="https://user-images.githubusercontent.com/83133554

[2021-05-03 11:19] #792 closed

[2021-05-03 11:20] Pranav016 commented on #804
Someone is working on styling the testimonial page in #793 hence cannot accept this issue

[2021-05-03 11:20] #804 closed

[2021-05-03 11:48] Ayush0730 opened #805 "Edit blog feature not working"
### **Describe the bug**
When I am trying to edit my blog, it is redirecting to 404 page

### **To Reproduce**
Steps to reproduce the behavior:
1. Write a blog
2. Click on Edit
3. Make some changes and submit
4. See error

### **Expected behavior**
It should update the blog

### **Screenshots**
If applicable, add screenshots to help explain your problem.

### **Additional context**
I checked the c

[2021-05-03 11:49] Ayush0730 commented on #805
/assign

[2021-05-03 12:00] #21 closed

[2021-05-03 13:29] #522 closed

[2021-05-03 13:35] theBeginner86 commented on #773
@Pranav016
Do you want me to add more features regarding this issue?

[2021-05-03 17:31] Ayush0730 commented on #801
Hey @Pranav016. While I was working on this issue, I noticed that on smaller screens profile image is looking very small.

As I was trying to add a delete button on the top of profile image

See these

On large Screens:
![image](https://user-images.githubusercontent.com/68139755/116910506-5bfd5180-ac63-11eb-83d7-b181ff55b274.png)

On mobile size:
![image](https://user-images.githubusercontent.com/

[2021-05-03 19:57] Furquan712 commented on #802
/assign

[2021-05-03 19:59] Furquan712 commented on #229
I would like to work on this , Will you assignee me

[2021-05-03 20:38] srrathi commented on #793
@Pranav016 Do I have to make some changes or I should send the PR?

[2021-05-03 21:50] naqeeb2710 commented on #497
/assign

[2021-05-04 14:43] satcasm opened #809 "Responsiveness of navbar"
The links present on the navbar are hiding when we minimize the size of the screen.
Would like to work on it under GSSOC' 21.
Thanks!
Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/117021553-14370280-ad15-11eb-80ba-0a38da5850d9.png)

[2021-05-04 14:46] satcasm commented on #809
/assign

[2021-05-04 14:48] satcasm opened #810 "Changing the units from pxs to rems/ems"
While going through the ```css``` file , I noticed that there are some properties that uses ```px```, would like to change it to ```rems/ems``` such that the site remains responsive under GSSOC' 21.
Thanks!

[2021-05-04 14:49] satcasm commented on #810
/assign

[2021-05-04 16:20] Pranav016 commented on #810
Last time I checked things were responsive.
Some css had to have px values.
You can actually raise issue for the component that is not responsive and then fix its css.

[2021-05-04 16:20] #810 closed

[2021-05-04 16:21] Pranav016 commented on #809
/gssoc/

[2021-05-04 16:21] Pranav016 commented on #809
/reviewed

[2021-05-04 16:33] Pranav016 opened #811 "Pre commit hooks not working"
### **Describe the bug**
The pre-commit hooks that I added in `package.json` file (using husky) that should run and lint the code before any commit, are not working. I want you to test and try to fix it so that it starts working,

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the

[2021-05-04 16:36] Ayush0730 commented on #801
@Pranav016 Please review

[2021-05-04 16:50] Pranav016 opened #812 "Change position of testimonial-wall button"
### Feature request-
Remove testimonial wall button from the navbar and place it somewhere on the home page.
![image](https://user-images.githubusercontent.com/54665036/117039916-f07cb800-ad26-11eb-8317-da717c10d0d3.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is

[2021-05-04 16:51] Pranav016 commented on #809
#817

[2021-05-04 16:51] #809 closed

[2021-05-04 16:53] satcasm commented on #812
/assign

[2021-05-04 16:55] Pranav016 commented on #801
Take advantage of units like `vh` or `vw` for making profile image suitable for small devices. And you can add the delete button on the side or something of the profile image instead of having it on the image but this way also it works.

[2021-05-04 16:55] satcasm commented on #811
Hey @Pranav016 I am not sure if I would be able to do this , but I still want to give it a shot . Can I take this issue?

[2021-05-04 16:55] Pranav016 commented on #801
/reviewed

[2021-05-04 17:22] Pranav016 commented on #801
You can raise a new issue for it, solve that and come back to this one.

[2021-05-04 17:26] Ayush0730 opened #815 "Fix Profile Image Size"
### Feature request-
Profile image looks very small on small screens, make it look better and bigger

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise d

[2021-05-04 17:26] Ayush0730 commented on #815
/assign

[2021-05-04 17:29] satcasm commented on #811
/assign

[2021-05-05 09:07] #815 closed

[2021-05-05 09:37] #773 closed

[2021-05-05 09:39] Pranav016 commented on #740
The navbar looks fine to me

[2021-05-05 09:39] #740 closed

[2021-05-05 09:40] Pranav016 commented on #729
Yeah but we'll need custom badges for the apps that have been installed on this particular repo

[2021-05-05 10:39] #805 closed

[2021-05-05 10:57] theBeginner86 commented on #276
/assign

[2021-05-05 15:10] satcasm commented on #811
Hey @Pranav016 after going through this https://github.com/typicode/husky/issues/326,  I discovered that we need to set ```"husky": "^4.2.3"``` in the ```package.json``` for ```husky``` to work, but while doing so the ```package-lock.json``` file also gets modified. So, what to do?

[2021-05-05 15:16] satcasm commented on #811
Moreover , the tests are failing:
![image](https://user-images.githubusercontent.com/56315878/117165296-fd5ee180-ade2-11eb-88ac-9a104f5cb29e.png)

[2021-05-05 16:39] Pranav016 commented on #811
Husky 6.0.0 already present as a dev dependency

Maybe we need at as a main dependency

[2021-05-05 16:40] Pranav016 commented on #811
I'll take care of these later

[2021-05-05 17:21] Ankita297 opened #820 "social icons enhacement"
### Feature request-
I want to enhance the hovering effect  and some other changes .
### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any

[2021-05-05 17:22] Ankita297 commented on #820
/assign

[2021-05-05 17:24] satcasm commented on #811
Yeah, regarding the version of Husky I read in that issue I mentioned above, there are certain issues with the lastest versions, that's why it's not working. So, my best guess is we need to reduce the version.
My npm version is ```6.14.12``` is that causing the issue?

[2021-05-05 17:48] Pranav016 commented on #811
Yes, you need npm version 7 and above for lockfile version 2.

And I'll check the issue link you attached above and will get back to you 👍

[2021-05-05 18:57] srrathi commented on #793
@Pranav016 I need your review and suggestions to move forward please review it.

[2021-05-05 18:59] #497 closed

[2021-05-06 05:43] Ankita297 commented on #820
https://user-images.githubusercontent.com/67833077/117246547-7a796d80-ae5a-11eb-98d2-b630f66bbf16.mp4

[2021-05-06 05:44] Ankita297 commented on #820
@Pranav016 is this okay ?

[2021-05-06 16:36] #801 closed

[2021-05-06 17:31] Ayush0730 opened #826 "Profile Delete button"
### Feature request-
Show profile image button only if the user has a profile image set, because if user do not have a profile picture the clicking on the button is useless

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to ha

[2021-05-06 21:38] Lukortech commented on #811
Yeah, I had to update npm to newer version.
Works on 7.12.0

[2021-05-07 04:41] SpecTEviL opened #827 "UI Enhancement of Landing Page"
### Feature request-
The UI of the landing page looks a bit dull with the colour and effects. I would like to add some hover effects and improve on the colours unless they're from the theme. It would be under GSSoC21

### Is your feature request related to a problem? Please describe. (optional)
Not a problem.

### Describe the solution you'd like
The UI of the landing page looks a bit dull with th

[2021-05-07 04:42] SpecTEviL commented on #827
/assign

[2021-05-07 04:44] SpecTEviL commented on #827
@Pranav016 can you please add the required level to this issue?

[2021-05-07 06:13] Pranav016 commented on #827
I'm cool with hover effects but I don't want the colors to be changed on the landing page since they are a part of a theme. But if you think you can make it better then go ahead, you change the color but show me some demo before making a PR for that.

[2021-05-07 12:39] SpecTEviL commented on #827
Yes sure, will do that. Thanks @Pranav016!

[2021-05-07 13:24] Pranav016 commented on #793
I think this looks similar to the way we have our blogs, would've looked cooler if these were horizontal cards. But yes this also looks good and if you can add some animation to this then that would be even better.

These are just my thoughts, I could be wrong. I'd like hear from @AnanyaNegi @RushanKhan1 as well 👍

[2021-05-07 13:27] gargijs commented on #745
/assign

[2021-05-07 13:30] ritmojs commented on #729
/assign

[2021-05-07 14:14] gargijs commented on #745
![WordNook](https://user-images.githubusercontent.com/63464238/117462531-64f46880-af6c-11eb-8e88-ec57303d5808.png)

please check the banner for PR.

[2021-05-07 14:18] Pranav016 commented on #745
I can kind of see some boundary of the new name being pasted there..

[2021-05-07 14:19] Pranav016 commented on #745
I think you can design a new one without the logo since the logo is also being changed then we would need a new banner after that..

[2021-05-07 14:23] gargijs commented on #745
So I have to design a new banner without a logo?

[2021-05-07 14:33] gargijs commented on #745
Okay,if I remove the pasted one then I can give the PR.

[2021-05-07 16:24] Pranav016 commented on #820
Yes

[2021-05-07 16:55] srrathi commented on #793
I'm sorry I don't get what you exactly mean by horizontal cards. If you explain a bit more I think I can make it as you wish. Yes I can add some animation in it. Will let you know about it.

[2021-05-07 17:16] aanchalrakheja opened #830 "Increase the gap between the various navbar options to distinguish between them clearly."
### **Describe the bug**
Currently the navigation options such as home,about contact us etc seem a bit clustered and cannot be clearly distinguished at the first sight. So the gap between then can be adjusted a bit.

### **Screenshots**
![image](https://user-images.githubusercontent.com/68388581/117485489-0c31c980-af86-11eb-8194-08fadffd8389.png)

### **Additional context**
Add any other context a

[2021-05-07 17:17] aanchalrakheja opened #831 "The logo of the site says blogSite, shouldn't it be updated with the new name"
### **Describe the bug**
A clear and concise description of what the bug is.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### **Expected behavior**
A clear and concise description of what you expected to happen.

### **Screenshots**
If applicable, add screenshots to help explain your problem.

### **Additional conte

[2021-05-07 18:01] RushanKhan1 commented on #793
I think he's talking about something like [this](https://codepen.io/gatoledo1/pen/MWKpLNY). In my opinion, it would look good if you could make something like this along with right and left navigational buttons.

[2021-05-07 18:03] Pranav016 commented on #793
Sorry, by horizontal cards I meant like full length cards with some animation

[2021-05-07 18:16] #826 closed

[2021-05-07 18:30] satcasm commented on #812
Hey @Pranav016 is this good enough?
![image](https://user-images.githubusercontent.com/56315878/117493229-56b84380-af90-11eb-837d-f2ba12e833a0.png)
Let me know if you have some other changes in mind.

[2021-05-07 18:31] gargijs commented on #831
I want to work on this

[2021-05-07 18:32] gargijs commented on #831
/assign

[2021-05-07 18:33] gargijs commented on #830
I want to work on this.

[2021-05-07 18:33] gargijs commented on #830
/assign

[2021-05-07 19:07] Pranav016 commented on #831
#746

[2021-05-07 19:07] #831 closed

[2021-05-07 19:08] Pranav016 commented on #830
#812

[2021-05-07 19:18] aanchalrakheja commented on #830
I wanted to work on this and so opened it, was waiting for it to get reviewed, I didn't have the idea that I have to assign it on my own. Can i work on it?

[2021-05-07 19:20] aanchalrakheja commented on #745
I would want to work on this.

[2021-05-07 19:20] gargijs commented on #831
![Inkedissue 831_LI](https://user-images.githubusercontent.com/63464238/117498387-5bccc100-af97-11eb-84c9-a6c6a80d85c2.jpg)

[2021-05-07 19:21] gargijs commented on #831
It is blogsite written in the logo.

[2021-05-07 19:23] aanchalrakheja commented on #746
would like to work on this issue.

[2021-05-07 19:23] gargijs commented on #745
I am already working on this @aanchalrakheja,it is already assigned to me and I have given the PR which will close this issue.

[2021-05-07 19:24] aanchalrakheja commented on #830
/assign

[2021-05-07 19:27] aanchalrakheja commented on #830
@gargijs please look into it.

[2021-05-07 19:38] Pranav016 commented on #831
.

[2021-05-07 19:41] gargijs commented on #831
Okay

[2021-05-07 19:42] Pranav016 commented on #812
I think an orange button right here would look good, coz in the pic above it's kind of mixing up with the utility buttons
![image](https://user-images.githubusercontent.com/54665036/117500486-5624aa80-af9a-11eb-8bb7-4ee46e713fe7.png)

[2021-05-07 19:42] #745 closed

[2021-05-07 20:42] Pranav016 commented on #830
.

[2021-05-07 20:42] #830 closed

[2021-05-07 20:54] gargijs commented on #830
But I have already worked on it.

[2021-05-07 23:31] srrathi commented on #793
Yeah I can do that will update you soon about it.

[2021-05-08 01:28] srrathi commented on #793
@Pranav016 Is it okay?

https://user-images.githubusercontent.com/57089237/117521306-bd5a5300-afca-11eb-92b2-a70ce170ea51.mp4

[2021-05-08 05:44] Ankita297 commented on #820
https://user-images.githubusercontent.com/67833077/117528101-24d5ca00-afee-11eb-8dbd-92137257adfa.mp4

[2021-05-08 05:45] Ankita297 commented on #820
![WordNook - Google Chrome 08-05-2021 11_10_53](https://user-images.githubusercontent.com/67833077/117528194-91e95f80-afee-11eb-9bee-15b4270aef30.png)
@Pranav016 is it okay can i make a PR for this ?

[2021-05-08 06:31] Pranav016 commented on #820
Check for responsiveness otherwise yes they look good

[2021-05-08 06:43] Ankita297 commented on #820
![WordNook - Google Chrome 08-05-2021 12_12_18](https://user-images.githubusercontent.com/67833077/117529710-b34e4980-aff6-11eb-9245-4ccc8a252986.png)
@Pranav016 should i make a new PR or do the changes in previous PR .

[2021-05-08 08:06] ritmojs opened #835 "Improvement of pre loader of a website."
### Feature request-
Adding better pre loader.

[2021-05-08 08:06] ritmojs commented on #835
/assign

[2021-05-08 08:07] ritmojs commented on #835
I want to work on this issue under GSSOC21.
Please assign me this issue.

[2021-05-08 08:08] ritmojs commented on #835
/assign

[2021-05-08 10:10] Pranav016 commented on #830
I asked a question right when you got the issue assigned and did not answer. Collect all the relevant info before working on the issue. and the PR has some mistakes

[2021-05-08 16:41] Ayush0730 opened #837 "Save or check email case insensitively"
### Feature request-
As we know emails are case insensitive, but currently in this project, email is verified case sensitively

### Is your feature request related to a problem? Please describe. (optional)
User may enter their email in different cases and will not be able to log in again, in case they enter it in incorrect case

### Describe the solution you'd like
check email case insensitively o

[2021-05-08 16:42] Ayush0730 commented on #837
/assign

[2021-05-08 16:44] Ayush0730 commented on #837
@Pranav016 Please review and tell me if this is required or not, and what should I do?

1. Check insensitively
2. Save in lowercase directly ( Needs to clear database )

[2021-05-08 18:05] satcasm commented on #812
Thoughts abt this?
![image](https://user-images.githubusercontent.com/56315878/117549077-0e635900-b056-11eb-8c12-c8719bd5e7f2.png)

[2021-05-08 18:13] satcasm commented on #812
Should I make ```Hi there!``` and the button inline?

[2021-05-08 18:26] satcasm commented on #812
Or this is fine?
![image](https://user-images.githubusercontent.com/56315878/117549606-fd681700-b058-11eb-9cff-9ffe285be1de.png)

[2021-05-08 18:27] Pranav016 commented on #837
I think saving it all in lower case would solve the issue.

[2021-05-08 18:45] Pranav016 commented on #812
This is fine👍

[2021-05-09 03:00] Ayush0730 commented on #837
But if we don't clear database, old ones will stay the same

[2021-05-09 08:06] Pranav016 commented on #837
I'll clear it

[2021-05-09 08:32] Ankita297 opened #838 "enhance of contact us form"
### Feature request-
A clear and concise description of the feature.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative so

[2021-05-09 08:32] Ankita297 commented on #838
/assign

[2021-05-09 12:06] #739 closed

[2021-05-09 12:21] Pranav016 commented on #838
Can I get some more info on this issue ?

[2021-05-09 14:58] srrathi commented on #793
Yes, @Pranav016 Should I send the PR.

[2021-05-09 15:15] Pranav016 commented on #793
Yes

[2021-05-09 16:20] satcasm commented on #812
Hey @Pranav016 have you made some changes to the ```husky``` ? I am getting this error while adding a commit:
![image](https://user-images.githubusercontent.com/56315878/117579448-7bd3c000-b110-11eb-9cf4-fbfaee931169.png)

[2021-05-09 16:29] Pranav016 commented on #812
Pull the changes and try again

[2021-05-09 22:46] Pranav016 commented on #746
ok

[2021-05-10 09:48] Alenjojo opened #842 "Adding custom scrollbar"
### Feature request-
I'm curently for for gssoc'21
The current scrollbar is the default one on every browser. So i could add CSS to the scrollbar

### Is your feature request related to a problem? Please describe. (optional)
 It would have a good user experience.

### Describe how this feature will be useful to our readers.
It will make the website much more prettier

### Additional context
Add an

[2021-05-10 09:48] Alenjojo commented on #842
/assign

[2021-05-10 14:07] Pranav016 opened #848 "Website having responsiveness issues for tablet view"
### **Describe the bug**
Website is working fine for desktop and mobile view but it is not responsive for tablet view.

A little bit of spacing is there in mobile view as well but if that could go away then it would be great but it is not mandatory for now.

https://user-images.githubusercontent.com/54665036/117671423-6751ff00-b1c6-11eb-8793-4c6fdd1f1889.mp4

<hr/>

**Note:**
* Do mention if your

[2021-05-10 14:16] #837 closed

[2021-05-10 14:18] #820 closed

[2021-05-10 14:26] Ankita297 commented on #848
/assign

[2021-05-10 17:46] Alenjojo commented on #842
/assign
Firefox had a limited option for custom scrollbar, but i'll try my best

[2021-05-10 19:21] Pranav016 commented on #838
ok 👍

[2021-05-10 19:21] Pranav016 commented on #838
/reviewed

[2021-05-11 07:27] Ankita297 commented on #838
![WordNook - Google Chrome 11-05-2021 12_55_08](https://user-images.githubusercontent.com/67833077/117775563-40440d80-b258-11eb-9877-713c6e888cbe.png)
is this okay or  any changes from your side ?

[2021-05-11 09:56] AbhipsaGuru1012 opened #854 "Adding remember me and forgot password in login form"
### Feature request-
The login form doesn't  have a remember me and forgot password. I would like to add that.

### Describe the solution you'd like
I would like to add remember me and forgot password

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comm

[2021-05-11 11:40] Pranav016 commented on #746
@aanchalrakheja can i see some logo samples soon since we need to update the logo on the website urgently

[2021-05-11 13:27] AbhipsaGuru1012 commented on #854
I will add the buttons and I will add another page for forgot password. For the remember me feature I will try to add the functionality

[2021-05-11 13:29] Pranav016 commented on #854
Ok👍

[2021-05-11 13:29] Pranav016 commented on #854
/reviewed

[2021-05-11 15:37] srrathi commented on #793
@Pranav016 I've raised the PR please review it and if it's fine merge it.

[2021-05-11 16:55] aditisneh commented on #746
@Pranav016 can i make a PR

@Pranav016 can I make a PR with the second logo.
Apologies as my semester exams were going on.

[2021-05-11 17:20] aanchalrakheja commented on #746
@Pranav016 Sure will get ready with some designs by tomorrow.

[2021-05-12 03:47] AbhipsaGuru1012 commented on #854
/assign

[2021-05-12 06:08] Ayush0730 commented on #229
@Pranav016 I think for this issue we must have a separate comments model, currently comments is just an array inside post model.

Should I raise an issue to create comments model?

[2021-05-12 06:36] Pranav016 commented on #229
Yes you can

[2021-05-12 08:32] Pranav016 commented on #746
Sad to hear that but you should've informed a bit earlier maybe. Now its upto Aanchal only whether she wants to work or give up the issue. I can't do anything here acc to the rules.

[2021-05-12 11:10] aditisneh commented on #746
No problem but it's upto you, actually, whose logo design you prefer for your website.

[2021-05-12 12:15] Ayush0730 opened #857 "Create Comments Model"
### Feature request-
Create a separate comment model and do the required changes everywhere in the project

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and con

[2021-05-12 12:16] Ayush0730 commented on #857
/assign

[2021-05-12 12:35] #838 closed

[2021-05-12 12:35] Pranav016 commented on #857
/reviewed

[2021-05-12 16:39] Vishruta-Patil opened #858 "Modifying Footer"
### Feature request-
Adding newsletter feature in the footer. It will be responsive.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.
Adding newsletter will make user to get all the updates at time. which will make w

[2021-05-12 16:39] Vishruta-Patil commented on #858
/assign

[2021-05-12 16:40] Vishruta-Patil commented on #858
I want to work as a GSSOC participant

[2021-05-12 16:44] aanchalrakheja commented on #746
![logo1](https://user-images.githubusercontent.com/68388581/117981896-1885a000-b353-11eb-9850-27533328fd96.png)
![logo2](https://user-images.githubusercontent.com/68388581/117985767-9bf4c080-b356-11eb-9aa6-6221889f4cd0.png)
![logo3](https://user-images.githubusercontent.com/68388581/117986113-f2fa9580-b356-11eb-84bc-059894f6ec91.png)
These are some of the designs.If you finalize some, I will add s

[2021-05-12 16:56] RuchiGitHu opened #859 "Background of testimonial in home page"
### Feature request-
As each wall and piece of website has background color, I want to put background color in testimonial of home page so that it look like landing page of website.

### Describe the solution you'd like
Would like to add background color in testimonial.

### Describe alternatives you've considered
Na

### Describe how this feature will be useful to our readers.
After adding backgr

[2021-05-12 17:27] RushanKhan1 commented on #712
@anniesaxena Hey, are you still working on this?

[2021-05-12 17:28] RushanKhan1 commented on #706
@MennaMagdy2019 Hey, are you still working on this issue?

[2021-05-12 17:39] RushanKhan1 commented on #802
Hi @Furquan712, are you still working on this issue?

[2021-05-12 17:40] RushanKhan1 commented on #786
@WonderWoman248 are you still working on this issue?

[2021-05-12 17:41] RushanKhan1 commented on #780
Hi @GuptaTanisha, are you still working on this issue?

[2021-05-12 17:43] RushanKhan1 commented on #733
@srrathi Are you still working on this issue?

[2021-05-12 17:45] RushanKhan1 commented on #719
Hey @tend2infinity, are you still working on this?

[2021-05-12 17:48] srrathi commented on #733
No I'm sorry I'm not working on it please assign it to someone else.

On Wed, 12 May, 2021, 11:13 PM Rushan Khan, ***@***.***>
wrote:

[2021-05-12 17:49] GuptaTanisha commented on #780
Yes, there is no such on running the app locally. I was unable to find the reason for the bug.

[2021-05-12 18:27] tend2infinity commented on #719
@RushanKhan1 yes I'm working on that, will make the pr tomorrow for sure

[2021-05-12 18:33] WonderWoman248 commented on #786
I am not able to setup environment for it , I can complete the issue in 2
days if someone can help me in detail that how to setup an environment for
it

On Wed, May 12, 2021 at 11:10 PM Rushan Khan ***@***.***>
wrote:

[2021-05-12 20:55] RushanKhan1 commented on #786
Have you tried following this [setup guide](https://github.com/ALPHAVIO/WordNook#environment-setup-for-local-use-)?

[2021-05-13 06:24] WonderWoman248 commented on #786
Yes, I did.

On Thu, May 13, 2021 at 2:26 AM Rushan Khan ***@***.***>
wrote:

[2021-05-13 07:14] Ankita297 opened #860 "Button overlapping"
### **Describe the bug**
On post compose page the button is overlapping with footer .
and also  the font is very light So if you want  we can make some border box and add color to it   ,make font size bold

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### **Expected behavior**
A clear and concise description of what

[2021-05-13 07:15] Ankita297 commented on #860
/assign

[2021-05-13 07:16] Ankita297 opened #861 "enhance the edit profile page"
### Feature request-
enhance the edit profile page
### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features

[2021-05-13 07:17] Ankita297 commented on #861
/assign

[2021-05-13 07:24] Ankita297 opened #862 "enhance the dashboard"
### Feature request-
The current dashboard in mobile view is not responsive and is not looking that good . So we can enhance the look of it by changing the style of button and and width of box .

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description

[2021-05-13 07:24] Ankita297 commented on #862
/assign

[2021-05-13 13:42] Pranav016 commented on #862
/reviewed

[2021-05-13 13:43] Pranav016 commented on #861
/reviewed

[2021-05-13 13:44] Pranav016 commented on #860
/reviewed

[2021-05-13 13:45] Pranav016 commented on #859
Actually I wanted to have a different background of the testimonial carousel to make it look like a different section of the website

[2021-05-13 13:51] Pranav016 commented on #858
Footer doesn't have that much space, maybe a separate page all about signing up for the newsletter would be great. Also can i get some more info regarding this issue like your approach to implement the newsletter feature so that I can help if you make any mistake.

[2021-05-13 13:54] RuchiGitHu commented on #859
I were saying this only, wanted to change the background of testimonial in the home page so that the testimonial looks good and also the slides of each testimonial look more readable and visible...

[2021-05-13 13:56] Pranav016 commented on #717
Are you working on this issue? If yes, you can make a PR with this
![image](https://user-images.githubusercontent.com/54665036/118135795-0d994100-b421-11eb-8eac-3f195c12fd2e.png)

[2021-05-13 13:58] Pranav016 opened #863 "Buttons overlapping in mobile view"
### Feature request-
Some buttons are overlapping and are not clickable in mobile view. Make the social icons small for mobile view and position them correctly.
![image](https://user-images.githubusercontent.com/54665036/118136077-58b35400-b421-11eb-8269-b0e579c9fb65.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it ha

[2021-05-13 14:00] Pranav016 opened #864 "Carousel not responsive for tablet view"
### **Describe the bug**
Have the cards center aligned for the tablet view.
![image](https://user-images.githubusercontent.com/54665036/118136279-931cf100-b421-11eb-8adb-08f824eebab5.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign`

[2021-05-13 14:05] Pranav016 opened #865 "Button positions not optimized for mobile and tablet view"
### **Describe the bug**
Button positions not optimized for mobile and tablet view.
In tablet view they are not correctly responsive, some buttons go on next line in tablet view while some don't and sometimes they overlap a little.
![image](https://user-images.githubusercontent.com/54665036/118136817-27875380-b422-11eb-9053-710cf89123c0.png)

![image](https://user-images.githubusercontent.com/5466

[2021-05-13 14:11] Pranav016 opened #866 "Input placeholders are not responsive"
### **Describe the bug**
Placeholder hides, it should be responsive.

https://user-images.githubusercontent.com/54665036/118137782-38849480-b423-11eb-9128-be78d87a9c3a.mp4

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issu

[2021-05-13 14:15] Ankita297 commented on #863
Sir basically we have to increase the margin between icons and make the size smaller

[2021-05-13 14:16] Pranav016 opened #867 "Improve Contact-Us page UI"
### Bug description-
- the margins on the form are not correctly set and they need to be redone to avoid horizontal scrolling.
- The button is not styled, style it like the rest of the buttons on the website. (orange button) and remove the old css of the button.
- button is also less responsive.

https://user-images.githubusercontent.com/54665036/118138392-e1cb8a80-b423-11eb-8170-1599e56cabe1.mp4

[2021-05-13 14:19] Pranav016 commented on #276
get alphavio's google credentials from me on discord and use it for mailchimp. Basically send one or two blogs (only if blogs are present - keep this edge case in mind) that have most likes or most views every month to the user who signed up for the newsletter.

[2021-05-13 14:20] Pranav016 commented on #858
repeated issue #276

[2021-05-13 14:20] #858 closed

[2021-05-13 14:31] Ankita297 commented on #867
Sir the UI  of contact us page is already enhanced .

[2021-05-13 14:32] Ankita297 commented on #866
/assign

[2021-05-13 14:41] tanishq-arya commented on #865
/assign

[2021-05-13 14:56] Pranav016 commented on #867
There are a couple bugs, check issue description

[2021-05-13 14:57] Pranav016 commented on #859
This issue is different from #864 right?

[2021-05-13 15:02] tanishq-arya commented on #867
/assign

[2021-05-13 15:03] Ankita297 commented on #867
Sir the  new ui of contact us page is this . the PR #856
![WordNook - Google Chrome 12-05-2021 14_23_22](https://user-images.githubusercontent.com/67833077/118144265-df6c2f00-b429-11eb-898e-6f16d512876f.png)
![WordNook - Google Chrome 12-05-2021 14_23_32](https://user-images.githubusercontent.com/67833077/118144307-e85d0080-b429-11eb-9486-331c629b149b.png)

[2021-05-13 15:12] tanishq-arya commented on #771
@Pranav016 Sorry for the delay.
![image](https://user-images.githubusercontent.com/77333275/118145865-ae8cf980-b42b-11eb-916a-69c6b1aaf03f.png)

[2021-05-13 15:28] RushanKhan1 commented on #786
What seems to be the problem?

[2021-05-13 15:35] Ankita297 commented on #864
/assign

[2021-05-13 15:35] tanishq-arya commented on #865
@Pranav016 take a look at this.
![image](https://user-images.githubusercontent.com/77333275/118149119-dfbaf900-b42e-11eb-970a-a0c813ec3621.png)

![image](https://user-images.githubusercontent.com/77333275/118149167-efd2d880-b42e-11eb-9ed7-de13e886e375.png)
![image](https://user-images.githubusercontent.com/77333275/118149244-ff522180-b42e-11eb-81ee-a9be403e5bb3.png)

[2021-05-13 15:37] tanishq-arya commented on #865
the last one is looking better with
[one]
[two]
rather than [one | two] and the button extends beyond if I try to get them in one row

[2021-05-13 16:02] tanishq-arya commented on #867
@Pranav016 Is this okay ? I modified the box-shadow too.
![image](https://user-images.githubusercontent.com/77333275/118152706-a4bac480-b432-11eb-8352-0060a6516a4a.png)

[2021-05-13 16:20] tanishq-arya commented on #771
![image](https://user-images.githubusercontent.com/77333275/118154813-24499300-b435-11eb-8f05-9cc45dab1f4f.png)
@Pranav016
Is this okay ? or should I increase the text.
Like Here's what our users say about us.
Write a testimonial and spread the word.

[2021-05-13 16:22] Ayush0730 commented on #863
/assign

[2021-05-13 16:24] Ayush0730 commented on #861
@Pranav016 Don't you think @Ankita297 took too many issues at once?

[2021-05-13 16:30] Ayush0730 commented on #712
If not, you can assign me

[2021-05-13 16:36] #866 closed

[2021-05-13 16:40] #865 closed

[2021-05-13 17:02] Pranav016 commented on #861
@Ankita297 you've got too many issues assigned, unassign a couple since I got messages that they also want to contribute. Just click on unassign button on the issue.

[2021-05-13 18:25] satcasm opened #873 "Positioning of buttons for smaller screens"
Would like to improve upon the positioning of ```ALPHAVIO Bot``` button and ```theme toggle``` button on smaller screens under GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/118169485-9ecede80-b446-11eb-854f-a40f8fe006e5.png)

[2021-05-13 18:25] satcasm commented on #873
/assign

[2021-05-13 18:49] WonderWoman248 commented on #786
I am stuck at the step where Mongo DB needs to be installed , I have
installed it in my system but not able to continue with the further steps
while setting up the project.

On Thu, May 13, 2021 at 8:58 PM Rushan Khan ***@***.***>
wrote:

[2021-05-13 19:46] RuchiGitHu commented on #859
Yes, it is different because I will be working for the background of testimonial and #864 for the responsiveness of testimonial.

[2021-05-14 02:31] Ankita297 commented on #861
Okay Sir

[2021-05-14 05:12] Ankita297 commented on #863
Sorry sir by mistake i have mention the wrong issue in PR .

[2021-05-14 06:28] AbhipsaGuru1012 commented on #854
@Pranav016 I have made a PR. Please review. I will be making another PR for adding remember me functionality

[2021-05-14 06:33] AbhipsaGuru1012 opened #877 "Adding proper validation in login and sign up form"
### Feature request-
A clear and concise description of the feature.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Currently there is a default validation in the form. I would like to add bootstrap validation to it.

### Additional context
Add any other context or screensh

[2021-05-14 06:34] AbhipsaGuru1012 commented on #877
/assign

[2021-05-14 06:51] tanishq-arya commented on #873
Copy of #863

[2021-05-14 07:42] theBeginner86 commented on #276
Okay, I will try to do that. I have asked for the credentials on discord.

[2021-05-14 07:47] Liri-s29 opened #878 "Use of different versions of bootstrap."
### **Describe the bug**
Use of Different versions of bootstrap

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to 'WordNook/views/partials/footer.ejs' and 'WordNook/views/partials/header.ejs'
2. See error

### **Expected behavior**
Use of one version of bootstrap

### **Additional context**
There are stylesheets of two versions of bootstrap i.e. v4.5.0 and v5.0.0
There are script src

[2021-05-14 07:49] Liri-s29 commented on #706
/assign

[2021-05-14 08:48] Liri-s29 opened #879 "Box-Shadow in Nav-toggler"
### **Describe the bug**
1.Change box-shadow of the nav-toggler button from focus to hover.
2.Add blur to the box-shadow and use lighter colour

### **Expected behavior**
Box shadow to appear during hover of nav-toggler icon and lighter colour of box shadow.

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been

[2021-05-14 08:54] Liri-s29 commented on #879
/level1

[2021-05-14 09:02] Liri-s29 commented on #879
/assign Liri-s29

[2021-05-14 12:50] aanchalrakheja commented on #746
![logo4](https://user-images.githubusercontent.com/68388581/118272675-988d4080-b4e0-11eb-92cf-d1de2c851925.png)
![logo5](https://user-images.githubusercontent.com/68388581/118272689-9b883100-b4e0-11eb-90cd-0a3c1f328ae6.png)
![logo 6](https://user-images.githubusercontent.com/68388581/118272700-9f1bb800-b4e0-11eb-9e64-4adc1318272a.png)
![logo7](https://user-images.githubusercontent.com/68388581/118

[2021-05-14 14:15] satcasm commented on #873
Closing the issue as it already exists.

[2021-05-14 14:15] #873 closed

[2021-05-14 14:25] Liri-s29 commented on #879
/review

[2021-05-14 14:36] RushanKhan1 commented on #786
I suggest you post your problem in more detail on the project's Discord channel other participants with the same problem might help you.

[2021-05-14 15:20] WonderWoman248 commented on #786
Set up has been done. I will resolve the issue asap.

[2021-05-14 19:43] #812 closed

[2021-05-14 19:53] #864 closed

[2021-05-14 19:56] #863 closed

[2021-05-14 19:58] #860 closed

[2021-05-14 20:15] Pranav016 commented on #878
/reviewed

[2021-05-14 20:17] Pranav016 commented on #877
Can i get some info on this issue ?
Isn't validation already present

[2021-05-14 20:19] Pranav016 commented on #878
read the Note under the issue and get the issue assigned to yourself if you want to work on it

[2021-05-14 22:19] Pranav016 commented on #780
Are you able to login to the deployed website ?

[2021-05-14 22:23] Pranav016 commented on #746
I like these 2
![image](https://user-images.githubusercontent.com/54665036/118337199-e762c680-b530-11eb-8b3e-6612b492e287.png)

![image](https://user-images.githubusercontent.com/54665036/118337205-ea5db700-b530-11eb-8706-8ae18b9a5da2.png)

But they have a black background so they might not look good in the navbar, can you remove their black background.
For example this one doesn't have any backgr

[2021-05-15 00:53] GuptaTanisha commented on #780
No sir

[2021-05-15 00:56] GuptaTanisha commented on #780
May be we need to change the content headers to application/json as now they are something else.

[2021-05-15 01:00] GuptaTanisha commented on #780
Supporting documents:
[Bonsai Docs](https://docs.bonsai.io/article/303-api-error-422-unprocessable-entity)
![github](https://user-images.githubusercontent.com/64624412/118343498-0ff5bb00-b547-11eb-8d67-f86ba6ce6eaf.png)

[2021-05-15 01:05] Pranav016 commented on #780
Maybe yes, you could be right. We can only try. If you know how to do it, you can make a PR with that and I'll merge to test it. Otherwise I'll try to do this later when I get time.

[2021-05-15 04:05] AnanyaNegi commented on #835
/reviewed

[2021-05-15 05:01] #854 closed

[2021-05-15 05:02] #877 closed

[2021-05-15 05:46] aanchalrakheja commented on #746
Ya the background can be changed. I ll change that and get it approved once.

[2021-05-15 06:43] AshuKV commented on #879
/assign

[2021-05-15 06:44] Ankita297 commented on #848
/assign

[2021-05-15 06:45] aanchalrakheja commented on #746
![logo new 2](https://user-images.githubusercontent.com/68388581/118351001-13a13600-b577-11eb-8993-c2bdc3e68959.png)
![logo new 3](https://user-images.githubusercontent.com/68388581/118351002-156af980-b577-11eb-9b20-1aba302d8c0b.png)
![logo new 4](https://user-images.githubusercontent.com/68388581/118351008-1bf97100-b577-11eb-9e26-b403dda57681.png)
![logo new](https://user-images.githubusercontent

[2021-05-15 06:45] AshuKV commented on #878
/assign

[2021-05-15 07:02] Pranav016 commented on #746
Let's go with the orange logo, I would like to get your suggestion to choose between the two. @RushanKhan1 @AnanyaNegi can also suggest which one is better

[2021-05-15 07:07] aanchalrakheja commented on #746
I think the one with hand will look better.

[2021-05-15 12:35] RushanKhan1 commented on #746
I like the orange logo with the feather tip pen, looks simple and professional.

[2021-05-16 01:34] #786 closed

[2021-05-16 01:37] #861 closed

[2021-05-16 01:48] Pranav016 commented on #746
Lets go with the orange feather one!

[2021-05-16 09:48] aanchalrakheja commented on #746
Ok. Will make a pr latest by tomorrow due to some urgency at my end.

[2021-05-16 14:52] nishihere19 commented on #733
Can I work on this under gssoc'21?

[2021-05-16 16:27] Pranav016 commented on #733
This one is solved.

[2021-05-16 16:27] #733 closed

[2021-05-16 17:14] Pranav016 opened #889 "Issue in rendering sign-up page"
### **Describe the bug**
![image](https://user-images.githubusercontent.com/54665036/118406015-2c553d00-b698-11eb-8c43-a26949c1107b.png)

[2021-05-16 18:22] #889 closed

[2021-05-16 18:44] satcasm commented on #642
@Pranav016 is the issue still active?

[2021-05-16 18:46] Pranav016 commented on #642
yes

[2021-05-16 18:50] satcasm commented on #642
/assign

[2021-05-16 20:31] Pranav016 opened #892 "Controllers need to be separated from the routes handler || Code refactor for scalability"
### Feature request-
Right now we are not completely using the MVC model for our development. The controllers are still present in the routers which is not a good practice. We need to separate out all the controllers from the routes and then link them there to ensure scalability of the website thus you need to restructure the code to separate out all the controllers and link them to the routes und

[2021-05-17 00:34] subhangi2731 commented on #365
@Pranav016 can you please assign this issue to me

[2021-05-17 00:36] subhangi2731 commented on #706
@Pranav016 please assign this issue to me

[2021-05-17 00:52] Pranav016 commented on #365
Read the note under the issue

[2021-05-17 01:01] GuptaTanisha commented on #892
Please assign this to me.

[2021-05-17 01:20] Pranav016 commented on #892
Read the note under the issue

[2021-05-17 01:26] GuptaTanisha commented on #892
/assign

[2021-05-17 04:01] Ayush0730 commented on #780
@Pranav016 Is this not fixed by #882?

[2021-05-17 04:03] Pranav016 commented on #780
No, I tried solving but it's still there

[2021-05-17 06:29] tanishq-arya commented on #867
@Pranav016  Should I make a PR for this ?

[2021-05-17 06:29] tanishq-arya commented on #771
@Pranav016 should I make a PR for this ? Or you want any changes.

[2021-05-17 06:41] Pranav016 commented on #867
I think this issue was already solved..

[2021-05-17 06:42] Pranav016 commented on #867
Repeated issue #838

[2021-05-17 06:42] #867 closed

[2021-05-17 13:02] RushanKhan1 commented on #706
Hey @shubhangi2731, @Liri-s29 commented first so the issue is his.

[2021-05-17 16:59] aanchalrakheja commented on #746
![image](https://user-images.githubusercontent.com/68388581/118527770-3aba5c00-b75f-11eb-8058-53db4b9141f4.png)
![image](https://user-images.githubusercontent.com/68388581/118527836-4c9bff00-b75f-11eb-8d25-d84c4f348440.png)
![image](https://user-images.githubusercontent.com/68388581/118527889-59b8ee00-b75f-11eb-90dc-3d1e04d0df33.png)
This is how it looks. Should I continue with it.

[2021-05-17 17:08] RushanKhan1 commented on #746
It looks good to me 👍🏻

[2021-05-17 17:08] RushanKhan1 commented on #746
It looks good to me 👍🏻

[2021-05-17 17:50] Liri-s29 commented on #706
@RushanKhan1 The issue is solved already, I visited the site and it was not there.

[2021-05-17 18:03] RushanKhan1 commented on #706
Yes, you're right it's fixed, closing this.

[2021-05-17 18:03] #706 closed

[2021-05-17 20:10] Sristi27 opened #895 "SignUp Form UI Modification"
### **Describe the bug**
The Upload Image Label in Signup Form is not clearly visible.Also,we can add an image upload button such that the default file input is hidden.

![Screenshot 2021-05-18 at 1 32 10 AM](https://user-images.githubusercontent.com/53037053/118549410-094e8a00-b779-11eb-932c-600e88ec6ae3.png)

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

[2021-05-17 20:10] Sristi27 commented on #895
/assign

[2021-05-17 20:28] Pranav016 commented on #746
Looks good, I think we can now remove the WordNook text since it's already there in the logo. And make the logo a little bit bigger.

[2021-05-17 20:51] ambivert-sam commented on #746
I'm a participant of GSSOC'21 can I work on this issue, please?

[2021-05-17 22:48] #712 closed

[2021-05-18 05:42] hardikshah197 commented on #729
May I take up this issue, If no one is working on it?
@RushanKhan1

[2021-05-18 07:17] aanchalrakheja commented on #746
![image](https://user-images.githubusercontent.com/68388581/118607974-d3d88980-b7d6-11eb-99da-3365b34171d5.png)
![image](https://user-images.githubusercontent.com/68388581/118608162-03879180-b7d7-11eb-9d9e-db966630db9b.png)
![image](https://user-images.githubusercontent.com/68388581/118608246-1b5f1580-b7d7-11eb-91a3-009c66c74318.png)
Like this?

[2021-05-18 11:40] RushanKhan1 commented on #729
Sure, you can comment `\assign` under issues with no assignees to assign the issue to yourself.

[2021-05-18 11:51] Pranav016 commented on #729
Add some badges for
- Prettier bot
- Triage bot
- Imgbot
- All-contributors bot

[2021-05-18 13:50] Ankita297 commented on #848
Sir i think the issue is resolved as by testimonial wall button is not there So if you can check it .

[2021-05-18 22:32] #862 closed

[2021-05-19 04:03] Ankita297 commented on #835
@Pranav016 Can i work on this ?

[2021-05-19 04:06] ritmojs commented on #835
I am already working on this issue.

[2021-05-19 04:07] Ankita297 commented on #835
okay @ritmojs .

[2021-05-19 05:20] Ayush0730 opened #900 "No margin between posts on home page and dashboard/profile page"
### Feature request-
Provide some margin between posts

### Is your feature request related to a problem? Please describe. (optional)
I think in some merged PR, margin is removed

### Describe the solution you'd like
Add margin

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

### Describe how this feature will

[2021-05-19 05:20] Ayush0730 commented on #900
/assign

[2021-05-19 11:49] Ayush0730 commented on #229
/assign

[2021-05-19 21:26] Pranav016 commented on #746
Yes

[2021-05-20 08:14] #900 closed

[2021-05-20 08:56] Ankita297 commented on #848
@Pranav016 Please see .

[2021-05-20 16:23] srishtij2000 commented on #848
Can I work on this issue?

[2021-05-20 18:31] #857 closed

[2021-05-21 03:18] Ayush0730 commented on #662
@Pranav016 I am thinking of adding a button similar to profile image delete button. Will that be okay?

[2021-05-21 15:15] Subham142 opened #905 "Backend: Admin feature"
### Feature request-
An admin can
->fetch all the users
->edit/delete the user's profile
->fetch every blog
-> delete or update it

### Describe the solution you'd like
editing to the userSchema  and making routes and controller for it

[2021-05-21 15:17] Subham142 commented on #905
/assign

[2021-05-21 15:19] #771 closed

[2021-05-21 15:19] #905 closed

[2021-05-21 15:20] Subham142 opened #906 "Backend: admin feature Dicussion"
Feature request-
An admin can
->fetch all the users
->edit/delete the user's profile
->fetch every blog
-> delete or update it

Describe the solution you'd like
editing to the userSchema and making routes and controller for it

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21. Yes
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If th

[2021-05-21 15:20] #717 closed

[2021-05-21 15:24] #719 closed

[2021-05-21 15:24] #878 closed

[2021-05-21 15:25] Subham142 commented on #906
@Pranav016  what is your thought on this feature

[2021-05-21 15:25] #746 closed

[2021-05-21 15:30] Pranav016 commented on #906
Sounds good but a bit tricky to implement since you will need to add an 'if else' statements or a new implementation for all the routes. Its upto you if you are willing to work, I'll definitely help you out. I'd suggest raise smaller issues to lead up to this issue so you get more points since this feature could need some large code changes.

[2021-05-21 15:30] Pranav016 commented on #906
/reviewed

[2021-05-21 15:32] Subham142 commented on #906
Yes I would start with a middleware and schema update and after your approval all routes and controllers

[2021-05-21 15:35] Subham142 opened #908 "Backend: admin middleware and property"
<hr/>

**Note:**
* Do mention if your are working under GSSoC'21. Yes
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you should comment `/assign` under the issue to get it auto assigned.
* Please **ref

[2021-05-21 15:41] Ayush0730 opened #909 "Dashboard not responsive on mobile"
### Feature request-
The content is getting out of the viewport on mobile size

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alte

[2021-05-21 15:42] Ayush0730 commented on #909
/assign

[2021-05-21 16:40] tanishq-arya opened #910 "UI: Testimonials Wall"
### Feature request-
The testimonials wall is not as much clear and appealing.

### Describe the solution you'd like
I would like to change the font styles and make each testimonial appear as a card.

### Additional context
![image](https://user-images.githubusercontent.com/77333275/119170744-52f0ea80-ba81-11eb-9789-e67c4dcd637d.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'2

[2021-05-21 16:41] tanishq-arya commented on #910
@Pranav016 Please assign this issue to me.

[2021-05-21 16:41] tanishq-arya commented on #910
/assign

[2021-05-21 16:48] Ayush0730 commented on #910
Check #793 . I think this is similar

[2021-05-21 16:55] #859 closed

[2021-05-21 16:55] Pranav016 commented on #910
repeated #793

[2021-05-21 16:55] #910 closed

[2021-05-21 17:02] Ayush0730 commented on #662
@Pranav016 please check this while you're online

[2021-05-21 17:03] tanishq-arya commented on #910
Sorry I didn't see that one.

[2021-05-21 17:14] Pranav016 opened #911 "Design a new banner for the repo README"
### Feature request-
New banner needs to be designed for the project. Current banner has our older logo thus the need to change it.

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising

[2021-05-21 17:14] Pranav016 opened #912 "Update demo gif in README"
### Feature request-
Update demo gif in README with the new changes.

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you should comment

[2021-05-21 17:16] #827 closed

[2021-05-21 17:17] tanishq-arya commented on #911
/assign

[2021-05-21 17:17] #848 closed

[2021-05-21 17:24] Pranav016 opened #913 "Improve carousel slide UI"
## Feature request-
Currently the carousel slides by 3 testimonials, it would be better if it would slide by a single testimonial.

https://user-images.githubusercontent.com/54665036/119175009-ee388e80-ba86-11eb-8f70-67dd6aa3afc0.mp4

## Requirement-

https://user-images.githubusercontent.com/54665036/119460711-93d85000-bd5c-11eb-97b5-08895b021ef2.mp4

<hr/>

**Note:**
* Do mention if your are wor

[2021-05-21 17:27] Pranav016 opened #914 "Create Full screen Overlay Navigation Bar for mobile and tablet view"
### Feature request-
Create Full screen Overlay Navigation Bar for mobile and tablet view.

( Google it if you don't know about Full Screen Overlay Navigation Bar. )

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assi

[2021-05-21 17:30] Pranav016 commented on #910
No problem

[2021-05-21 17:30] Pranav016 commented on #662
Ok

[2021-05-21 17:41] tanishq-arya commented on #914
/assign

[2021-05-21 18:11] aanchalrakheja commented on #912
/assign

[2021-05-21 18:32] Ayush0730 commented on #662
/assign

[2021-05-22 02:22] Ankita297 commented on #913
/assign

[2021-05-22 02:34] Ankita297 commented on #793
/assign

[2021-05-22 06:44] tanishq-arya commented on #911
@Pranav016 Please take a look at this and let me know if yo like it or should I try something else
![image](https://user-images.githubusercontent.com/77333275/119217324-195ac680-baf7-11eb-8a7b-2535d805f837.png)

![image](https://user-images.githubusercontent.com/77333275/119217330-224b9800-baf7-11eb-8a13-822c8c3649a9.png)

[2021-05-22 07:00] Pranav016 commented on #911
Something else

[2021-05-22 07:06] tanishq-arya commented on #911
Do you have something in mind ?

[2021-05-22 07:26] Pranav016 commented on #911
Something similar to our current banner..
Current banner is very stylish.

[2021-05-22 07:33] tanishq-arya commented on #911
![image](https://user-images.githubusercontent.com/77333275/119218472-17483600-bafe-11eb-9e3d-c71c0945cfd4.png)

[2021-05-22 07:34] tanishq-arya commented on #911
Okay. I'll try something different then.

[2021-05-22 13:10] #229 closed

[2021-05-22 14:18] aanchalrakheja commented on #911
would like to work on this issue.

[2021-05-22 14:36] tanishq-arya commented on #911
@Pranav016 What about this ?
![image](https://user-images.githubusercontent.com/77333275/119230305-3dd79280-bb39-11eb-8fbc-298215c74cb8.png)

[2021-05-22 19:46] ritmojs opened #918 "Website favicon update."
### Feature request-
new favicon of latest logo.

[2021-05-22 19:46] ritmojs commented on #918
/assign

[2021-05-22 20:57] ritmojs commented on #918
Assign this to me under GSSOC 21

[2021-05-22 22:26] aanchalrakheja commented on #911
![1](https://user-images.githubusercontent.com/68388581/119242342-a72bc580-bb7a-11eb-82f3-9630ba51e94e.png)
![2](https://user-images.githubusercontent.com/68388581/119242343-a85cf280-bb7a-11eb-8f68-0e948321f4bf.png)
![3](https://user-images.githubusercontent.com/68388581/119242345-a8f58900-bb7a-11eb-9806-35eb91d465d2.png)
Something like this? will try some more

[2021-05-23 03:17] Pranav016 commented on #911
Nope

[2021-05-23 03:18] Pranav016 commented on #911
Better but the components are not blended, I can still see all the boundaries of the pictures that don't match the background..

[2021-05-23 03:37] AnanyaNegi commented on #918
/reviewed

[2021-05-23 06:34] tanishq-arya commented on #911
The gray background is not a part of the banner. You are talking about the mongoose one right ?

[2021-05-23 11:07] aanchalrakheja commented on #911
![banner1](https://user-images.githubusercontent.com/68388581/119257923-20600280-bbe5-11eb-8959-b567c8038cd3.png)
This?

[2021-05-23 12:14] aanchalrakheja commented on #911
![5](https://user-images.githubusercontent.com/68388581/119259998-72f1ec80-bbee-11eb-9427-0061709816df.png)
![6](https://user-images.githubusercontent.com/68388581/119260003-784f3700-bbee-11eb-80a1-afb0090fd34b.png)
![8](https://user-images.githubusercontent.com/68388581/119260005-78e7cd80-bbee-11eb-86e3-0d3f6a316928.png)

[2021-05-23 14:13] #793 closed

[2021-05-23 14:14] Pranav016 commented on #911
![image](https://user-images.githubusercontent.com/54665036/119264052-3c709d80-bbff-11eb-8fbe-3d3f53b63184.png)

@aanchalrakheja  This one looks really nice, let's go with this one..

[2021-05-23 14:15] aanchalrakheja commented on #911
Ok. Will continue with it.

[2021-05-23 14:27] aanchalrakheja commented on #911
Can you please guide me a bit about how to go about updating it.

[2021-05-23 17:29] Ayush0730 opened #921 "Image not uploading on signup page"
### **Describe the bug**
I tried signing up with uploading a profile image but profile image did not show up (It's not uploaded)

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to Signup
2. Fill details and upload a profile image and signup
3. Go to dashboard
4. See error

### **Expected behavior**
A clear and concise description of what you expected to happen.

### **Screenshots**
If

[2021-05-23 17:30] Ayush0730 commented on #921
/assign

[2021-05-23 17:33] Ayush0730 commented on #921
I think this bug is caused by #890

[2021-05-24 04:09] #911 closed

[2021-05-24 07:05] subhangi2731 commented on #365
@AnanyaNegi please assign me this issue I want to work on this

[2021-05-24 07:06] subhangi2731 commented on #760
@AnanyaNegi please assign this issue to me

[2021-05-24 07:07] subhangi2731 commented on #760
/assign

[2021-05-24 07:08] subhangi2731 commented on #780
@Pranav016 please assign this issue to me

[2021-05-24 07:10] subhangi2731 commented on #365
/assign

[2021-05-24 07:11] subhangi2731 commented on #323
/assign

[2021-05-24 07:12] subhangi2731 commented on #780
/assign

[2021-05-24 07:13] subhangi2731 commented on #760
/assign

[2021-05-24 16:05] Ayush0730 commented on #909
I tried fixing this issue, I added a horizontal scroll bar, but on very samll devices the content is overflowing the container.

What should I do to fix this, I tried doing something with margin but it didn't work

![image](https://user-images.githubusercontent.com/68139755/119375083-ffc4a500-bcd7-11eb-8641-302f4c1c6eb2.png)

[2021-05-24 17:36] #921 closed

[2021-05-25 14:08] tanishq-arya commented on #914
@Pranav016 How is this ?
https://user-images.githubusercontent.com/77333275/119512257-c56b0e80-bd90-11eb-9faa-0019fc38d933.mp4

[2021-05-25 16:17] Pranav016 commented on #914
Can we have the animation to be to the right or left instead of downwards since earlier we were having downwards animation on the navbar toggle. Let me know if this is unclear..

[2021-05-25 16:23] tanishq-arya commented on #914
Okay I'll try that.

[2021-05-25 18:21] aanchalrakheja commented on #912
Hey! I had a doubt. When I am signing up its showing an error. How do I continue making a gif.

[2021-05-25 18:41] Pranav016 commented on #912
Yes, check #780. I would suggest make the gif while running the website on your local server, then I think you would be able to sign in..

[2021-05-25 18:46] satcasm opened #934 "Hover effect"
Would like to add some kind of hover effect on the hamburger icon, under GSSOC' 21.
It might enhance the UI of the page.
Thanks!

[2021-05-25 18:47] satcasm commented on #934
/assign

[2021-05-25 19:24] aanchalrakheja commented on #912
Ok will try

[2021-05-25 19:54] #909 closed

[2021-05-25 19:59] Pranav016 commented on #918
there is no gssoc label on this issue

[2021-05-26 09:54] satcasm commented on #642
Hey @Pranav016 , while commiting I am getting this error:
![image](https://user-images.githubusercontent.com/56315878/119640696-7e375900-be36-11eb-81b3-49bc4897966c.png)
How can I resolve this?

[2021-05-26 10:17] Pranav016 commented on #642
what is your npm version ?

[2021-05-26 10:18] satcasm commented on #642
I am currently using ```7.13.0```

[2021-05-26 10:18] Pranav016 commented on #642
https://github.com/npm/cli/issues/1845
refer to this thread to resolve the issue otherwise I'll try to solve it..

[2021-05-26 10:28] satcasm commented on #642
@Pranav016 I went through the thread, but sadly nothing makes sense to me.I tried a thing or two mentioned there but no luck.
Let me know if you have any ideas.

[2021-05-26 10:30] Pranav016 commented on #642
Ok, I'll work on it when I am free..

[2021-05-26 19:18] #662 closed

[2021-05-27 14:42] satcasm commented on #642
Hey @Pranav016 did you had any time to look into it?

[2021-05-27 16:09] aanchalrakheja commented on #912
I tried recording the screen but the website is getting hanged alot which is creating a very long video including all steps and even the size is becoming very big. Can u suggest some alternative.

[2021-05-27 16:44] Pranav016 commented on #912
Video does get long sometimes don't worry, create the gif.

What is the size of the video?

[2021-05-27 17:03] satcasm commented on #642
@Pranav016 , I tried this:(after reading how to comment in .json file online)
![image](https://user-images.githubusercontent.com/56315878/119867283-57af1600-bf3b-11eb-9d00-fb5c69523419.png)
But I am still getting the same error, now I am quite confused as to how husky is running even after commenting out.
Let me know if I did something wrong.

[2021-05-27 17:07] Pranav016 commented on #642
![image](https://user-images.githubusercontent.com/54665036/119867946-0fdcbe80-bf3c-11eb-8670-aec2923bcf61.png)

[2021-05-27 18:12] satcasm commented on #642
That's strange, cause I am getting this:
![image](https://user-images.githubusercontent.com/56315878/119876164-36ebbe00-bf45-11eb-8009-0ebb20d2a80e.png)

[2021-05-27 18:14] Pranav016 commented on #642
Remove the Code, I'll fix it later

[2021-05-28 10:23] keshavgbpecdelhi opened #948 "Handeling Footer in Testimonals ( Under GSSOC )"
### Feature request-
The width of the footer is well fitting when we are at testimonial-wall while in home page it's fine.

### Describe the solution you'd like
I would like to deal with this problem under GSSOC 2021

### What I will do ?

I will make changement in footer of [Testimonial Wall](https://word-nook.herokuapp.com/testimonial-wall) to look similar to the [Home Page](https://word-nook.he

[2021-05-28 10:24] keshavgbpecdelhi commented on #948
Assign this to me? Can I go ahead with this?

[2021-05-28 15:26] aanchalrakheja commented on #912
It was exceeding around 20MB. I am trying once again. Will fix it by tomorrow.

[2021-05-28 16:46] Ayush0730 opened #949 "Add edit image field in blog edit page"
### Feature request-
While editing blog there is no field to update image

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Add a file input to update images

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features y

[2021-05-28 16:47] Ayush0730 commented on #949
/assign

[2021-05-28 16:50] #276 closed

[2021-05-28 16:57] Ayush0730 opened #950 "Inconsistency in form styling [Edit Blog Form]"
### Feature request-
I think all forms should look similar in appearance. This issue needs some suggestions

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and co

[2021-05-28 16:58] Ayush0730 commented on #950
/assign

[2021-05-28 17:15] Pranav016 commented on #950
Do option 2 for this issue. And then login and sign up form in separate PR.

[2021-05-28 17:41] Ayush0730 commented on #950
Okay

[2021-05-28 17:43] Ayush0730 opened #952 "Inconsistency in form styling [Login/Signup Form]"
### Feature request-
Make Login/Signup Forms Similar to compose form

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you should comment

[2021-05-28 17:43] Ayush0730 commented on #952
/assign

[2021-05-28 18:39] theBeginner86 opened #954 "Move newsletter routes form user.router.js to newsletter.router.js"
### Feature request-
To move newsletter routes to newsletter.router.js (new-file)

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Create new file newsletter.router.js
Add the appropriate function call in app.js for the moved routes.

### Describe alternatives you've consider

[2021-05-28 18:39] theBeginner86 commented on #954
/assign

[2021-05-28 21:05] #954 closed

[2021-05-28 21:09] #949 closed

[2021-05-28 21:12] Pranav016 commented on #642
@all-contributor please add @osamamagdy for code

[2021-05-28 21:12] Pranav016 commented on #642
@all-contributors please add @osamamagdy for code

[2021-05-29 16:44] aanchalrakheja opened #959 "The background of the website can be changed a bit to improve the readability."
### **Describe the bug**
Some text merges with the background of the website hence making it difficult to read. The background of the website can be changed to improve the readability.
<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to

[2021-05-29 16:45] aanchalrakheja commented on #959
i would like to work on this issue

[2021-05-29 17:08] aanchalrakheja commented on #959
/assign

[2021-05-29 19:31] aanchalrakheja commented on #959
![background](https://user-images.githubusercontent.com/68388581/120082777-6be14780-c0e2-11eb-8115-5a5434440782.png)
This background would give it a look of a crumbled paper.

[2021-05-29 21:04] #912 closed

[2021-05-30 10:38] keshavgbpecdelhi commented on #959
seems good

[2021-05-30 10:45] Sukriti-sood commented on #802
/assign

[2021-05-30 10:48] Sukriti-sood opened #963 "Github Bot Feature"
### Feature request-
Github Bot Will COmment on Every PR Open and PR merged

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you should comment

[2021-05-30 10:49] Sukriti-sood commented on #963
/assign

[2021-05-30 11:38] aanchalrakheja commented on #959
![image](https://user-images.githubusercontent.com/68388581/120102616-7abf0d00-c169-11eb-9e21-18e646925a17.png)
![image](https://user-images.githubusercontent.com/68388581/120102628-8ca0b000-c169-11eb-9ef1-f0aa0a45423d.png)
This is how it looks.

[2021-05-30 13:14] keshavgbpecdelhi commented on #959
It's looking nice, but don't u think it's like the dark theme, which is already there🤔.
Let's see what @Pranav016 thinks.

[2021-05-30 18:39] #950 closed

[2021-05-30 18:42] Pranav016 commented on #963
We have a bot that comments on every PR and issue created by a new contributor. I don't think there is anything that we need to comment on every PR or issue..

Closing this issue for now since I don't think it is required, but you can comment if you feel the usecase is different.

[2021-05-30 18:46] #918 closed

[2021-05-30 18:47] #835 closed

[2021-05-30 19:00] Pranav016 commented on #959
Changes look fine but do we really need it ? Go through #717
Let me know if this is still required.

[2021-05-30 19:09] aanchalrakheja commented on #959
Even after #717 being merged, there are places where readability of the text can be better. Its not like text is not at all visible but at one glance it seems to merge with the background which I think should be prevented for the text to stand out.
Rest how so ever u suggest about it's need.

[2021-05-30 19:12] Pranav016 commented on #959
I checked the screenshot you added above with the new background, the text definitely looks better. I think you can go ahead with the changes.

[2021-05-30 19:19] aanchalrakheja commented on #959
ok sure

[2021-05-30 20:02] aanchalrakheja commented on #959
![image](https://user-images.githubusercontent.com/68388581/120118376-d90ede80-c1af-11eb-8666-1da16c81531e.png)
Can u help me solve this error.
Line 21 of darkmode.js says
![image](https://user-images.githubusercontent.com/68388581/120118397-f643ad00-c1af-11eb-906a-f65313052c50.png)
I am not able to locate the element with the id="blog-image"

[2021-05-30 20:04] aanchalrakheja commented on #959
![image](https://user-images.githubusercontent.com/68388581/120118430-1ecba700-c1b0-11eb-99fc-178a9080a9b9.png)
Can u help me solve this error.
The line 21 of darkmode.js says:
![image](https://user-images.githubusercontent.com/68388581/120118448-34d96780-c1b0-11eb-9529-1ecd8ee65032.png)
I am not able to locate the element with id "blog-image"

[2021-05-30 22:21] Pranav016 commented on #959
Use the search all feature in your VS code, searches for a particular thing among all the files. I don't remember correctly but I think its shortcut was `Ctrl + Shift + F` but you can also google it.

[2021-05-31 01:00] Sukriti-sood commented on #963
@Pranav016  Current Github Bot did not comment on the merging of the PR (not for first contributor),.

[2021-05-31 01:02] Pranav016 commented on #963
What should it be commenting on merging the PR?

[2021-05-31 01:05] Sukriti-sood commented on #963
@user Hurray your First PR Got Merged (some emoji) , Feel free to take another Issue ,

Any customize message can be added if you want.

[2021-05-31 01:11] Pranav016 commented on #963
I would maybe like this if I am contributing to the project for the first time. If it as an experienced person, I don't think they would care.

[2021-05-31 01:18] Sukriti-sood commented on #963
Yeah that's true, I only suggested you for first time contributors,

[2021-05-31 01:20] Sukriti-sood commented on #811
@Pranav016 Can I try  ?

[2021-05-31 01:27] Pranav016 commented on #811
Sure you can try.
But in a recent PR the pre commit hook was removed because a contributor was not able to commit so I suggested to remove them and I'll work on it later. So just add them back in the package.json file or let me know in case of any doubt.

[2021-05-31 01:28] Pranav016 commented on #963
Ok, you can do it for first time contributors.

[2021-05-31 01:59] Sukriti-sood commented on #892
@Pranav016 Can I go for it?

[2021-05-31 09:32] Ankita297 opened #971 "Preloader with logo"
### Feature request-
A clear and concise description of the feature.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative so

[2021-05-31 09:32] Ankita297 commented on #971
/assign

[2021-05-31 10:42] Ankita297 commented on #971
@Pranav016 Sir Can you review it .

[2021-05-31 10:45] Ankita297 commented on #895
@Pranav016 Can i work on this ?

[2021-05-31 13:38] #959 closed

[2021-05-31 13:41] #948 closed

[2021-05-31 15:28] #811 closed

[2021-05-31 15:48] aanchalrakheja commented on #879
would like to work on it if available

[2021-05-31 17:19] Ayush0730 opened #975 "Post borders not visible"
### Feature request-
After the background of the WebApp is changed, clear borders are not visible for post previews

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clea

[2021-05-31 17:21] Ayush0730 commented on #975
/assign

[2021-05-31 17:32] #975 closed

[2021-05-31 17:33] #952 closed

[2021-05-31 17:35] #971 closed

[2021-05-31 17:53] Ayush0730 opened #977 "Add border to comments and replies"
### Feature request-
Comments are mixing up with the background, a small contrasting border will help in identifying it

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A

[2021-05-31 19:28] #977 closed

[2021-05-31 20:28] #879 closed

[2021-06-02 13:23] #642 closed

[2021-06-02 13:36] Pranav016 opened #980 "Improve Contact-Us form UI"
### Feature request-
Make the contact-us form look like the other forms on the website. (like the login and sign-up form)

![image](https://user-images.githubusercontent.com/54665036/120489930-a21a1200-c3d5-11eb-9465-948ffd7af6b3.png)

How it should be styled -
![image](https://user-images.githubusercontent.com/54665036/120489734-7dbe3580-c3d5-11eb-84d8-5a1dd516a357.png)

<hr/>

**Note:**
* If you

[2021-06-02 18:09] Pranav016 opened #982 "Improve testimonial wall UI for mobile view"
### Feature request-
The testimonials in testimonial wall are very thin in mobile view thus the text doesn't look good. Make the testimonial cards a little wider and reduce the padding given to the text inside the card so that it can take up more space.
![image](https://user-images.githubusercontent.com/54665036/120530946-b07b2480-c3fb-11eb-8a2f-eee69a23e05e.png)

<hr/>

**Note:**
* If you want to

[2021-06-02 18:12] Pranav016 opened #983 "Overlapping buttons in carousel"
### **Describe the bug**
The buttons in the testimonial carousel are overlapping in mobile view.
![image](https://user-images.githubusercontent.com/54665036/120531268-14055200-c3fc-11eb-97cc-1af41d93f9f9.png)

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned t

[2021-06-02 18:16] Pranav016 opened #984 "Sign-up form is not responsive for mobile view"
### **Describe the bug**
Sign-up form is not responsive for mobile view.

https://user-images.githubusercontent.com/54665036/120531747-9a219880-c3fc-11eb-9ee3-beb828a1e6ec.mp4

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new

[2021-06-02 18:25] Pranav016 opened #985 "Testimonials are not persistant"
### **Describe the bug**
Testimonials are not getting stored to the database. Make a new schema and store the new testimonials to the database.

Some predefined testimonials are already being rendered, rest of them should be fetched from the database and then rendered.

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is

[2021-06-02 18:27] Pranav016 opened #986 "`Write-Testimonial` section is unresponsive"
### **Describe the bug**

https://user-images.githubusercontent.com/54665036/120533367-49ab3a80-c3fe-11eb-8916-4933b7400e1b.mp4

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you shou

[2021-06-02 18:40] Pranav016 opened #987 "Inconsistency in button color"
### **Describe the bug**
The buttons on home page show different colors on hover/ click whereas they should all have the same color

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you

[2021-06-02 18:43] Pranav016 opened #988 "Newsletter sign-up is unresponsive and unstyled"
### **Describe the bug**
Newsletter sign-up is unresponsive and unstyled. Make the button look the other buttons on the website, style the card and make it responsive.

https://user-images.githubusercontent.com/54665036/120535293-72343400-c400-11eb-95df-8e12d1866f52.mp4

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue i

[2021-06-02 18:45] Pranav016 opened #989 "Update profile form is unresponsive for mobile view"
### **Describe the bug**
Update profile form in dashboard is unresponsive for mobile view
![image](https://user-images.githubusercontent.com/54665036/120535583-cd662680-c400-11eb-91f8-acf841ad93f3.png)

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.