[2021-01-16 18:35] Pranav016 opened #3 "Add contribution Guidelines for new contributors."
# About issue-
Add a file `CONTRIBUTING.md` which includes all the contribution guidelines and the best practices such as making a new branch to contribute, for all the beginners.
[Reference file](https://github.com/Pranav016/ToDoista/blob/contributing/CONTRIBUTING.md)

[2021-01-16 18:37] Pranav016 opened #4 "Improve README"
# About issue-
- Add screenshots of the website to the README.
- Add some GitHub tags and badges to beautify the README.
- Add a section right above maintainer section, for the Open Source events this Project was a part of. Add first entry as JGEC Winter of Code with a short description and logo of JGEC.
- Also add Mexili winter of Code for the Open Source events this Project was a part of. Add me

[2021-01-16 18:40] Pranav016 opened #5 "Add button for compose route from the homepage."
# About issue-
Add a button for compose route whose get request is mentioned in the `app.js` file, that'll redirect the user to the page where they will write or publish an article.

[2021-01-16 18:46] Pranav016 opened #6 "Connect with Mongo DB."
# About issue-
Connect the website with Mongo database to store the blog posts and make relevant changes to the documentation and app.js file.

Clause- The one who works on connecting the Website to MongoDB also has to work on deployment with Heroku issue #9
Set up on Heroku and Mongo ATLAS can be done using Alphavio's email that will be shared on Discord dm.

[2021-01-16 18:48] Pranav016 opened #7 "Improve the header and the footer."
# About issue-
- Improve the design of the header and the footer.
- Remove the current footer and replace it with a nicely designed footer with some hypothetical info and social media icons.
- Make sure the components are responsive.

[2021-01-16 18:50] Pranav016 opened #8 "Improve the overall UI."
# About issue-
Improve the User experience by using better color combinations and adding interactive components and animations to the website.

[2021-01-16 18:54] Pranav016 opened #9 "Deploy the website using Heroku"
# About issue-
- Deploy the website on [Heroku](www.heroku.com).

- Before Deploying, make sure that the Data base for the project has been setup and you are able to store the data base keys in a hidden file ( like a `.env` file ) on heroku to connect the website to the DB.

Also READ #6  -> Important

[2021-01-16 18:59] Pranav016 opened #10 "Add relevant info for the home, about and contact page."
# About issue-
Add relevant info to the `app.js` file for the home, about and the contact page.

- for contact page add email `aaradhyasharma218@gmail.com` for any queries.

[2021-01-16 19:03] Pranav016 opened #11 "Design a new logo for the Project."
# About issue-
- Design a new logo for the project and make sure to include 2-3 options to choose from while making a pull request.

- Designing a logo would also mean updating the current README banner after the final logo is chosen.

[2021-01-16 19:05] Pranav016 opened #12 "Add pull request templates."
# About issue-
Refer to the [docs](https://docs.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository) and add pull request templates to the Project.

[Reference template](https://github.com/Pranav016/Anyxz/blob/master/.github/pull_request_template.md)

[2021-01-16 19:06] Pranav016 opened #13 "Add issue templates for the project."
# About issue-
Add issue templates for the project. You can refer to the [docs](https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository) if you need help, how to create issue templates.

[2021-01-16 19:10] Pranav016 opened #14 "Add functionality to search articles by title on the home page."

[2021-01-16 19:11] Pranav016 opened #15 "Design a new logo for the ALPHAVIO organization."

[2021-01-16 19:14] Pranav016 opened #16 "Add MIT LICENSE file to the repository."
# About issue-
Add MIT LICENSE file to the repository and add its link to the repo README.
Refer to the [documentation](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/licensing-a-repository) for help.

`Copyright to Pranav Mendiratta and ALPHAVIO`

[2021-01-16 19:16] Pranav016 opened #17 "Add CODE_OF_CONDUCT for the project."
# About issue-
Add a `CODE_OF_CONDUCT.md` file for the project.

[2021-01-17 06:44] tanvimoharir commented on #16
@Pranav016  Hi, I came across this and would like to take this up, I'm new to Open Source so any help/guidance is more than welcome. Please assign this to me and also let me know of any relevant information. Thanks

[2021-01-17 09:35] jackm9367 commented on #17
@Pranav016 Working on finding an appropriate template. Feel free to assign me if you wish

[2021-01-17 09:42] jackm9367 commented on #17
#19

[2021-01-17 11:12] tanvimoharir commented on #16
Created in PR #20

[2021-01-17 11:28] Pranav016 opened #21 "Welcome Contributors. Important Note!"
Welcome to ALPHAVIO organization. We are glad to see that you want to work on the BlogSite project.

Make sure to go through and abide by the [Contribution Guidelines](https://github.com/ALPHAVIO/BlogSite/blob/master/CONTRIBUTING.md).

[2021-01-17 14:43] tanvimoharir commented on #3
@Pranav016 Let me know if I can take this up and you can assign it to me. As mentioned in #16 I'm new to open source contributions and any help/suggestion or otherwise are more than welcome. Thanks.

[2021-01-17 14:49] Pranav016 commented on #3
Thank you for your interest @tanvimoharir , I'll be more than happy to help you get started with open source. I am glad to tell you that this repository has been accepted for an open-source program that is going to begin in a week. Till then we might not be accepting any new pull request on this project. Refer to #21

Sorry for the inconvenience. There are a lot of other repositories available in

[2021-01-17 21:44] Pranav016 opened #22 "Add functionality to delete blog posts."
# About issue-
- Add a delete button on each post.
- The button should have a post request that should delete the blog from the database.

[2021-01-18 14:47] sahilsaha7773 commented on #22
I would like to work on this

[2021-01-18 14:48] sahilsaha7773 commented on #14
I would like to work on this

[2021-01-18 14:53] sahilsaha7773 commented on #13
I would like to work on this

[2021-01-18 15:00] Pranav016 commented on #14
Do you want to work on this as a part of JWoC ?

[2021-01-18 15:31] Pranav016 commented on #13
Please don't spam on all issues otherwise I'll have to ban you. You can only work/ get assigned for 2 issues at a time.
Refer to #21

[2021-01-18 16:35] sahilsaha7773 commented on #13
I didn't really mean to spam, I am genuinely interested, anyways...

[2021-01-18 16:37] sahilsaha7773 commented on #14
Yes

[2021-01-18 20:30] Pranav016 commented on #13
Sure, you can work but work on 2 issues at a time 😄
Also, I'll start assigning issues as soon as JWoC's community bonding period is over. Till then, thank you for your patience.

[2021-01-19 04:55] sahilsaha7773 commented on #13
Got it, thanks!

[2021-01-19 12:35] pankajkumarbij commented on #12
I would like to contribute as a participant of JWOC.

[2021-01-19 12:41] luckykumarirai commented on #10
I would like to contribute to this. Please assign me this issue.

[2021-01-19 13:03] luckykumarirai commented on #11
I would like to contribute to this issue.

[2021-01-19 13:03] pankajkumarbij commented on #7
I would like to work on this issue as a participant of JWOC.

[2021-01-19 13:07] luckykumarirai commented on #3
I would like to contribute to this issue.

[2021-01-19 13:28] Pranav016 commented on #11
Sure, issues will start getting assigned from 21st Jan onwards. Till then get familiar with the project base and continue to experiment with it🙂

[2021-01-19 13:36] Pranav016 commented on #12
Sure, issues will start getting assigned from 21st Jan onwards. Till then get familiar with the project base and continue to experiment with it🙂

[2021-01-19 13:36] Pranav016 commented on #3
Sure, issues will start getting assigned from 21st Jan onwards. Till then get familiar with the project base and continue to experiment with it🙂

[2021-01-19 19:38] mak-ux commented on #22
Let me work on this issue, I mean when you will open front 21

[2021-01-20 06:52] Niveditha18 commented on #7
@Pranav016, I want to contribute for this issue

[2021-01-20 06:55] Niveditha18 commented on #11
Hello @Pranav016, I'm willing to work on this issue

[2021-01-20 06:57] Niveditha18 commented on #10
I'm willing to contribute to this issue. - Niveditha from JWoc

[2021-01-20 09:24] karunkarthik-git commented on #22
I'd like to work on this issue as a mentee of JWOC.

[2021-01-20 09:26] karunkarthik-git commented on #6
I'd like to work on this issue as a mentee of JWOC once the coding period starts.

[2021-01-20 09:37] karunkarthik-git commented on #15
I'd like to work on this issue, I'm familiar with logo and poster designing. Could you tell more about the organization so I can start once the coding period starts.

[2021-01-20 16:51] anubhab1710 commented on #11
Hello, @Pranav016 I would like to contribute to this project by taking up and resolve this issue. I have a fair understanding of the project's aim and being a graphic designer myself (**I have created JWOC's official logo too**), I will be able to create a new logo as well as make a new banner for the Readme file. _I request you to kindly assign this issue to me_

[2021-01-20 17:07] uttu2 commented on #13
I would like to contribute in it.

[2021-01-20 19:56] Pranav016 commented on #3
@luckykumarirai I have assigned this to you, use the reference file that I have given above. I want this issue to be worked upon first because a `CONTRIBUTING` file is very important for a project.

[2021-01-20 20:08] Pranav016 commented on #11
Since Lucky and Niveditha have already gotten an issue assigned so as per JWoC rules at a time I can only assign not more than 1 issue to the same person. So assigning this to you @anubhab1710

[2021-01-21 02:56] Subhra264 commented on #9
Want to work on this issue

[2021-01-21 04:11] luckykumarirai commented on #3
Hello @Pranav016
I have sent the PR with contributing.md file please review it.

[2021-01-21 04:25] Swapna804 commented on #16
I would like to work on it

[2021-01-21 05:15] hariramjp777 commented on #8
I'd like to work on this issue. Please assign it to me @Pranav016

[2021-01-21 05:25] hariramjp777 commented on #5
I'd like to work on this issue

[2021-01-21 05:42] Niveditha18 commented on #10
Hey Pranav, can you please tell me on which topic specifically should I write content about?

[2021-01-21 07:13] Swapna804 commented on #17
I would like to work on it

[2021-01-21 08:10] Subhra264 commented on #9
Under JWOC

[2021-01-21 09:28] karunkarthik-git commented on #5
I'd like to work on this issue as mentee of Jwoc.

[2021-01-21 09:32] karunkarthik-git commented on #12
I'd like to contribute to this as a mentee of Jwoc. Please assign it to me.

[2021-01-21 09:34] karunkarthik-git commented on #4
I'd like to contribute to it as a mentee of Jwoc.

[2021-01-21 09:59] karunkarthik-git commented on #9
I'd like to work on this issue as a mentee of Jwoc

[2021-01-21 10:07] Niveditha18 commented on #5
I want to contribute to this issue.

[2021-01-21 11:06] #10 closed

[2021-01-21 11:40] Pranav016 commented on #15
We are an open-source organization all about next-gen software and collaboration.

[2021-01-21 11:44] Pranav016 commented on #9
this issue has to be worked #6
Will able to do them?

[2021-01-21 12:00] Subhra264 commented on #9
Yes sure!

Yes sure!

[2021-01-21 12:34] karunkarthik-git commented on #9
@Pranav016 how can you unassign me when I worked halfway and I've even mentioned here that I want to work with this issue. This isnt fair.

[2021-01-21 14:05] #22 closed

[2021-01-21 15:20] #6 closed

[2021-01-21 15:37] #14 closed

[2021-01-21 17:54] Pranav016 commented on #3
Closed via #35

[2021-01-21 17:54] #3 closed

[2021-01-21 18:51] Pabitra145 commented on #8
As apart of jwoc , i want to contribute in it

[2021-01-21 18:52] Pabitra145 commented on #8
As a part of jwoc , i want to contribute in it

[2021-01-21 20:49] tusharjain0022 commented on #12
I would like to contribute to this issue as a mentee under JWOC.

[2021-01-21 20:50] tusharjain0022 commented on #13
I would like to contribute to this issue as a mentee under JWOC.

[2021-01-22 08:23] tusharjain0022 commented on #13
@Pranav016 I think you can assign it to me as issues with `easy` label shouldn't take this much of time to complete under the JWOC. I want to contribute to this issue.

[2021-01-22 11:35] Pranav016 commented on #12
Can you work on this ASAP @pankajkumarbij ? I need a proper template to make it easy for me to review PRs and other people are also waiting to take up the issue..

[2021-01-22 12:14] pankajkumarbij commented on #12
I will send a PR today.

[2021-01-22 13:04] sahilsaha7773 opened #39 "Add functionality to create comments in each post"
I want to work on this as a part of JWOC.

[2021-01-22 13:32] mak-ux commented on #39
Can I work on this issue??

[2021-01-22 13:44] sahilsaha7773 commented on #39
Sorry, I am working on this

[2021-01-22 14:03] Pranav016 commented on #39
I have added a medium tag right now, I'll change the tag (medium or hard) according to the complexity of the code when I review it :)

[2021-01-22 14:05] sahilsaha7773 commented on #39
okay, sure, thanks!

[2021-01-22 18:42] #13 closed

[2021-01-22 18:43] Pranav016 commented on #13
Closed via #45

[2021-01-22 19:15] #11 closed

[2021-01-23 08:21] anubhab1710 commented on #15
Hello @Pranav016 If this issue hasn't been resolved yet by the previous assignee, can I proceed to work on this (since only 1 day is allowed for 'easy' tagged issues)? - Under JWOC

[2021-01-23 13:19] #39 closed

[2021-01-23 13:30] #12 closed

[2021-01-23 13:30] Pranav016 commented on #12
Solved via #49

[2021-01-23 13:47] Pranav016 commented on #15
I am assigning both and both of you can work on this issue and will get points if merged. Karun has also been working on this and updated me. @anubhab1710 is also good at designing so i am also giving him a chance.

[2021-01-23 13:48] djm-1 commented on #17
May I work on this issue?

[2021-01-23 14:19] sahilsaha7773 commented on #7
I would like to work on this

[2021-01-23 14:19] sahilsaha7773 commented on #5
I would like to work on this

[2021-01-23 14:20] Pranav016 opened #50 "Feature Request | Dark Mode"
### **Is your feature request related to a problem? Please describe the feature.**
Feature request for Dark Mode

### **Describe how this feature will be useful to our readers.**
Helps people with eye defects or dry eyes.

[2021-01-23 14:27] Niveditha18 commented on #50
@Pranav016 I want to contribute on this issue

[2021-01-23 16:31] sahilsaha7773 opened #55 "Add pagination to posts and search page"
### **Is your feature request related to a problem? Please describe.**
Listing all the posts in a single page makes it difficult for the user to navigate when there are a lot of posts.

### **Describe the solution you'd like**
- Add pagination for both the search and home routes.
- Add user input option to select number of posts to display on a single page

I want to work on this as a part of JWOC

[2021-01-24 13:54] Pranav016 opened #69 "Assitance chatbot"
### **Is your feature request related to a problem? Please describe the feature**
Add an assistance chatbot to the website.

### **Describe how this feature will be useful to our readers.**
It will help the new users on how to use the website/ how to publish vlog and clear doubts if any. It would also help them to tell us about any issue they face regarding the website.

[2021-01-24 13:58] #55 closed

[2021-01-24 14:03] #9 closed

[2021-01-24 15:06] #15 closed

[2021-01-25 03:30] Pabitra145 commented on #8
ok sir i will submit it as soon as possible

[2021-01-25 05:49] tusharjain0022 commented on #16
I would like to work on this as a mentee under JWOC.

[2021-01-25 08:30] #16 closed

[2021-01-25 10:34] shreetama123 commented on #7
@Pranav016 I want to contribute in this project

[2021-01-25 19:47] #50 closed

[2021-01-26 05:51] sahilsaha7773 opened #87 "The posts are showed in a fixed order (that is old one first)"
### Is your feature request related to a problem? Please describe.
The posts are showed in a fixed order (that is old one first).

### Describe the solution you'd like
- Add user ability to control the order of posts shown for both the search and home pages.

### Describe how this feature will be useful to our readers.
- This feature will help users to find posts in an organized manner.

I want to

[2021-01-26 18:21] Pranav016 opened #90 "Improve the buttons on the home page."
### Enhancement request:
The style of the buttons should be improved and it should be consistent since all the buttons are of different style. Buttons with animations on hover would help improve the overall experience.

### Describe how this enhancement will be useful to our readers.
Improves user experience of using the website.

[2021-01-26 19:03] sahilsaha7773 commented on #90
I want to work on this issue as a part of jwoc.

[2021-01-26 19:26] #5 closed

[2021-01-26 19:27] Pranav016 commented on #17
Are you still working on this? @djm-1

[2021-01-27 01:58] Pranav016 commented on #8
Are you still working on this  @Pabitra145 ?

[2021-01-27 06:25] tusharjain0022 commented on #17
I would like to work on this

[2021-01-28 01:27] #17 closed

[2021-01-28 03:33] tusharjain0022 opened #95 "Adding Preloader to the site"
### Is your feature request related to a problem? Please describe.
The user has to wait for a while the page is loading and might close the site assuming the site is not working.

### Describe the solution you'd like
Adding Preloader to the site will be a good option.
### Describe alternatives you've considered
Optimizing the whole site and minimizing the loading time could also solve this problem

[2021-01-28 09:33] Pranav016 commented on #95
Good idea

[2021-01-29 04:29] #8 closed

[2021-01-29 04:30] #87 closed

[2021-01-31 03:34] karunkarthik-git commented on #69
I'd like to work on this issue @Pranav016 ! Assign it to me.

[2021-01-31 05:53] #95 closed

[2021-01-31 05:57] Pranav016 commented on #90
Let me know if you still want to work on this.

[2021-01-31 05:58] Pranav016 commented on #90
Let me know if you still want to work on this, I'll reassign.

[2021-01-31 16:38] sahilsaha7773 commented on #90
Sorry for the delay, I was busy with my college assignments, I have updated the PR now

[2021-01-31 18:29] Pranav016 commented on #90
No problem, I'll review the PR tomorrow morning 👍

[2021-01-31 19:06] mcmonojit commented on #7
@Pranav016 , I would like to work on this issue. Can I be assigned ?

[2021-02-01 06:46] #90 closed

[2021-02-01 06:46] Pranav016 commented on #90
Closed via #96

[2021-02-01 06:46] #69 closed

[2021-02-02 08:14] Pranav016 opened #105 "Design a Favicon for the website"
### Feature request
Design a Favicon and add HTML tag for it to the website.

### Describe the solution you'd like
Favicon can be designed using different tools such as illustrator ,canva etc.
Color combinations should be good and should match the aesthetics of the website.

### Describe how this feature will be useful to our readers.
Helps identify the website when multiple tabs are open.

[2021-02-02 10:00] pranay-simejia opened #106 "Dark mode not functioning as expected."
### **Describe the bug**
When dark mode is enabled, on loading a new route dark mode gets disabled.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to ''https://blogsite321.herokuapp.com/"
2. Click on 'dark mode button'
3. click on home tab
4. See switched to light mode.

### **Expected behavior**
Dark mode should persist on switching routes.

[2021-02-02 12:39] Pranav016 commented on #106
This is happening because we are not logging in, there is no session to save your current details. We'll work on a sign-up and log-in system and then we'll be able to store your current state of the website. Right now every time you open a new route, it renders like you just opened the website. Hope this clears your doubt, this is one feature that will come soon. I am closing this issue for now, r

[2021-02-02 12:39] #106 closed

[2021-02-02 14:17] HarshitAditya27 commented on #105
Hi, I would like to work on this issue, I am planning to make a favicon which similar to the symbol used in your readme file. Will that be okay?
If not then can you suggest to me some other methods or options to do it as this is my first open-source project.

[2021-02-02 14:40] Pranav016 commented on #105
Yes, you can use the website logo that you can find in the `assets` folder or you can design something on your own.
If this is your first time contributing do read the CONTRIBUTING.md and follow best practices.

Are you contributing under JWoC or any open-source program? Do mention, then I'll add necessary labels.
Happy Learning!

[2021-02-02 17:24] HarshitAditya27 commented on #105
Sir, I have a doubt, I have created the favicon but I am unable to run the website using the terminal and mongod server
I have followed these steps :-
1,git clone https://github.com/ <your user-name> /BlogSite.git
2, cd Blogsite.
3, Exected npm install in the terminal.
4, Started the mongod server.
5, Executed node app in the terminal.
6, After the execution, the terminal was showing server starte

[2021-02-02 17:31] Pranav016 commented on #105
Refer to this point in the README-

![image](https://user-images.githubusercontent.com/54665036/106638948-6c415a00-65aa-11eb-8c54-47dcd2d72362.png)

Change the url to the one mentioned here

[2021-02-02 17:44] HarshitAditya27 commented on #105
Sir, after executing you following steps the terminal is showing syntax error.
![Screenshot (571)](https://user-images.githubusercontent.com/71604531/106640747-6ba9c300-65ac-11eb-89f8-c31e2a6d7d67.png)

[2021-02-02 18:14] Pranav016 commented on #105
Try again `const URL = 'mongodb://localhost:27017/blogDB';`
Just make the url a string.

[2021-02-02 18:15] HarshitAditya27 commented on #105
Thanks a lot, sir it's working!!!, one last question I wanted to ask can I keep my branch name as favicon?

[2021-02-02 18:16] Pranav016 commented on #105
Sure :+1:

[2021-02-03 03:58] HarshitAditya27 commented on #105
Sir, I have created the pull request I hope you can see that :)

[2021-02-03 04:13] Pranav016 opened #108 "Add login system for writers and readers."
### Feature request
Add a login system for writers and readers. Both will have separate privileges, only writers will be able to delete their own blogs. Readers cannot delete any blogs, they can only read or comment.

To sum this up, add a sign up and login system and allow only writers to delete their own blogs.

### Describe the solution you'd like
You can passport js for authentication and logi

[2021-02-03 04:14] Pranav016 commented on #108
Discuss with me about this issue in the comments here before working on it. Discuss your plan of action and your schema for the DB.

[2021-02-03 04:20] Pranav016 opened #109 "Add a new background for the website pages."
### Feature request-
Add new background for the website pages.

### Describe the solution you'd like
Design a background or suggest somethings to add to the website background. Make sure that the background is light and does not overpower the current aesthetics and the other components stay visible.

### Describe how this feature will be useful to our readers.
Improves user experience.

[2021-02-03 04:22] #7 closed

[2021-02-03 04:24] Pranav016 opened #110 "Improve the navigation bar."
### Feature request
Improve the navigation bar and add some animation on hover.

### Describe the solution you'd like
Add a gradual underline style on hover or add some animation/ style on your own, something that you feel will look good.

### Describe how this feature will be useful to our readers.
Improves user experience.

[2021-02-03 04:32] Pranav016 opened #111 "Improve footer."
### Feature request
Add 3 or 4 column footer, use bootstrap or CSS grids. Add some hypothetical information like contact or office. Add social links in one column (use font awesome icons). Suggest some

### Describe how this feature will be useful to our readers.
Improves user experience

[2021-02-03 04:35] Pranav016 opened #112 "Improve buttons"
### Feature request
Improve the buttons and add some animations to the buttons on all the website pages. For example, currently the buttons on home page have different animation from buttons on compose or other page.  Improve them and maintain some consistency.

### Describe how this feature will be useful to our readers.
Improves user experience.

[2021-02-03 04:36] Pranav016 opened #113 "Improve text font for the all the text on the website."
### Feature request
Improve text font for the all the text on the website. You choose a good font from google fonts.

### Describe how this feature will be useful to our readers.
improves user experience

[2021-02-03 07:24] Subhra264 commented on #108
The schema for user --- It will have  a username, an email, password, posts,  first name, last name etc. for the basic.  Followers, followings and other schema properties could also be added  as new features so that users can follow others.

For authentication -- JWT(jsonwebtoken module) or passport.js( passport-jwt ) any thing can be used.  Though I am much more familiar with jsonwebtoken module.

[2021-02-03 09:31] Abhijay007 opened #114 "Align dark mode button to bottom left corner"
### Is your feature request related to a problem? Please describe.
Align dark mode button to bottom left corner  because it looks confusing as the access bot button is already there

### Describe the solution you'd like
 Just change position to the left in the CSS section of the script file of dark mode js

### Describe alternatives you've considered
you can also place it at the top right corner n

[2021-02-03 11:37] Pranav016 commented on #108
Let's not add the follow functionality right now, for that you can raise another issue after this. Schema looks fine, we can discuss if any other additions required. You can work on this issue 👍

Let me know which open-source program are you working on this for? JWoC right? I'll add appropriate labels

[2021-02-03 12:52] Pranav016 commented on #114
Sounds good, you want to work on this issue under JWoC or Mexili ? Accordingly I'll add appropriate labels.

[2021-02-03 13:23] Abhijay007 commented on #114
Mexilli

[2021-02-03 14:35] mcmonojit commented on #113
@Pranav016 , I am interested to work on this issue. Can I work on this ?

[2021-02-03 15:16] Pranav016 commented on #113
You want to work on this under JWoC or Mexili WoC ? I'll add appropriate labels accordingly

[2021-02-03 15:22] Subhra264 commented on #108
Yes jwoc

[2021-02-03 15:42] mcmonojit commented on #113
I am working under JWoC.

[2021-02-03 16:26] Abhijay007 commented on #114
sir, I am getting this error while starting the project on the browser (http://localhost:3000/)

[code]
do I need to install anything else other than the setup mentioned in the project readme?

[2021-02-03 16:36] Pranav016 commented on #114
Read the setup in the README carefully, you have not changed the url in app.js.

[2021-02-03 16:52] Abhijay007 commented on #114
sir, do I need to change this part:
of app.js

[code]

[2021-02-03 16:57] Pranav016 commented on #114
Only this

[2021-02-03 17:06] Abhijay007 commented on #114
ok, thanks Sir !!

[2021-02-04 10:06] karunkarthik-git commented on #112
I'd like to work on this issue.

* Making buttons of uniform styling.
* Making button's animation specific to the context.

* Different animations for buttons which perform operations like :
1.  Delete
2. Compose
3. Search

Assign it to me @Pranav016

[2021-02-04 10:47] Aayush-hub commented on #4
@Pranav016 Can I work on this issue?

[2021-02-04 11:00] #105 closed

[2021-02-04 11:02] Pranav016 commented on #4
Can you discuss what changes are you going to make, what ideas you have. And also under which program will you be contributing.

[2021-02-04 11:17] Aayush-hub commented on #4
@Pranav016  I am working under Mwoc

[2021-02-04 13:23] Pranav016 commented on #4
Do one thing, instead of screenshots add a demo gif of the website to the README.
Just take a screen recording of the features of the website, how you publish posts and using the dark mode etc. Convert to gif and add it to the readme. Let me know if any help needed

[2021-02-05 13:31] Abhijay007 opened #123 "Add Github actions for first time contributors"
### Is your feature request related to a problem? Please describe.
Add Github actions for the enhancement of the project

### Describe the solution you'd like
A clear and concise description of what you want to happen.

We can add an Interaction bot for first-time contributors to this project to greet them with a message when they raise any issue or make any pull request solving any issue. This ma

[2021-02-05 14:33] mcmonojit commented on #110
@Pranav016 , I would like to work on this issue.

[2021-02-06 11:30] #4 closed

[2021-02-06 11:47] #112 closed

[2021-02-06 12:05] Pranav016 commented on #110
You can complete previous issue and can get assigned for this one. 👍

[2021-02-06 12:07] Pranav016 commented on #123
Display a message greeting them and telling them to read code of conduct and contribution guidelines (add hyperlinks to them in the message).

[2021-02-06 17:47] Pranav016 commented on #114
@Abhijay007 Are you working on this?

[2021-02-06 18:59] Abhijay007 commented on #114
Yes, @Pranav016 sir if you want I will make a new PR with a single commit, now I figured out where I made the mistake.

[2021-02-07 05:01] luckykumarirai commented on #111
Hello @Pranav016 I would like to contribute as a participant of Jwoc.

[2021-02-07 07:23] karunkarthik-git commented on #109
I'd like to work on this issue as a mentee of Jwoc21.
* Adding appropriate backgrounds for each page.
* Make it related to its content.

[2021-02-07 07:25] karunkarthik-git commented on #110
I'd like to work on this issue. Kindly assign it to me @Pranav016
I'll make the nav bar responsive and give good animations on hover.

[2021-02-07 09:21] #123 closed

[2021-02-07 09:24] Pranav016 opened #133 "GitHub action to test Node js code"
### Feature request
Add GitHub action to test Node js code

### Describe how this feature will be useful to our readers/ contributors
Helps to review code in PRs easily.

[2021-02-07 15:19] Pranav016 commented on #133
Added Node.js.yml file

[2021-02-07 15:19] #133 closed

[2021-02-07 18:24] #113 closed

[2021-02-07 18:32] Pranav016 opened #139 "GitHub action to merge PR from all-contributors bot"
### Feature request
Set GitHub action to automatically merge pull-requests from all-contributors bot

[2021-02-08 04:25] pankajkumarbij commented on #139
I would like to work on this issue.

[2021-02-08 17:35] #114 closed

[2021-02-10 15:22] Pranav016 opened #152 "Make Unit tests for Node JS application | Feature request"

[2021-02-11 22:09] #110 closed

[2021-02-11 22:25] #108 closed

[2021-02-12 05:11] RutvikJ77 opened #156 "Blogsite deployed on heroku is inactive."
### **Describe the bug**
The links provided in description and readme file for checking the heroku deployment are inactive.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://blogsite321.herokuapp.com/'
2. See error

### **Expected behavior**
The website should be displayed

### **Screenshots**
NA

### **Additional context**
NA

[2021-02-12 09:39] Pranav016 commented on #156
Yes, I noticed. Thank you for raising the concern. Last night there was issue with the GitHub service but that was fixed today. I am trying to to check the build logs to figure out the issue with its deployment. It'll hopefully be fixed soon.

[2021-02-12 11:52] Pranav016 commented on #156
@RutvikJ77 Can you confirm if the website is back online ? I have made some changes, there was a production bug.

[2021-02-12 13:43] RutvikJ77 commented on #156
Yup! Up and running. I am participating in MWoC (Mexilli's Winter of Code).

[2021-02-12 13:43] #156 closed

[2021-02-12 13:49] RutvikJ77 opened #159 "Improve UI/UX of the Homepage"
### **Describe the bug**
The current homepage to add/compose notes is too cluttered.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://blogsite321.herokuapp.com/'
4. On Hompepage.

### **Expected behavior**
Improving the Gestalt's law of UI which is the correct level of spacing and orientation of buttons would give a different appearance to the website.

### **Screenshots**

[2021-02-12 18:01] #111 closed

[2021-02-12 18:03] Pranav016 commented on #109
@karunkarthik-git are you still working on this?

[2021-02-12 18:25] Pranav016 opened #160 "Add delete button for comments and functionality such that only authenticated user can comment."
### Is your feature request related to a problem? Please describe.
Add delete button for comments so that any vulgar comments can be deleted and functionality such that only authenticated user can comment. Remove name input-box for comments.
![image](https://user-images.githubusercontent.com/54665036/107856802-b8b15300-6e50-11eb-8f0a-10946dabc160.png)

### Describe the solution you'd like
* Add fu

[2021-02-12 18:35] Pranav016 opened #162 "Fix the footer"
### Is your feature request related to a problem? Please describe.
Footer positioning and info not correct.

### Describe the solution you'd like
Make the footer stick at the bottom for every page. Update the email in the footer to one on the contact page.

![image](https://user-images.githubusercontent.com/54665036/107808019-fc438880-6d8e-11eb-8e6e-a1a4cdd50e03.png)

[2021-02-12 22:22] Pranav016 opened #163 "Add constraints for email, username and password during sign-up"
### Feature request
Add constraints for email, username and password during sign-up

### Describe how this feature will be useful to our readers.
Improves security and helps maintain consistency.

[2021-02-13 12:39] Ankita297 commented on #162
I would like to work on this issue  .

[2021-02-13 15:24] Pranav016 commented on #162
Will you be working under JWoC or Mexili ?

[2021-02-13 16:41] ranjal007 commented on #163
@Pranav016  Can I work on this issue?

[2021-02-13 16:46] Abhijay007 commented on #162
@Pranav016 sir I already solved it, but I forget to ping message for the assignment because I am a bit busy 😅.

![about us](https://user-images.githubusercontent.com/64387054/107855342-aed72200-6e47-11eb-8666-e5620ff7c593.PNG)
![contact us](https://user-images.githubusercontent.com/64387054/107855344-b0084f00-6e47-11eb-8268-97a8a9657f73.PNG)

but as you assigned this issue to @Ankita297 let her wo

[2021-02-13 16:51] Pranav016 commented on #163
Yes sure, let me know under which program will be working?

[2021-02-13 16:52] ranjal007 commented on #163
@Pranav016  Gssoc

[2021-02-13 17:01] ranjal007 commented on #163
@Pranav016  Can you please elaborate the documentation of setting up the environment. I am not getting which url you are asking to change in app.js

[2021-02-13 17:28] Abhijay007 commented on #163
@ranjal007 change this part in app.js:

`const URL = process.env.URL;`

to this:

`const URL = 'mongodb://localhost:27017/blogDB';

[2021-02-13 17:30] Pranav016 commented on #163
I don't thing development phase for GSSoC starts till 1st March. You can work on the issue if you want, but you might not get any points for that.

[2021-02-13 17:30] Pranav016 commented on #163
Thanks for the assistance @Abhijay007 👍

[2021-02-13 17:31] Pranav016 commented on #162
Good work, but make sure to get the issue assigned before you start working on it..

[2021-02-13 17:43] Pranav016 opened #164 "Add functionality to like blog posts."
### Feature request
Add functionality to like blog posts.

[2021-02-13 17:47] Pranav016 opened #165 "How to give the writer flexibility to add headings, bold words etc to make his/her blog better | Discussion issue"
## Description
How can we update our schema such that we are able to save headings and bold text or any font styles/ formatting's that can be used by the writer to make his/her blog look good.

[2021-02-13 17:51] Pranav016 opened #166 "Make the input boxes look better and improve placeholder fonts."
### Is your feature request related to a problem? Please describe.
Make the input boxes look better and improve placeholder fonts.
![image](https://user-images.githubusercontent.com/54665036/107857103-5bb69c80-6e52-11eb-912d-7ab5182c8061.png)

### Describe the solution you'd like
Use better looking input boxes by styling them or using input boxes from any framework.

### Describe how this feature

[2021-02-13 17:55] Pranav016 opened #167 "Make the navigation bar sticky at the top."

[2021-02-13 18:58] Devenkapoor7303 commented on #166
Can I work on this Issue?

[2021-02-13 19:00] Pranav016 commented on #166
Which program do you want to contribute under? I'll add the appropriate labels

[2021-02-13 19:04] Devenkapoor7303 commented on #166
Cross Woc

[2021-02-13 19:24] Pranav016 commented on #166
I don't think this project is registered for Cross WoC. Let me know if you still want to work on this..

[2021-02-13 20:54] Devenkapoor7303 commented on #166
Yeah I will work on it

[2021-02-14 04:32] pankajkumarbij commented on #167
I would like to work on this issue.

[2021-02-14 04:35] luckykumarirai commented on #164
@Pranav016 I would like to work on it.

[2021-02-14 07:55] Ankita297 commented on #162
Sir please review  my PR

[2021-02-14 11:33] Pranav016 opened #171 "Add GirlScript Summer of Code to README"
### Feature request
Add GirlScript Summer of Code under `Open Source Events Project is associated with:` section in README.

[2021-02-14 11:34] Pranav016 opened #172 "Update demo gif in README"
### Feature request
Update the demo gif in the README so that new changes made to the website are displayed

[2021-02-14 12:14] Ankita297 commented on #171
can i work on this .

[2021-02-14 14:00] Pranav016 commented on #171
There is already an issue assigned to you, please resolve that first.

[2021-02-14 14:01] Pranav016 commented on #162
@Ankita297

[2021-02-14 16:41] Abhijay007 commented on #172
@Pranav016 Sir,  I would like to work on this issue

[2021-02-14 16:41] Abhijay007 commented on #171
can I work on this?

[2021-02-14 18:09] Abhijay007 commented on #172
@Pranav016 sir while making a gif for the readme I observe that the footer of the "compose" post section is not aligned properly at the bottom its has that same issue.

![compose](https://user-images.githubusercontent.com/64387054/107884825-08f5e700-6f1d-11eb-9301-6608aec325eb.PNG)

one thing I can do is that I will edit this locally and make a gif for the readme.

ignore this if you already know

[2021-02-14 18:11] Abhijay007 commented on #172
and sir can I solve these two issues (#171 and #172) in a single PR?

[2021-02-14 18:39] Pranav016 commented on #172
Not advised, complete only the one you've been assigned.

[2021-02-14 18:40] Pranav016 commented on #172
Don't worry, it is being worked on..

[2021-02-14 18:58] Abhijay007 commented on #172
@Pranav016 sir I made this gif:

![readme gif](https://user-images.githubusercontent.com/64387054/107886170-3d20d600-6f24-11eb-838e-d49cc83157ac.gif)

I tried to include that compose post section but I think that didn't work locally I need to do that from deployed version, but the problem with deployed version is that it already has some posts there which I think not look good in the display gif.

[2021-02-14 19:06] Pranav016 commented on #172
I got your point, the deployed version's issue (footer) is currently being worked on. I am merging the footer PR right now so the deployed version will be corrected in a few mins then you can make a gif from that.

[2021-02-14 19:08] #162 closed

[2021-02-14 19:12] Pranav016 commented on #172
The deployed version has been fixed, you can make gif from that now. Don't worry about the displayed posts. They look fine. Just show all the functionalities of the website.

[2021-02-15 02:57] Ankita297 commented on #171
can i work on this now ?

[2021-02-15 06:32] Abhijay007 commented on #172
@Pranav016 sir I have done with the gif part, I made three different GIFs with different time duration.
you can choose any gif out of those three. but as the size of the GIFs exceeds 10 MB I am not able to share the GIFs demo here.

So sir can I mail those GIFs or send you a message on your discord?

[2021-02-15 12:09] #167 closed

[2021-02-15 12:16] Pranav016 opened #177 "Make website responsive"
Will require some code refactoring.

[2021-02-15 12:23] Pranav016 commented on #172
GIFs are rarely greater than 10 MB unless they are really long, or they have very high frame rate. You can share it with me on discord or you can upload to google drive and share the link here. I don't think it should be this big in size, the one currently in the readme is 777KB (was optimized by img-bot) but even initially it was small in size. Since it the gif has to be stored in this GitHub rep

[2021-02-15 12:26] pankajkumarbij commented on #177
I would like to work on this issue as a participant of MWOC.

[2021-02-15 12:28] Pranav016 commented on #159
@RutvikJ77 Are you working on this?

[2021-02-15 13:08] RutvikJ77 commented on #159
Yes, I am. I was finding my way around a few things. One more thing the Org logo folder has repeated images so I guess maybe you should delete it?

[2021-02-15 13:45] Abhijay007 commented on #172
first:https://giphy.com/gifs/WMafli0zJ3krDrK7d6

second: https://drive.google.com/file/d/1gLi0WJzQBKfeXkt7A-VJBxjvb_Aa32sW/view?usp=sharing

third:https://drive.google.com/file/d/16NnkbUCOz80gCFj9cRzQUEfs-5_LCQJK/view?usp=sharing

[2021-02-15 14:16] Pranav016 commented on #172
First one looks good :+1:

[2021-02-15 14:17] Pranav016 commented on #159
Ok, keep working 👍
Yeah, I'll take care of the folder.

[2021-02-15 14:41] Abhijay007 commented on #172
ok @Pranav016 sir

[2021-02-15 16:36] luckykumarirai commented on #164
@Pranav016 I am not able to sign in to my local system, it sent some errors.
Due to this, I am not able to compose the blog. so any posts can not appear on my home page.
Then how I can test what I am changing?

[2021-02-15 16:56] Pranav016 commented on #164
What is the error ? Show screenshot of the error..

[2021-02-15 17:01] luckykumarirai commented on #164
![Screenshot from 2021-02-15 22-00-27](https://user-images.githubusercontent.com/59636719/107975046-7ff2b480-6fdd-11eb-9774-6fd4a9e2e934.png)

[2021-02-15 17:03] luckykumarirai commented on #164
whenever I click on the sign or sign-up button terminal automatically terminates and shows these errors.

[2021-02-15 17:16] Pranav016 commented on #164
Add a `.env` file in the main/ root folder.
The name of the file should be specifically `.env`.
Then just add
[code]
to the `.env` file and it would work fine then 👍

[2021-02-15 18:10] #172 closed

[2021-02-15 20:49] archana-9430 commented on #166
Please allow me to work on this .

[2021-02-15 20:51] archana-9430 commented on #109
Please allow me to work on this.

[2021-02-16 06:02] m-code12 commented on #139
@Pranav016 I would like to take this up.

[2021-02-16 06:04] m-code12 opened #187 "Add a welcome bot"
**Is your feature request related to a problem? Please describe.**
This bot would help a first time contributor so that that contributor can follow this project's contribution guidelines.We can link our issue template, pull request template and code of conduct here.It will contain newIssue Welcome comment, newPR Welcome comment, firstPR welcome comment,etc.

We can use a GitHub App built with prob

[2021-02-16 06:05] m-code12 commented on #187
I would like to work on this as a part of MWOC.

[2021-02-16 06:06] #187 closed

[2021-02-16 06:07] m-code12 commented on #139
I would like to take this up @Pranav016

[2021-02-16 06:07] Pranav016 commented on #109
Which program are you working under? I'll add the appropriate labels.

[2021-02-16 06:09] Pranav016 commented on #139
I was going to work on this but if you want to work on this go ahead. What labels should I add ?

[2021-02-16 06:10] m-code12 commented on #139
MWOC

[2021-02-16 07:43] archana-9430 commented on #109
GSSoC

[2021-02-16 14:23] m-code12 commented on #139
I am thinking of making use of this GitHub action: https://github.com/marketplace/actions/auto-merge-dependency-updates , is this okay?
But I think it won't merge the all-contributors pr's. Do you know any good action which would do this?

[2021-02-16 14:23] m-code12 commented on #139
@Pranav016 I have pinged you on discord regarding this.

[2021-02-16 14:44] Pranav016 commented on #139
Replied 👍

[2021-02-16 18:17] #171 closed

[2021-02-16 18:19] Pranav016 commented on #164
Did this work or was it still giving error? @luckykumarirai

[2021-02-17 03:17] Pranav016 commented on #109
Points might not be added for GSSoC since it's development phase hasn't started yet..

Issues worked upon in the development period will only be counted. Let me know if you'd still like to work.

[2021-02-17 03:30] archana-9430 commented on #109
I would like to work on this, when the development phase will start . However, I have initiated my work on this.

[2021-02-17 03:30] archana-9430 commented on #109
Please allow me to work during the development phase of GSSoC.

[2021-02-17 03:35] Pranav016 commented on #109
Development phase starts after 10-15 days, I can't assign this to you for that long. Don't worry, new issues are being created all the time and you can always take any issue like in the future. Meanwhile you can get familiar with the codebase.

If you still want to work on this without any points, let me know.

[2021-02-17 06:08] aniketlodh commented on #160
Hello,
I would like to work on this issue. The way I would approach the issue is by making a schema for comments and associate it with user schema. Finally adding a delete button to delete it. But I'm comfortable working with passport for authentication. Can I replace JWT with passport and work on this issue?

[2021-02-17 07:47] Aayush-hub commented on #109
@Pranav016  Can I work on issue for  #GSsoc21?

[2021-02-17 10:52] m-code12 commented on #139
I tested it in my repo, doesn't seem like it's working.
Here is the test repo : https://github.com/m-code12/Test_repo
It will only merge the dependabot pr's.

[2021-02-17 15:05] Pranav016 commented on #139
Try change allowed actors for these two options-
`allcontributors[bot]` and `all-contributors-preview[bot]`.
I was looking for official name for the bot to put in the allowed actors and I think this might work.

[2021-02-17 18:06] Pranav016 commented on #160
Right now I think we shouldn't shift the whole authentication to passport. I'll have to make a separate issue for this since it would require some large code re-factoring. Let me know if you can work on this issue using the documentation for JWT.

[2021-02-17 19:53] m-code12 commented on #139
I tried but it isn't working out, it is mentioned in the GitHub action that it will automatically approve and merge a PR that only contains dependency updates, based on some rules.

[2021-02-18 04:54] aniketlodh commented on #160
Yes, I can work on the issue using the documentation for JWT.

[2021-02-18 05:54] Pranav016 commented on #160
Ok, let me know under which program do you want to work, I'll add the appropriate labels.

[2021-02-18 06:02] aniketlodh commented on #160
I would like to work as a separate individual. Actually, I got to know about this project from Girlscript Summer of code's projects page. But till now I haven't got the confirmation whether I'm selected for the program. So I would like to work as an individual until I get any confirmation. Once I get the confirmation, I will let you know.

[2021-02-18 06:05] aniketlodh commented on #160
GSSOC

[2021-02-18 06:14] Pranav016 commented on #160
GSSoC's development phase starts after 10-15 days so points for this issue won't be added but you can work on this independently if you want to.

[2021-02-18 06:43] aniketlodh commented on #160
Okay, not a problem. I'll work independently on this issue.

[2021-02-18 09:04] Pranav016 commented on #166
Under which program will you be working under? I'll add appropriate labels.

[2021-02-18 09:07] Pranav016 commented on #163
@ranjal007 are you still working on this?

[2021-02-18 09:09] Pranav016 commented on #139
@m-code12 you can make a PR to add action to merge dependabot PRs, I'll work on merging all-contributors bot PRs.
(points will be given accordingly)

[2021-02-18 10:05] archana-9430 commented on #166
I am working on this issue under GSSoC. Please add the appropriate labels (optional).

[2021-02-18 10:05] archana-9430 commented on #166
I am working on this issue under GSSoC. Please add the appropriate labels (optional).

[2021-02-18 11:38] Pranav016 commented on #166
Can't add them, development phase of GSSoC hasn't begun. You can work independently if you want to..

[2021-02-18 15:04] luckykumarirai commented on #164
Yes, it is working but I am not able to add like functionality using node.js.

[2021-02-18 21:06] Pranav016 commented on #164
It's ok 🙂

[2021-02-18 22:47] Pranav016 opened #195 "TypeError: `req.next` is not a function"
Many people are getting this error while using the login feature on their local system, those have good experience in working with JWT can work on this.
Relevant links have been added to help solve the issue.

### **Error report**
[code]

### **To Reproduce**
Steps to reproduce the behavior:
1. Log In
2. Comment on any post

### **Expected behavior**
Should add a comment on the post

### Relevant

[2021-02-19 06:17] Aayush-hub commented on #109
@Pranav016  Can I work on this? #MWOC

[2021-02-19 06:32] Aayush-hub commented on #109
@Pranav016 Can you please provide some reference background image that you want so that I can get a better picture?

[2021-02-19 06:36] Pranav016 commented on #109
I don't have any reference image. But I have this in mind that rather than using any image, use any good illustration or even a plain linear gradient with good color combination would look good.
Also change the background of the navbar in contrast with the background.

Also the background stays somewhat consistent in mobile view as well.

[2021-02-19 11:16] mcmonojit commented on #163
@Pranav016 , if this issue is open then I would like to work on it.

[2021-02-19 11:39] #160 closed

[2021-02-19 17:05] archana-9430 commented on #166
Okay, I'm ready to work on this independently.

[2021-02-20 04:52] aniketlodh opened #200 "Contributor's name not included in the contributor's list in the readme file."
### **Describe the bug**
My name is not listed in the contributor's list in the readme file even though I contributed and the PR was merged.

### **Expected behavior**
The expected behavior would be my name listed on the contributor's list in the readme file.

### **Screenshots**

![Screenshot from 2021-02-20 10-20-26](https://user-images.githubusercontent.com/55927827/108584195-65199a80-7365-11eb

[2021-02-20 07:06] Ankita297 commented on #165
can we use CKEditor plugin to provide the flexibility of writing format ?

[2021-02-20 16:08] rishitbhojak commented on #166
@Pranav016 Can I work on this issue either under GSSoC or independently?

[2021-02-21 01:51] #200 closed

[2021-02-21 01:51] Pranav016 commented on #200
Resolved #201

[2021-02-21 01:52] Pranav016 commented on #165
Yes, can you elaborate more about it? or give some reference links to it..

[2021-02-21 01:54] Pranav016 commented on #163
JWoC is over, let me know if you still want to work independently..

[2021-02-21 02:17] Ankita297 commented on #165
https://stackoverflow.com/questions/49596876/how-to-use-ckeditor-in-nodejs-application

[2021-02-21 13:01] luckykumarirai commented on #165
@Pranav016 I have already integrated  ``` CKEditor```  in your project that provides full flexibility to change the style, insert images and make tables, Highlight the content.

https://user-images.githubusercontent.com/59636719/108625744-887e3b80-7472-11eb-9f4e-13c1f5558b54.mp4

Once it will approve then I will make PR.

[2021-02-21 16:47] prajjwalarora commented on #195
@Pranav016 I wanna work on this issue.

[2021-02-22 04:26] Pranav016 commented on #165
Looks good 👍  Yes. you can make a PR for this.
Since this is a discussion issue, raise a new issue for this and start working, I'll assign it.

[2021-02-22 07:56] m-code12 opened #204 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-02-22 07:57] m-code12 commented on #204
@Pranav016 Can I implement this?

[2021-02-22 13:45] luckykumarirai opened #205 "Add CKEditor instead of textarea"
Add CKEditor to provide the writer flexibility to add headings, bold words, etc to make his/her blog better.

[2021-02-22 13:47] luckykumarirai commented on #205
I  would like to contribute , please assign me!

[2021-02-22 14:46] sukhpreet-singh1 commented on #163
@Pranav016 if this issue is open ,can you please assign me this issue?

[2021-02-22 17:43] Pranav016 commented on #204
I feel like I would be assigned every time a new PR is made. Since for GSSoC we'll be onboarding new mentors and even new org members so it doesn't make sense right now since I am the only one right now. This can be useful and can be added sometime in the future.

Closing the issue for now, re-open if required.

[2021-02-22 17:43] #204 closed

[2021-02-22 17:46] Pranav016 commented on #159
Responsive PR got merged, you can work on this now. Please complete it asap otherwise I'll have to change assignment.

[2021-02-22 17:49] #177 closed

[2021-02-22 17:49] Pranav016 commented on #163
Under which program do you want to work? :)

[2021-02-23 02:43] sukhpreet-singh1 commented on #163
@Pranav016  i am a participant in Girlscript summer of code (GSSOC)

[2021-02-23 03:15] Pranav016 commented on #163
GSSoC hasn't started yet.. Do you still want to work?

[2021-02-23 06:16] sheetalj2205 opened #208 "Improve UI/UX of home page"
I would like to change the background colour of the header, font styles, hover property of the links and the look of buttons to give it a more aesthetic and updated look. I would like to work on this issue for GSSOC'21.

[2021-02-23 15:35] Pranav016 commented on #208
Repeated issue #159

[2021-02-23 15:35] #208 closed

[2021-02-23 16:47] thaditi commented on #159
Hey! Is this issue still open? I would like to work on this as part of GSSOC'21.

[2021-02-23 17:59] Pranav016 commented on #159
Yes, I can assign it to you. But you can't work under GSSoC, it's dev phase hasn't started yet..
Let me know if you want to work independently

[2021-02-23 18:03] #205 closed

[2021-02-23 18:04] #165 closed

[2021-02-23 18:04] Pranav016 commented on #165
Solved via #206

[2021-02-24 04:14] RutvikJ77 commented on #159
Hey sorry for the delay! I am working on another project right now. @thaditi you can take this issue.

[2021-02-24 07:04] dependabot-preview[bot] opened #213 "Dependabot can't parse your package-lock.json"
Dependabot couldn't parse the package-lock.json found at `/package-lock.json`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/ALPHAVIO/update-logs/69231572).

[2021-02-24 12:59] #109 closed

[2021-02-25 07:25] #213 closed

[2021-02-25 16:07] Ankita297 commented on #166
can i work on this ?

[2021-02-25 17:33] Pranav016 opened #216 "Make dark mode persist while changes pages"
# Feature request-
Make dark mode persist on different pages for logged in users.

# Current Behavior-
Dark mode doesn't stay on changing the page like going to about page or contact etc.

# Expected Behavior after this issue-
Dark mode persists between the pages for logged in users, until switched back to light mode.

[2021-02-26 04:27] luckykumarirai commented on #111
@Pranav016 This PR already merged but not reflected in Leaderboard  of JWOC. Please inform them about this.

[2021-02-26 04:36] pankajkumarbij commented on #167
@Pranav016 My marks for this issue is not reflected at JWOC leaderboard.

[2021-02-26 04:47] Pranav016 commented on #167
Ok, I'll look into it

[2021-02-26 04:47] Pranav016 commented on #111
Ok, I'll look into it

[2021-02-26 05:00] Pranav016 commented on #111
@luckykumarirai Points for this PR were submitted, might not have been updated by organizing team. I'll remind them 👍

[2021-02-26 13:31] nishant23122000 opened #217 "Password Strong"
As per me , There must be Strong password require in registration for security purpose.

[2021-02-26 13:57] vismitap commented on #216
Hey! I would like to work on this issue!

[2021-02-26 13:58] rishitbhojak commented on #166
@Pranav016 Has the GSSOC label been added?

[2021-02-26 14:03] Pranav016 commented on #166
@rishitbhojak

[2021-02-26 14:05] Pranav016 commented on #216
Please mention under which program would you like to work on this..
If you are a part of GSSoC, points won't be given on issues/ PRs before 1 March.

[2021-02-26 14:12] vismitap commented on #216
under mexili

[2021-02-26 18:36] vismitap commented on #164
Hey! I would like to work on this issue as a part of mexili winter of code. 😀

[2021-02-27 18:06] Pranav016 commented on #217
Repeated issue #163 .
Closing this for now, reopen if required.

[2021-02-27 18:06] #217 closed

[2021-02-28 07:51] #216 closed

[2021-02-28 10:30] A7abhilash opened #221 "I would like to work on the frontend using React JS"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.

### Describe the solution you'd like
I have already made a similar project, do check it out [Blogchord](https://github.com/A7abhilash/blogchord). If you would like to move on from EJS to a better frontend technology then I would like to work on frontend part using React JS an

[2021-02-28 15:42] Pranav016 commented on #221
Sure, You can work on this issue. You can start by implementing a similar frontend using React. Later we can add more features.

[2021-02-28 17:39] mansijain980 commented on #221
@Pranav016 Sir , we can add more features in this like we can use node.js for blog updation.

[2021-03-01 00:51] luckykumarirai commented on #166
I would like to contribute as participant of GSSOC.

[2021-03-01 00:54] luckykumarirai commented on #163
@Pranav016 I would like to contribute.

[2021-03-01 05:44] chehak123 commented on #163
Hi, I want to work on it as a participant in GSSOC'21, can you please assign this issue to me?

[2021-03-01 05:44] chehak123 commented on #166
Hi, I want to work on it as a participant in GSSOC'21, can you please assign this issue to me?

[2021-03-01 05:51] rishitbhojak commented on #166
Can you add the GSSoc'21 label?

[2021-03-01 08:15] Pranav016 commented on #166
I have added the label for now, but make sure you are able to resolve the issue by tomorrow because you have already been assigned to this issue for 4 days. I advice not to retain an issue for more than 4-5 days then I'll assign the next person 👍

[2021-03-01 08:18] Pranav016 commented on #221
Yes, we can add more features. This issue was raised by @A7abhilash and he is working on making the frontend using React. This one is currently assigned to him. You can raise a new issue with whatever feature you want to implement or check out other open issues to contribute 👍

[2021-03-01 08:21] Pranav016 commented on #164
@vismitap Do you still want to work on this ? Since MWoC is over, let me know if you still want to work otherwise I'll change labels and open this issue to others as well.

[2021-03-01 08:47] Pranav016 opened #223 "Update the GIF in the README"
Update the GIF in the README to show the current website.

[2021-03-01 11:48] Ankita297 commented on #223
I would like to work on this ?
Can you Please add the GGSoC label ?

[2021-03-01 11:49] Ankita297 commented on #223
I would like to work on this .
Can you please add the GSSoC label ?

[2021-03-01 11:49] rishitbhojak commented on #166
Yes. The work is almost done.  Will make the PR tomorrow

[2021-03-01 12:01] vismitap commented on #164
Please assign GSSOC label to it. I would like to work on this!

[2021-03-01 14:08] Pranav016 opened #224 "Add categories feature for the blogs."
### Feature request
* Allow the author of the blogs to choose a category (from a dropdown menu of categories) when he is creating a blog post. This will be stored in the DB so some alteration to the schema will be required.
* Allow user to search via categories by giving a dropdown menu of categories on the home page.

[2021-03-01 14:11] Pranav016 opened #225 "Deciding the categories for the bogs || Discussion issue"
I wanted everyone's opinion on what are the different categories that we should divide/ separate the blogs under.
This discussion is in correspondence to the issue #224 .

[2021-03-01 16:26] ankitbiswal547 commented on #225
Hey There!
I would Like to suggests some categories.
Here they are:

1. IT & Software
2. Business
3. Personality Development
4. Design
5. Marketing
6. Lifestyle
7. Photography
8. Health & Fitness
9. Music
10. Academics
11. Language
12. sports
13. social media
14. History
15. space and research

[2021-03-02 05:42] tanay13 commented on #224
@Pranav016 please assign this to me

[2021-03-02 09:52] vismitap commented on #164
Hey! The coding period starts from 8th March! Can I make a PR at that time?

[2021-03-02 10:30] Pranav016 commented on #164
Wait, let me confirm, I thought it was 1 March.

[2021-03-02 13:03] tanay13 commented on #224
@Pranav016 Please assign this to me

[2021-03-03 04:45] Ankita297 commented on #223
![ezgif com-gif-maker](https://user-images.githubusercontent.com/67833077/109753951-27403000-7c09-11eb-8006-8ce5672decf7.gif)

[2021-03-03 04:45] Ankita297 commented on #223
Sir is it okay ?

[2021-03-03 08:52] Pranav016 commented on #223
Looks good.

[2021-03-03 08:53] Pranav016 commented on #225
@ankitbiswal547  Thank you for all the suggestions, these will be really useful.

[2021-03-03 08:54] Pranav016 commented on #224
Categories can be seen in #225

[2021-03-04 03:27] Ankita297 commented on #223
![Comparing ALPHAVIO_develop Ankita297_gif-new · ALPHAVIO_BlogSite - Google Chrome 04-03-2021 08_54_12](https://user-images.githubusercontent.com/67833077/109907013-7c427b80-7cc7-11eb-8ffd-6596813657b2.png)
![Comparing ALPHAVIO_develop Ankita297_gif-new · ALPHAVIO_BlogSite - Google Chrome 04-03-2021 08_54_21](https://user-images.githubusercontent.com/67833077/109907020-7fd60280-7cc7-11eb-8d63-7b87

[2021-03-04 03:28] Ankita297 commented on #223
Sir what should i do in this ? it is showing all the commits ?

[2021-03-04 03:40] Ankita297 commented on #223
But if i compare gif-new with your master branch then it will show only one commit .

[2021-03-05 05:14] Ankita297 commented on #159
Can i work on this ?

[2021-03-05 05:14] Ankita297 commented on #159
Can you please elaborate the issue ?

[2021-03-05 08:39] Pranav016 commented on #159
Actually this issue was raised by @RutvikJ77 so I think he would better be able to explain his vision for this issue.

According to me, it's about correct spacing, margins, orientations and improving the text styles to improve the website visually and improve user experience.

[2021-03-05 14:42] RutvikJ77 commented on #159
Yes, you are correct @Pranav016. The issue is that there are various unnecessary spaces that somehow disrupt the flow of vision which is crucial in UI terms.
- Another thing was that the "Anything new?" title should have the compose button in a single line rather than a new one, @Ankita297 you can do it using the span element. The next thing is the buttons there are kind of rigid meaning stiff in

[2021-03-05 16:02] Ankita297 commented on #159
Thank you @RutvikJ77  for elaborating the issue .
I would like to work on this .

[2021-03-05 17:15] Pranav016 commented on #159
Yes, you can make PR anytime. If it gets merged after 8th March then yes it counts towards GSSoC.

[2021-03-06 14:17] A7abhilash commented on #224
@Pranav016 I'll add this feature also once I'm done with frontend using ReactJS

[2021-03-06 14:44] Pranav016 commented on #224
You can work on this after the other one gets merged. Also if you are done with that, you can make a PR, reviewing takes time.

[2021-03-06 14:57] A7abhilash commented on #224
@Pranav016 yeah sure sure... Im working on all the [features](https://github.com/A7abhilash/blogchord/blob/dev/README.md) and ill try hosting it so that you can have a look at it before merging and sugfest any changes(UI, functioning and a bit of animations) ... Once its meged then we can go ahead with the additional features that are mentioned in issues list

[2021-03-06 22:41] vieee commented on #195
Hello @Pranav016, I would like to work on this issue, could I work on it ?

[2021-03-07 11:58] bitaashna opened #228 "adding update option on each post"
1.Add update option on post.Author of the post can update the post

I would like to work on it as a part of **GSSOC'21**
Can you please assign this work to me.

[2021-03-07 12:15] bitaashna opened #229 "Add reply section to Comments"
The comment section does not have a reply section. We can add it.
As a participant of GSSOC'21 ,I would to contribute to it.
can u please assign it to me.

[2021-03-07 12:23] bitaashna opened #230 "Add Option to see user Profile"
Currently the app is missing the option of user profile

Adding an option to see user profile in the home page.
In the profile option user can see user image, username and his/her email.
I would like to contribute to it as a part of GSSOC'21.
Can you please assign it to me.

[2021-03-08 05:25] Itsaadarsh commented on #152
Hey there @Pranav016, I'd like to work on this feature. So if it's not already assigned to anyone I'd like you it assign it to me so that I could get started right away.

[2021-03-08 12:44] innovation-platform commented on #166
Can I work on this?

[2021-03-08 14:15] Ankita297 commented on #159
![Daily Journal - Google Chrome 08-03-2021 19_42_35 (2)](https://user-images.githubusercontent.com/67833077/110332720-b654aa00-8046-11eb-8012-733919bb9746.png)

[2021-03-08 14:15] Ankita297 commented on #159
Sir is it okay ?
Or need some changes .

[2021-03-08 14:38] Pranav016 commented on #229
You can work on two issues at a time, I'll assign you the third one after your first two get merged 👍

[2021-03-08 14:41] Pranav016 commented on #152
So there is no description added for the issue so let me just tell you what to do, you need to make unit test for the app so that a GitHub action can be used to review each pull request. The tests will run on the PR before reviewing..
Let me know if you want to work on this..

[2021-03-08 14:42] Pranav016 commented on #159
Make the PR, then I'll review it..

[2021-03-08 14:47] satcasm opened #232 "Margin under nav-bar"
### **Describe the bug**
Some bottom margin is needed under the navbar. It looks pretty bad as of now.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to https://blogsite321.herokuapp.com/
2. See error

### **Screenshots**
![image](https://user-images.githubusercontent.com/56315878/110336884-4f85bf80-804b-11eb-9919-453edc9f3efa.png)

### **Additional context**
Would like to work on it

[2021-03-08 15:09] satcasm opened #234 "Text color"
The text color used in the paragraph with ``class=content-body-font`` just under the navbar is getting mixed up with the background  which doesn't looks so good.

Would like to improve upon it as a part of GSSOC' 21.

[2021-03-08 15:39] GuptaTanisha commented on #234
Can I work on this?

[2021-03-08 16:20] pi-squared-4 commented on #166
I would love to work on this, please assign me this issue.

[2021-03-08 17:19] subhangi2731 commented on #234
can you please assign this issue to me?

[2021-03-08 17:21] subhangi2731 commented on #225
can you please assign this issue to me?

[2021-03-08 17:24] Pranav016 commented on #225
This is just a discussion, issue to decide categories for #224 , you can work on some other issue..

[2021-03-08 17:24] #225 closed

[2021-03-08 17:24] subhangi2731 commented on #224
can you please assign this to me?

[2021-03-08 17:25] nandini7637 commented on #232
Hello I would like to contribute to it being a part of GSSOC, please assign it to me.

[2021-03-08 18:13] #223 closed

[2021-03-08 18:16] Pranav016 opened #235 "Add GitHub action to automatically close issue if it's corresponding PR gets merged."
# Feature request-
Add GitHub action to automatically close issue if it's corresponding PR gets merged. If the issue is mentioned in a PR and it gets merged then sometimes doesn't close automatically so add a GH action for that.

Note: If you want to work on an issue, you should check if it has already been assigned to anyone. If the issue is free you can comment `/assign` to get the issue assigne

[2021-03-08 18:21] Pranav016 opened #237 "Add GitHub action to automatically add label"
# Feature request-
Add GitHub action to automatically add `GSSoC'21` label if `GSSoC` or `GSSoC'21` or `GSSoC '21` is mentioned anywhere in an issue body.

Note: If you want to work on an issue, you should check if it has already been assigned to anyone. If the issue is free you can comment `/assign` to get the issue assigned to you.
If you are raising a new issue and want to work on it then also

[2021-03-08 18:21] Pranav016 commented on #235
/assign

[2021-03-08 18:26] Pranav016 commented on #224
You want to work under GSSoC ?

[2021-03-08 19:01] PHAGUN-JAIN commented on #237
hey! i would like to work on this as a GSSOC'21 participant

[2021-03-08 19:19] abhishek7997 commented on #166
Please assign this issue to me.

[2021-03-08 19:21] abhishek7997 commented on #232
Please assign this issue to me. I wish to contribute to it as a participant of GSSOC 2021

[2021-03-08 19:37] micksharma commented on #234
Can I work on this issue ?

[2021-03-08 19:38] micksharma commented on #230
Cai I work on this issue ?

[2021-03-08 19:39] micksharma commented on #230
Can I work on this issue ?

[2021-03-08 19:40] micksharma commented on #237
Can I work on this issue as a Gssoc 2021 participant ?

[2021-03-08 19:45] abhishek7997 commented on #232
![image](https://user-images.githubusercontent.com/68701271/110372958-f3379580-8074-11eb-89df-ea6e9fea5ba5.png)
Is this margin good enough?
Can I merge it?

[2021-03-08 20:00] Pranav016 commented on #237
Read the note in the issue description!

[2021-03-08 20:32] abhishek7997 commented on #232
Sir, I have successfully made a PR, what will happen next?

[2021-03-09 00:52] NehaK745 commented on #234
Can l work on this issue?

[2021-03-09 02:26] Rimpi246 opened #243 "Like feature"
### There is no number of views feature in the blogs
There should be a number of views feature to keep count of how many people visited your blog

### Please  `/assign` this to me.I would like to work on it as a part of GSSOC'21.

<hr/>

[2021-03-09 02:30] Rimpi246 commented on #228
I would like to work on this issue.Please `/assign` this to me as a part of GSSOC'21

[2021-03-09 02:32] Rimpi246 opened #244 "Number of views feature"
### There is no number of views feature
There should be a number of views feature to help keep count of how many people visited your blog.

### Please `/assign` this to me as a part of GSSOC'21

<hr/>

[2021-03-09 02:34] Ankita297 commented on #235
/assign

[2021-03-09 02:55] sahildotexe commented on #234
Can you assign this issue to me?

[2021-03-09 04:11] Abhijay007 commented on #237
/assign

[2021-03-09 04:24] abhinav5481 commented on #230
I would like to work on this issue. Could you please assign it to me?

[2021-03-09 04:26] abhinav5481 commented on #163
Hello
I would like to work on this issue as part of GSSOC21. Could you please assign it to me?

[2021-03-09 05:11] innovation-platform commented on #166
![image](https://user-images.githubusercontent.com/65439306/110421601-d8d8d880-80c3-11eb-87de-226862c39d20.png)
Are the changes made fine or should I work on it more.

[2021-03-09 05:12] innovation-platform commented on #166
I also have a small suggestion that it would be nice if we could increase the font size of the "Number of posts".

[2021-03-09 06:49] Riya764 commented on #243
would like to work on this under gssoc'21.

[2021-03-09 06:50] Riya764 commented on #234
Can l work on this issue?

[2021-03-09 06:50] Riya764 commented on #229
Can l work on this issue?as a part of GSSoC' 21

[2021-03-09 06:51] Riya764 commented on #228
I would like to work on this issue.Please assign this to me as a part of GSSOC'21

[2021-03-09 07:22] dhruvinfo28 commented on #224
Shall I work on this under GSSoc 2021? I will use EJS templating engine.

[2021-03-09 07:39] anushree71199 commented on #243
I would like to work on this issue under GSSoc '21

[2021-03-09 07:58] cryptofox17 commented on #232
I would like to work on this issue, please consider assigning it to me

[2021-03-09 08:26] Esha-Sherring commented on #230
I would like to work on this issue

[2021-03-09 08:27] Esha-Sherring commented on #163
Hello
I would like to work on this issue as part of GSSOC21. Could you please assign it to me?

[2021-03-09 08:27] cryptofox17 opened #248 "Making the website fully responsive"
The website at the current stage is not completely responsive. The Footer especially doesn't occupy the complete width when viewed from a mobile device.

I would like to work on this and fix the footer as well as the other elements in order to make the website more responsive.

I want to work on it under GSSoC

[2021-03-09 08:27] cryptofox17 commented on #248
/assign

[2021-03-09 08:48] Aditya7494 commented on #234
I am interested in contributing to fix this issue.
Can you please assign to me?

[2021-03-09 09:24] Sakshi0401 commented on #234
can you please assign this issue to me?

[2021-03-09 09:25] Sakshi0401 commented on #229
As a participant of GSSOC'21 ,I would to contribute to it.
can u please assign it to me?

[2021-03-09 10:11] ishikalohia opened #249 "Font is not clearly visible on the Blog page."
On the Blog page , the font size is too small. It is not clearly visible and the font color is similar to the background image which makes it difficult for the user to read.

![image](https://user-images.githubusercontent.com/58163099/110454778-acd24d00-80ed-11eb-8c38-807e7d6d3a0a.png)

I would like to work on the blog page and make it look more attractive and readable for the users.

Can you assi

[2021-03-09 10:12] ishikalohia commented on #249
`/assign`

[2021-03-09 11:05] riddhisiddarkar opened #251 "Making the site responsive"
Making changes to the existant code to make it mobile friendly

[2021-03-09 11:07] Pranav016 commented on #164
Are you still working on this?

[2021-03-09 11:08] Pranav016 commented on #163
Are you still working on this?

[2021-03-09 11:21] vismitap commented on #164
Yes!

[2021-03-09 11:44] tejasimangale commented on #251
I would like to work on this issue as a participant of gssoc21

[2021-03-09 12:26] RushanKhan1 commented on #251
Hey guys! This issue is very similar to Issue #248 opened 4 hours ago and that issue has already been self-assigned therefore I request you guys to find or create a different issue to work with! And as a quick reminder, I would suggest you to please check for previous similar issues before creating a new one as stated in the [Contribution Guidelines](https://github.com/ALPHAVIO/BlogSite/blob/maste

[2021-03-09 12:40] mis-coder opened #252 "Add a contact form"
### Is your feature request related to a problem? Please describe.
  Not a problem actually, rather an improvement I will say. In the Contact Us page, a form can be added.

### Describe the solution you'd like
- So we can add a form with fields, like name, email, message and a submit button which is what a usual form has.

### Describe alternatives you've considered
- Even if you don't want to hav

[2021-03-09 12:40] tejasimangale commented on #251
Ohk @RushanKhan1 Will take a note of this. Thank you!

[2021-03-09 12:54] Naman-12911 commented on #234
hello,
can you please assign me this issue under GSSOC

[2021-03-09 13:15] Pranav016 commented on #243
Is this issue repeat of #244 or #164 .
If yes then you can close this issue :)
otherwise you can explain what you want to work under this..

[2021-03-09 14:22] kanchi-22 commented on #249
/assign

[2021-03-09 14:31] #251 closed

[2021-03-09 14:38] anushree71199 commented on #159
I would like to contribute to this issue under GSSoc '21 is it open?

[2021-03-09 14:49] Ayushisood commented on #234
Hii @Pranav016
I would love to contribute to this task as a GSSOC'21 participant.
Kindly assign the task to me as i am very much familiar with HTML,CSS, JS.

[2021-03-09 14:53] AakankshaShah opened #254 "I would like to add rating and sharing feature.Can you please assign me this task under GSSOC'21 particiant?"

[2021-03-09 14:53] anushree71199 commented on #229
I would like to contribute to this issue as a part of GSSoc '21, Can you please assign it to me?

[2021-03-09 14:54] anushree71199 commented on #224
Can I contribute to this issue under GSSoc '21?

[2021-03-09 16:01] Itsaadarsh commented on #152
Yes, I totally get it I'll start writing all the required test cases using `jest` then make a unit testing pipeline using `GitHub Actions` which will run all the test cases once a PR is made, sounds good?

[2021-03-09 18:44] nikhilgupta2001 commented on #229
As a participant of GSSOC'21 ,I would like to contribute to it.
can u please assign it to me?

[2021-03-09 18:46] nikhilgupta2001 commented on #163
As a participant of GSSOC'21 ,I would like to contribute to it.
can u please assign it to me?

[2021-03-09 18:47] SARVESHKHANDELWAL commented on #163
Hello, Can you please assign me?

[2021-03-09 18:55] kanchi-22 commented on #252
/assign

[2021-03-09 18:56] SARVESHKHANDELWAL commented on #234
Hola @Pranav016,
Can you please assign me this issue?

[2021-03-09 19:08] mohdjameel2412 commented on #249
/assign

[2021-03-09 19:50] Sloth-Panda opened #256 "welcome bot"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.

`yes`

### Describe the solution you'd like
A clear and concise description of what you want to happen.

`This will be a bot that basically will be greeting anyone who opens an issue for the first time or makes a pr for the first time in a repo.`
download the bot from here ht

[2021-03-09 19:50] Sloth-Panda commented on #256
/assign

[2021-03-09 19:52] Sloth-Panda commented on #256
@Pranav016 Can you please gssoc'21 and other relevant tags to it

[2021-03-09 21:06] #256 closed

[2021-03-09 21:13] Pranav016 commented on #243
Closing for now, re-raise issue if required

[2021-03-09 21:13] #243 closed

[2021-03-10 05:05] Aanchal116 commented on #166
Hii @Pranav016 , Can I please work on this issue as a part of GSSOC 21?

[2021-03-10 05:08] ireneelizabethsabu opened #259 "Modify SignUp and Login input fields."
### Is your feature request related to a problem? Please describe.
yes, The input fields in the signup and login page are too long which doesn't look good for the webpage.

### Describe the solution you'd like
So the width can be reduced to a half and properly aligning the section to center.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions o

[2021-03-10 05:09] Aanchal116 commented on #159
I would like to work on the issue, is it still open for GSSOC?

[2021-03-10 05:11] Aanchal116 commented on #232
Hello I would like to contribute to it being a part of GSSOC, please assign it to me.

[2021-03-10 06:05] AasthaCodex commented on #234
hey @Pranav016 Can you please assign this issue to me?

[2021-03-10 06:07] abhishek96k commented on #259
Please /assign me this issue as a part of GSSoC'21

[2021-03-10 06:13] abhishek96k commented on #259
/assign

[2021-03-10 06:43] AnanyaNegi commented on #159
Thank you for your enthusiasm @anushree71199, @mohdjameel2412, @Aanchal116 but this issue has been currently assigned to @Ankita297.

[2021-03-10 08:08] Siddharth1006 opened #263 "DOUBTS!"
This place can be used for asking any queries related to the project.

[2021-03-10 08:12] RushanKhan1 opened #264 "Fix Common URLs for different posts with same name."
### **Describe the bug**
The URL for posts is not unique, which results in a conflict for posts with the same name. If there are multiple posts with the exact same name, then the post which is the oldest will be opened every time when you click on ``Read More`` on any of the same name posts.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to the [project website](https://blogsite321.h

[2021-03-10 08:12] nikhilgupta2001 commented on #228
I would like to work on this issue.Please assign this to me as a part of GSSOC'21

[2021-03-10 08:18] Siddharth1006 opened #265 "Want to add some functionalities"
1) want to add a functionality to get notified when a user I followed posted so that I can read.
2) Would like to add a functionality to SAVE a particular post of another user so that i can read later.

[2021-03-10 08:19] Siddharth1006 commented on #265
I want to work on this issue as a GSSOC'21 participant.

[2021-03-10 09:35] Abhinaba006 opened #266 "Organising the code first"
### Is your feature request related to a problem? Please describe.
It is a feature request, mainly in the code part. I will work under GSSOC

### Describe the solution you'd like
I will organize the files and the code that will make it easy to read and that will be helpful for future editing. for example the blog model is not in the model directory instead it is in the index.js and there are many

[2021-03-10 09:36] Abhinaba006 commented on #266
/assign

[2021-03-10 09:49] janvi01 opened #267 "A daily journal logo in header section."
To make header section more impressive.
I will design a logo and add it

[2021-03-10 09:49] janvi01 commented on #267
\assign

[2021-03-10 09:50] janvi01 commented on #267
/assign

[2021-03-10 10:10] #267 closed

[2021-03-10 11:06] nishantsahu961 commented on #265
I would like to work upon the addition of these feature  as a GSSOC 21 participant

[2021-03-10 11:14] machine-sg commented on #230
I want to work on this as a part of GSSOC'21 .

[2021-03-10 11:14] satyabhagavan commented on #234
Hey @Pranav016
As a GSSOC'21 participant I would love to work upon this issue. I have previously worked with HTML, CSS, React JS as well as Bootstrap. Could you please assign this issue to me?
Thank you!!

[2021-03-10 11:27] FireQueen-3010 opened #268 "Change color theme of the full website."
### **Describe the bug**
The theme of the website is not particularly impressive. The color themes (including fonts, buttons, footers, and various sections of the website) are not exactly appealing.

### **To Reproduce**
Steps to reproduce the behavior:
1. Fork and clone the project.
2. Create a new branch because changing the full theme is a major change.
3. Go to the 'public' folder of the proje

[2021-03-10 11:27] FireQueen-3010 commented on #268
/assign

[2021-03-10 11:44] krishna-y2000 opened #269 "Third Party Authentication"
### Is your feature request related to a problem? Please describe.
I have found that  3rd party authentication is remaining to add in this project . It is very helpful nowadays and saves a lot more time .

### Describe the solution you'd like
I would like add direct authentication api of google and facebook in this project so that user's time will save.

Let me build this feature and assign  this

[2021-03-10 11:52] Siddharth1006 commented on #265
/assign

[2021-03-10 11:58] krishna-y2000 opened #270 "[GSSOC'21] Confirm password text box is not present"
### Is your feature request related to a problem? Please describe.
Sometimes user urgently enter wrong password during sign up and forget that . Confirm password will help them to write it twice so they will not forget and also write it correctly.

### Describe the solution you'd like
I would like to add a new text box in sign up that will match the current password and also will make changes to b

[2021-03-10 12:04] prajjwalarora commented on #264
@Pranav016 I want to work on this issue under GSSOC21. can you please assign this to me?

[2021-03-10 12:11] krishna-y2000 opened #271 "Add User profile section - gssoc'21"
### Is your feature request related to a problem? Please describe.
There is no section of user bio . It will be great if reader can see the bio of writer.

### Describe the solution you'd like
I would like to add a new tab of user profile which would include details of writer like Introduction,country,hobby etc fields.
Please assign this task to me as part of  gssoc'21 .

<hr/>

Note:
If you want

[2021-03-10 12:14] prajjwalarora commented on #264
/assign

[2021-03-10 12:16] krishna-y2000 commented on #269
/assign

[2021-03-10 12:17] krishna-y2000 commented on #270
\assign

[2021-03-10 12:25] #271 closed

[2021-03-10 12:27] RushanKhan1 commented on #254
Hi @AakankshaShah, Can you please provide a detailed description of your issue by preferably filling out the headings in the issue template.

[2021-03-10 12:38] Pranav016 commented on #237
/level2/

[2021-03-10 12:57] pshivesh8 commented on #234
As a GSSOC'21 participant, I would love to work on this issue. I have previously worked with HTML, CSS, React JS, Node JS as well as Bootstrap. Could you please assign this issue to me?
Thank you!!

[2021-03-10 14:58] aniketlodh commented on #244
I would like to work on the number of views feature.

[2021-03-10 15:15] Asmita-si commented on #234
I want to work on this issue. Can you please assign it to me? @Pranav016

[2021-03-10 15:30] Abhinaba006 commented on #266
@RushanKhan1 , I have written what I will like to do, after this I will add more features to this website. Can you kindly add a gssoc21 label to this bug as I am working under gssoc21, it will be helpful for me

[2021-03-10 15:44] hrushikesh-git commented on #232
Hey wanted to work on this issue as the
 beginning of my GSSOC'21 contribution

[2021-03-10 15:48] hrushikesh-git commented on #163
Hey @Pranav016 I love the idea and essence of the blogging site please assign this issue to me -GSSOC'21

[2021-03-10 17:20] RushanKhan1 commented on #266
Okay, but I suggest you make different issues and pull requests for different features/fixes. This will help us add relevant tags on all the issues and pull requests and will make it easier for us to decide which pull request needs to be merged. So for this issue, I suggest you primarily work on code restructuring, and create different issues and pull requests for the other things you mentioned.

[2021-03-10 17:21] RushanKhan1 commented on #266
/gssoc/

[2021-03-10 17:25] Abhinaba006 commented on #266
Yes, understood, I have done the restructuring well so I am sending the pr now and later I will create more issues to add features.

[2021-03-10 17:26] RushanKhan1 commented on #263
/close-issue/

[2021-03-10 17:33] Abhinaba006 commented on #266
/label2/

[2021-03-10 17:33] Abhinaba006 commented on #266
/level1/

[2021-03-10 17:35] Abhinaba006 commented on #266
/reviewed/

[2021-03-10 17:35] Abhinaba006 commented on #266
/merge/

[2021-03-10 17:39] bhubesh757 opened #276 "Add a Newsletter in Contact Us!!"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like
Newsletter makes the user friendly , it directly sends the blog posts daily in which part they interested in

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

### Describe how this feature will be useful to

[2021-03-10 20:03] #159 closed

[2021-03-10 21:42] shudhanshu03 commented on #249
/gssoc/

[2021-03-10 21:43] shudhanshu03 commented on #249
/level2/

[2021-03-10 21:44] shudhanshu03 commented on #270
/gssoc/
/level2/

[2021-03-10 21:44] shudhanshu03 commented on #270
/level2/

[2021-03-10 21:49] shudhanshu03 commented on #259
/level2/

[2021-03-11 01:11] Rimpi246 commented on #244
Hello @Pranav016 , this is not the same as the like functionality issue. This feature is to give a count of how many people visited your blog. Hope that makes it clear😃
Hence if you think this as acceptable, I would like to work on this. So please assign this to me

[2021-03-11 01:21] Pranav016 commented on #195
Try a few times, sign up or log in, comment, create posts. If it still doesn't give any error then I'll close this issue..

[2021-03-11 03:27] AnanyaNegi commented on #268
/level1/

[2021-03-11 03:39] AnanyaNegi commented on #268
/gssoc/

[2021-03-11 03:44] AnanyaNegi commented on #269
/gssoc/

[2021-03-11 04:00] AnanyaNegi commented on #265
/gssoc/

[2021-03-11 04:04] AnanyaNegi commented on #265
/level3/

[2021-03-11 05:01] FireQueen-3010 commented on #268
Hi Ananya, thank you so much for assigning this issue to me. I have a tiny doubt, please do clarify it. Changing the entire theme in the website is a major feature that changes the complete look and feel of the website and it takes a bit of work as well. Do you think, it would be worth increasing the issue's level? Hope you consider this and I will glad whatsoever would be your decision. Thank you

[2021-03-11 06:16] aniketlodh commented on #195
https://user-images.githubusercontent.com/55927827/110744174-440ae200-825f-11eb-9dcf-629d1e27e5bb.mp4

I have tried several times but the error is not showing up. You can refer to the video I have attached.

[2021-03-11 06:19] aniketlodh commented on #228
Delete function on each post is already added. The feature is, the author of the post can only delete the post.

[2021-03-11 08:24] #266 closed

[2021-03-11 08:40] AnanyaNegi commented on #269
/level3/

[2021-03-11 08:45] AnanyaNegi commented on #263
/close-issue/

[2021-03-11 08:52] AnanyaNegi commented on #164
Thank you for your enthusiasm @anushree71199 . This issue is currently assigned to @vismitap . You may take a look at some other issues.

[2021-03-11 08:57] AnanyaNegi commented on #164
/level2/

[2021-03-11 08:58] AnanyaNegi commented on #264
/level2/

[2021-03-11 08:59] AnanyaNegi commented on #263
/close issue/

[2021-03-11 09:01] Abhinaba006 opened #280 "Nodemon as the dev dependency"
### Is your feature request related to a problem? Please describe.
It is a feature request,. In the code, the app starts with nodemon, but it shouldn't be, nodemon must be used as a developer dependency.

### Describe the solution you'd like
I will make the change in the package.json file.

### Describe alternatives you've considered
It is a simple solution so it needs no alternate solutions, it w

[2021-03-11 09:01] Abhinaba006 commented on #280
/assign

[2021-03-11 09:02] AnanyaNegi commented on #221
/level3/

[2021-03-11 09:23] Abhinaba006 opened #282 "All models should be under model folder"
### Is your feature request related to a problem? Please describe.
The blog mongoose model is in the app.js and the user model is in the model folder, which is very uncomfortable to read for developers, I want to fix that issue.

### Describe the solution you'd like
transfer the blog model under the model folder

### Describe alternatives you've considered
need no alternatives.

### Describe how t

[2021-03-11 09:24] Abhinaba006 commented on #282
/assign

[2021-03-11 09:24] lopamudra2000 commented on #166
I want to work on enhancing these input fields and go buttons . Please assign it to me as a gssoc21 participant.

[2021-03-11 09:27] lopamudra2000 commented on #221
I want to contribute along to refractor the current structure in to React. I am a gssoc21 participant . please assign this to me

[2021-03-11 09:27] lopamudra2000 commented on #221
I want to contribute along to refractor the current structure in to React. I am a gssoc21 participant . please assign this to me

[2021-03-11 09:37] lopamudra2000 opened #283 "Improving the current pagination which looks unattractive"
The current pagination of blog cardslooks unattractive .  We can improve it ui using a suitable framework.

[2021-03-11 09:39] lopamudra2000 commented on #283
/assign

[2021-03-11 09:47] lopamudra2000 commented on #283
I'm a participant of GSSOC'21 and I want to contribute to this issue . I request @admin @Pranav016  and @mentors to assign my this issue and put label of gssoc on it.

[2021-03-11 09:52] simranbhalla3 commented on #234
Please assign this issue to me, i would like to work on this and show my creativity @Pranav016

[2021-03-11 10:22] AnanyaNegi commented on #268
Sure @FireQueen-3010  ill be raising the level of the issue to `level 2`. Hope that's okay with you. Thank you for bringing this to my attention.

[2021-03-11 10:22] AnanyaNegi commented on #268
/level2/

[2021-03-11 10:25] AnanyaNegi commented on #268
/close-level1/

[2021-03-11 10:53] lopamudra2000 commented on #283
/gssoc/

[2021-03-11 11:11] Abhinaba006 commented on #282
/gssoc21

[2021-03-11 11:14] Abhinaba006 commented on #280
sir, I am a GSSOC21 participant, please add the gssoc21 label, it will be a lot to me

[2021-03-11 11:24] FireQueen-3010 commented on #268
Thank You!

[2021-03-11 12:20] #248 closed

[2021-03-11 12:38] Rimpi246 commented on #228
And update also after editing

[2021-03-11 12:42] SpecTEviL opened #285 "Adding a auto Page Scrolling Button."
### Is your feature request related to a problem? Please describe.
When there are many blogs the webpage becomes lengthy and thus if the user is at the bottom and wants to go on top then they need to scroll a lot.

### Describe the solution you'd like
During such scenarios, the auto page scrolling button comes in handy allowing the user to scroll to the top just with the help of a single button.

[2021-03-11 12:42] SpecTEviL commented on #285
/assign

[2021-03-11 12:44] SpecTEviL commented on #285
As this issue is under GSSoC'21 I request the admins @Pranav016 to add a GSSoC tag and a difficulty level accordingly.
Thanks!

[2021-03-11 13:12] #283 closed

[2021-03-11 14:09] aniketlodh commented on #228
Hi @Pranav016,  i would like to work on this issue.

[2021-03-11 14:50] #280 closed

[2021-03-11 14:51] RushanKhan1 commented on #285
/gssoc/

[2021-03-11 14:51] RushanKhan1 commented on #285
/level2/

[2021-03-11 14:51] #166 closed

[2021-03-11 15:08] #263 closed

[2021-03-11 15:22] RushanKhan1 commented on #252
/gssoc/

[2021-03-11 15:22] RushanKhan1 commented on #252
/level2/

[2021-03-11 15:25] RushanKhan1 commented on #282
/gssoc/

[2021-03-11 15:25] RushanKhan1 commented on #282
/level2/

[2021-03-11 15:39] shrishti-c opened #288 "Bug Report"
While starting project, these bugs are encountered
![Screenshot_125](https://user-images.githubusercontent.com/73748606/110812752-e3ef5c80-82ad-11eb-9897-3fcfa334a396.png)

[2021-03-11 15:43] prajjwalarora commented on #288
this is not a bug actually you forgot to add the .env file with relevant environment variables.

[2021-03-11 16:55] gritika18 opened #289 "To change the color and style of Navbar and make it adjustable according to different devices"
The  color of the navigation bar is similar to the color of the page. It is getting mixed with the main content.                                      I would like to change the color of navigation bar and also the positions of the navbar contents. I would also love to make it look good according to different devices.
This will be beneficial for the users if they are opening the website on a differ

[2021-03-11 16:58] gritika18 commented on #289
/assign

[2021-03-11 17:20] Pranav016 commented on #288
@prajjwalarora Thanks for helping her, I like your open-source spirit!

@shrishti-c If you are still having issues, do add a couple more screenshots so that I can review. The whole error message is still not visible.

[2021-03-11 17:20] Pranav016 commented on #288
/reviewed

[2021-03-11 17:47] Abhinaba006 opened #291 "Some color and ui related issue."
### Feature request-
The current color of the website is unattractive due to high contrast in the dark mode.

### Describe the solution you'd like
I will like to edit the partial and css file to make the color theme more attractive that will ultimately make the website more decorated.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or featu

[2021-03-11 17:47] Abhinaba006 commented on #291
/assign

[2021-03-11 17:49] Abhinaba006 commented on #291
sir if there is a design you will like to implement I can do that, If so, can you please send me the design or otherwise I will do it by myself, You can mail me at abhinaba006@gmail.com.

[2021-03-11 18:00] oneknucklehead opened #292 "issue regarding color code and navbar and content of the main page"
**Describe the bug**
The color code of the website looks quite bleak and the navbar and the main content of the webpage also look quite squeezed.
Describe the solution you'd like:
I would like to change the color code of the website so as to make the website look more attractive by adding some changes to the CSS and also change the look of the main page and the navbar which looks quite squeezed.

[2021-03-11 18:00] oneknucklehead commented on #292
/assign

[2021-03-11 18:22] RushanKhan1 commented on #292
Hey @oneknucklehead! Thanks for your interest in the project.
This issue is very similar to issue #268.
Please create a new issue or find a different issue to work with and before creating a new issue please check if a similar issue already exists.

[2021-03-11 18:26] #292 closed

[2021-03-11 18:28] oneknucklehead commented on #292
Hey @RushanKhan1! Thank you for pointing it out, I might have not seen the issue earlier. I wanted to know that whether I can still work on this issue or not?

[2021-03-11 18:32] RushanKhan1 commented on #291
Hey @Abhinaba006, thanks for your interest in the project!
The whole color scheme of the website is already being worked upon under issue #268 therefore please find a different issue to work with or create a new one after making sure that a duplicate doesn't exist.

[2021-03-11 18:32] #291 closed

[2021-03-11 18:38] RushanKhan1 commented on #292
Well, @FireQueen-3010 is already working on the issue, so if you still want to work on it then you can wait for her to make her pull request and then improve upon that, or if she doesn't make one within the allotted time then you can ``/assign`` yourself the issue.

[2021-03-11 18:42] udaymittal7 opened #293 "Google Oauth while signing up"
### Feature request-
I want to add the Google Oauth in the signup page for the ease for users. I will be using passport and passport google strategies for building this.

### Describe alternatives you've considered
We can also make facebook and twiitter authentication but google seems to be the most appropriate.

### Describe how this feature will be useful to our readers.
It will ease up the sign

[2021-03-11 18:44] Abhinaba006 commented on #291
Ok, I will check before creating a new issue

[2021-03-11 18:48] RushanKhan1 commented on #289
Hi @gritika18!
The website color scheme is already being worked upon under issue #268 and our current navbar is fully responsive, however, if you want to make further improvements then please create a different issue focusing on those improvements. So for now please find a different issue to work with or create a new one after making sure a similar issue doesn't exist.

[2021-03-11 18:48] #289 closed

[2021-03-11 18:52] RushanKhan1 commented on #293
Hey @udaymittal7!
Third-party authentication is already being worked upon under issue #269, therefore please create a new issue or find a different issue to work with and before creating a new issue please check if a similar issue already exists.

[2021-03-11 18:52] #293 closed

[2021-03-11 18:52] ankitbiswal547 opened #294 "the three dots are wrongly placed near the read more button"
Hey @Pranav016 !
In the home page we have all the blogs getting showed there.
keeping a limit of 15000000 makes the page more crowded. Also the three dots are not aligned properly.

Having a limit of approx. 500 to 1000 makes it more appealing and increases the user experience.

I want to work on this to improve this part and to place the three dots conditionally when we have crossed the limit we

[2021-03-11 19:08] ankitbiswal547 commented on #294
/assign

[2021-03-11 19:17] ankitbiswal547 commented on #294
Thanks @RushanKhan1 for this opportunity. Already started working on it.

[2021-03-11 19:46] Pranav016 commented on #276
Do you want to develop a form on contact page and use a mailing API for the periodic mails. Can you elaborate your idea more ?

[2021-03-11 19:46] Pranav016 commented on #276
/reviewed

[2021-03-11 19:47] Pranav016 commented on #254
/reviewed

[2021-03-11 19:50] Pranav016 commented on #195
This issue wasn't disrupting the website, it was on the console. Maybe it is only on my system. Closing this issue for now, will reopen if required.

[2021-03-11 19:50] #195 closed

[2021-03-11 19:58] Pranav016 opened #295 "Alignment issue on home page."
### **Describe the bug**
![image](https://user-images.githubusercontent.com/54665036/110846811-39d5fb80-82d2-11eb-8dd8-900f1ce8a3b6.png)

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to home page of the website

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue

[2021-03-11 20:01] Pranav016 opened #296 "Improve Navbar"
### Feature request-
Change color of navbar and update headline

### Describe the solution you'd like
A new color scheme for the navbar and update the heading 'Daily journal' to something different. You can be creative.
![image](https://user-images.githubusercontent.com/54665036/110847133-8d484980-82d2-11eb-9005-81fece1c946a.png)

**Note:**
* If you want to work on an issue, you should check if it

[2021-03-11 20:05] hrushikesh-git commented on #296
@Pranav016 I would like to work on this issue. I am a GSSOC'21 participant

[2021-03-11 20:08] hrushikesh-git commented on #295
Hey @Pranav016 I would like to work on this issue please assign it to me, GSSOC'21 participant

[2021-03-11 20:09] shudhanshu03 commented on #276
/gssoc/

[2021-03-11 20:10] shudhanshu03 commented on #254
/gssoc/

[2021-03-11 20:12] shudhanshu03 commented on #230
/level3/

[2021-03-11 20:13] shudhanshu03 commented on #296
@hrushikesh-git  , Just comment "/assign" and start working on it .

[2021-03-11 20:17] hrushikesh-git commented on #296
/assgin

[2021-03-11 20:17] hrushikesh-git commented on #296
Thanks man

[2021-03-11 20:18] shudhanshu03 commented on #296
/level2/

[2021-03-11 20:19] shudhanshu03 commented on #296
@hrushikesh-git  You have 4 days to complete this thing as this is lvl2 task so @Pranav016 and team has decided to give 4 days and its enough for this issue . Keep up the good contribution .

[2021-03-11 20:22] prajjwalarora commented on #295
/assign

[2021-03-11 20:25] hrushikesh-git commented on #296
Okay Great alredy started working

[2021-03-11 22:33] #282 closed

[2021-03-11 22:48] Pranav016 opened #298 "Issue in opening blog posts || Bug"
### **Describe the bug**
Error on trying to open blog posts after merging #290

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to home page
2. Click on READ MORE on any posts

### **Expected behavior**
Should open the blog posts.

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign`

[2021-03-12 02:12] bhubesh757 commented on #276
@Pranav016 If We Create The Newsletter , Each Blog will Reach To the Subscribers Through the mail , By using The Mailchimp
Does anybody is willing to contribute

[2021-03-12 02:24] Abhinaba006 commented on #298
It must be route related something, I am working on it

[2021-03-12 02:24] Abhinaba006 commented on #298
/assign

[2021-03-12 04:04] Abhinaba006 opened #300 "MongoError warning at starting of the server"
### **Describe the bug**
When the server is started, in the console it shows a mongoerror warning

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to console
2. run 'npm run dev'
4. See error

### **Expected behavior**
It should not show the warning.

### **Screenshots**
![image](https://user-images.githubusercontent.com/54203624/110890451-a24cc900-8322-11eb-8c08-91f7ee3bc459.png)

**N

[2021-03-12 04:20] zhcet19 commented on #276
I would love to work upon it as a GSSOC' 2021 participant but would you please specify it in more detail for clarification

[2021-03-12 04:22] Abhinaba006 opened #301 "Login button needed at the home page"
### Feature request-
On the home page, it only shows options of login or signs up when an unauthenticated user tries to create a post instead of that there must be a login/signup option.

### Is your feature request related to a problem? Please describe. (optional)
It is a feature and helpful for users as it is without a signup option it is hard for the user to know how to create an account.

###

[2021-03-12 04:22] Abhinaba006 commented on #301
/assign

[2021-03-12 06:09] AnanyaNegi commented on #301
/gssoc/

[2021-03-12 06:09] AnanyaNegi commented on #301
/level2/

[2021-03-12 06:13] AnanyaNegi commented on #230
@bitaashna are you still working on this issue?

[2021-03-12 06:43] bitaashna commented on #230
yea @AnanyaNegi ,I am working on it. By tomorrow I'll submit it.

[2021-03-12 06:47] srk224 commented on #300
/assign

[2021-03-12 06:50] Ankita297 commented on #235
https://github.com/marketplace/actions/closes-issues-related-to-a-merged-pull-request

[2021-03-12 06:50] Ankita297 commented on #235
Sir are you asking about something  like this ?

[2021-03-12 06:54] Pranav016 commented on #235
Yes this works..

[2021-03-12 06:56] Ankita297 commented on #235
okay sir.

[2021-03-12 06:57] Ankita297 commented on #235
So we have to include both master and develop branch or only develop ?

[2021-03-12 06:58] Ankita297 commented on #235
So can you assign me this again ?

[2021-03-12 07:18] srk224 commented on #300
I have solved the issue
Now it looks like this
![2021-03-12](https://user-images.githubusercontent.com/63584405/110905846-26a64880-8331-11eb-81d9-dd482639e87a.png)
Should I create my PR??

[2021-03-12 07:22] srk224 commented on #300
Can you please add the gssoc label and tell me if I should create my PR as the issue has been solved!

[2021-03-12 07:37] tanishq-arya opened #306 "UI Issue - Footer icon links"
### **Describe the bug**
The icons in the footer don't work.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to "https://blogsite321.herokuapp.com/"
2. Click on any icon in the footer
3. You're still on home page

### **Expected behavior**
It should take you to the website profile for the same.

### **Additional context**
Add the links in href="" of <a> tags or remove them if not requ

[2021-03-12 07:39] tanishq-arya commented on #306
I couldn't find any issue similar to this and I am not sure if the ui design one solves this, so I have not self-assigned myself this issue. If I can work on this, I would like to do so.

[2021-03-12 08:43] gritika18 commented on #289
Ok thankyou I'll look for other issues.

[2021-03-12 09:11] Abhinaba006 commented on #300
Great work @srk224! You can make the pr if you want, mentors can add the level label.
How did you solve the problem?

[2021-03-12 09:23] ankitaugale23 commented on #306
I would like to work on footer styling. for Example, Adding some effects to icons and adding some styling to text in the footer. If @tanishq-arya as he mentioned is working on functionality only. Can I take the designing part of the footer? @Pranav016 @AnanyaNegi @RushanKhan1 @shudhanshu03.
If you are ok with me working on this. Should I create a different issue or can I directly work on this.
Ple

[2021-03-12 09:33] ankitaugale23 opened #308 "Adding styling to Contact Us Page to make it look more lively"
### Feature request-
Contact us page of website looks very plain. I wanted to add some styling and effects to the Contact us page so it will look more lively.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Adding styling to the paragraph written over there like other websit

[2021-03-12 09:33] ankitaugale23 commented on #308
/assign

[2021-03-12 09:39] tanishq-arya commented on #306
Hey @ankitaugale23 You can work on it if they say. The functionality part is a very small issue. If they assign you the issue to work on Add the links in href="" of tags or remove them if not required in the html file.

[2021-03-12 09:41] tanishq-arya commented on #306
Styling part is I guess being handled in the issue #268

[2021-03-12 09:43] ankitaugale23 commented on #308
Should I start working o this? @AnanyaNegi @Pranav016 @RushanKhan1 @shudhanshu03

[2021-03-12 10:37] srk224 commented on #300
We just needed an extra line of mongoose set statements and we needed to update the mongoose version..
Thats all and the warning was removed
I aam creating a PR. Please add the gssoc label
Thanks a lot

[2021-03-12 10:43] srk224 commented on #300
I have created the PR. Thanks alot.Looking forward for more issues

[2021-03-12 11:45] rohank2502 opened #310 "Improve Tech stack ( with logo )"
I will like to add the logo of the tech stacks used in our project this will make our read me more attractive !! Will start working on this issue as soon as I get assigned !!

[2021-03-12 11:46] rohank2502 opened #311 "Automatic Contribution updater !"
I will like to add a feature which will keep the contribution section of our read me file updated automatically !!

[2021-03-12 12:38] shudhanshu03 commented on #308
Go on , I have checked no one is working on similar issue . You are already assigned .

[2021-03-12 12:39] shudhanshu03 commented on #308
/gssoc/

[2021-03-12 12:39] shudhanshu03 commented on #308
/level2/

[2021-03-12 13:33] AnanyaNegi commented on #300
/gssoc/

[2021-03-12 13:33] AnanyaNegi commented on #300
/level2/

[2021-03-12 13:35] AnanyaNegi commented on #288
/close-issue/

[2021-03-12 13:37] AnanyaNegi commented on #310
/gssoc/

[2021-03-12 13:38] AnanyaNegi commented on #310
/level0/

[2021-03-12 13:42] srk224 commented on #300
Their is some after creating the PR. Can you please tell me
what is the error and how should I solve it??
P.S-Check my PR

[2021-03-12 13:48] aliya-rahmani commented on #269
/assign

[2021-03-12 13:57] AnanyaNegi commented on #300
I have reviewed your PR. You can check the changes required there.

[2021-03-12 14:08] FireQueen-3010 commented on #268
Hi @AnanyaNegi can we connect on discord, I have a few questions regarding the issue related to npm and MongoDB as I am facing an issue in displaying them in my local host.

[2021-03-12 14:40] rohank2502 commented on #310
Thanks @AnanyaNegi

[2021-03-12 15:13] AnanyaNegi commented on #268
Sure.

[2021-03-12 15:52] AakankshaShah commented on #254
@RushanKhan1
Sir ,I would like to add a feature that will allow users to share their blogs via whatsapp , facebook , instagram and other such social platforms.Also I would like to give a rating feature where we can give stars rating  to blogs.

[2021-03-12 15:58] FireQueen-3010 commented on #268
Do we have a discord server for BlogSite if not how do I ping you? @AnanyaNegi

[2021-03-12 15:58] RushanKhan1 commented on #306
Hey @tanishq-arya! We appreciate your willingness to contribute!
The links in the footer are for aesthetic purposes only. Our app doesn't have any social media presence hence no profiles we can link to. The source for the links is ``#!`` which acts as a dummy link which means that it has been purposely kept that way. Therefore I request you to please find a new issue to work on or create a new one

[2021-03-12 16:07] RushanKhan1 commented on #306
Hi @ankitaugale23!
@tanishq-arya is right, the style for the full website is currently being worked upon. What you can do is wait for the assigned person to send her pull request and check if the footer has been styled, if not, then create a new issue and start working on it.

[2021-03-12 16:08] #306 closed

[2021-03-12 19:15] hrushikesh-git opened #315 "Feature Image"
As the Blog from the blog title, we get the idea of the content of the blog, but images give even more clear thoughts as they are visually pleasing and provide a direct idea of the blog. So we can add image or photo property to the database and create the routes for uploading an  image
![photo](https://user-images.githubusercontent.com/65762074/110986844-360aad80-8394-11eb-85b0-298fb2687c1f.png)
i

[2021-03-12 19:15] hrushikesh-git commented on #315
/assign

[2021-03-12 19:19] sahilempire commented on #265
/assign

[2021-03-12 19:24] sahilempire commented on #268
I want to work on this issue, **Please assign me** as a **GSSoC'21 participan**t.

Thank you.

[2021-03-13 01:24] GuptaTanisha opened #317 "Improve Dark mode color combinations"
### Feature request-
To improve the color combinations of dark mode.

### Describe the solution you'd like
I will improve the color combinations.

### Describe how this feature will be useful to our readers.
A better UI facilitates the reading experience.

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you ca

[2021-03-13 01:25] GuptaTanisha commented on #317
/assign

[2021-03-13 04:06] FireQueen-3010 commented on #268
I've pinged you on discord, please check @AnanyaNegi

[2021-03-13 04:36] aniketlodh commented on #288
This is not an error as said by @prajjwalarora. Besides adding environment variables, you need to start MongoDB in a new cmd tab.

[2021-03-13 06:54] abhay27chauhan opened #319 "No need to use body-parser when using express version 4.16+"
## Proposal
Express version 4.16+, their own body-parser implementation is now included in the default Express package so there is no need for you to download another dependency.

You have added a line to your code that looks like the following:

- app.use(bodyParser.urlencoded({extended: true}));

If you are using Express 4.16+ you can now replace that line with:

- **app.use(express.urlencoded()

[2021-03-13 06:54] abhay27chauhan commented on #319
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-13 07:02] abhay27chauhan opened #320 "working with mongoose means working with promises"
### Proposal

if you are working with mongoose, means you are working with promises. So, you need to handle promise. This is an easy fix but good for long term.

I suggest instead of this:

- **mongoose.connect(URL, { useNewUrlParser: true, useUnifiedTopology: true });**

You should do this:

`
const connectDB = async () => {

    try{

            const conn = await mongoose.connect(URL, {useNewU

[2021-03-13 07:05] satcasm commented on #234
Closing this issue as PR is merged.

[2021-03-13 07:05] #234 closed

[2021-03-13 07:06] abhay27chauhan commented on #320
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-13 07:11] satcasm commented on #232
Closing the issue as PR is merged.

[2021-03-13 07:11] #232 closed

[2021-03-13 09:16] Pranav016 commented on #320
You want to convert these to asynchronous requests right ?

[2021-03-13 09:19] Pranav016 commented on #319
I agree with you but I think there is no harm in having that package because right now its working fine in production, without out it might or might not..
Closing issue for now, reopen if required.

[2021-03-13 09:19] #319 closed

[2021-03-13 09:19] Pranav016 commented on #319
/reviewed

[2021-03-13 09:22] Pranav016 opened #323 "Auto merge PRs from all-contributors bot"
### Feature request-
Add a GitHub action that automatically merges PRs from all-contributors bot.
Also let us know if you're working under GSSoC

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it t

[2021-03-13 09:28] #237 closed

[2021-03-13 09:31] abhay27chauhan commented on #320
Yes

On Sat, 13 Mar, 2021, 2:46 PM Pranav, ***@***.***> wrote:

[2021-03-13 09:32] #288 closed

[2021-03-13 09:33] #310 closed

[2021-03-13 09:33] Pranav016 commented on #317
/gssoc/

[2021-03-13 09:33] Pranav016 commented on #317
/level2/

[2021-03-13 09:35] abhay27chauhan commented on #319
Because now it is inbuilt in express so no need to Install additional
dependency and in vs code also it gives warning if you use bodyparser

On Sat, 13 Mar, 2021, 2:49 PM Pranav, ***@***.***> wrote:

[2021-03-13 09:47] Abhinaba006 opened #324 "Password should be hashed by using Middleware in the model"
### **Describe the bug**
Currently the password is hashed whenever the new sign up router is called, instead of this we can hash the password before saving it in the model by using Middleware, it will be a more correct approach.

By using this method we can save the password from any router, not only from the sign up route and it will be hashed.

### **To Reproduce**
Steps to reproduce the behavio

[2021-03-13 09:47] Abhinaba006 commented on #324
/assign

[2021-03-13 09:52] Abhinaba006 commented on #324
@AnanyaNegi ma'am, please add gssoc and level label, as a gssoc 21 participant it will be helpful for me.

[2021-03-13 09:58] AnanyaNegi commented on #315
/gssoc/

[2021-03-13 09:58] AnanyaNegi commented on #315
/level2/

[2021-03-13 10:08] Athira2199 opened #325 "Categories and Tags."
### Feature request-
Adding categories and tags for blog posts could increase the search ability and readability of the posts.

### Is your feature request related to a problem? Please describe. (optional)
No

### Describe the solution you'd like
The categories could be pre-defined or we could let the user create new categories on which they could work. Tags can be given by the user and we could g

[2021-03-13 10:19] shudhanshu03 commented on #324
/gssoc/

[2021-03-13 10:22] shudhanshu03 commented on #324
@Abhinaba006 Start Woking on it 👍.

[2021-03-13 10:23] Athira2199 opened #326 "Able to delete comments of other users."
### **Describe the bug**
User A is able to delete comments of user B which ideally should not be the case. Users should only be able to delete their own comments and not the comments of other users.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to any blog which has a comment other than yours.
2. Delete the comment.
3. You will see that the comment gets automatically deleted.

### *

[2021-03-13 10:23] Athira2199 commented on #326
/GSSOC21

[2021-03-13 10:38] Athira2199 opened #327 "a refactoring suggestion."
https://github.com/ALPHAVIO/BlogSite/blob/e5cc4227a36fb873799efbe79334b4f73049cb96/routes/user.router.js#L108
changing line number based on update

In the above section to check for if a particular username or password exists , we are performing two db operations when actually we could just create ine single db operation with **$or** of mongodb.

If you feel this could be a effective code refactor

[2021-03-13 10:40] shudhanshu03 commented on #229
@bitaashna  Its been 5 days , Are you still working on this task or should I assign to someone else ? @Pranav016 Have a look once

[2021-03-13 11:43] bitaashna commented on #229
yep @shudhanshu03 ! i am working on it. just give me one more day I'll submit it.

[2021-03-13 11:54] Athira2199 commented on #320
yes I agree with @abhay27chauhan its throwing error when I am trying with mongodb atlas. Suggesting to change it based on @abhay27chauhan's solution.

[2021-03-13 12:26] Pranav016 commented on #320
/gssoc/

[2021-03-13 12:26] Pranav016 commented on #320
/level2/

[2021-03-13 12:27] Pranav016 commented on #311
how do you plan on doing that, can you elaborate ?

[2021-03-13 12:28] Pranav016 commented on #311
/reviewed

[2021-03-13 13:04] Athira2199 opened #328 "Improving the blog"
https://github.com/ALPHAVIO/BlogSite/blob/2fb3464d4ae5f8796123aeb31630b5cb807982a9/routes/post.router.js#L23

I feel this as an inefficient approach to find the details of the blog. We could enhance this section to make mongodb itself perform the find the blog by title by using Blog.find({blogTitle : requestedTitle}). I am GSSoC21 participant. Please assign this issue to me. @Pranav016 @AnanyaNegi

[2021-03-13 13:05] Athira2199 commented on #328
/assign/

[2021-03-13 13:23] Athira2199 commented on #328
/assign

[2021-03-13 14:13] prajjwalarora commented on #328
@Pranav016 @Athira2199 this issue will be fixed automatically as #287 is merged. because fetching the blog using this way is an inefficient method. using postId for this already extracting unique posts, instead of fetching all and comparing to find required one.

[2021-03-13 14:18] Athira2199 opened #329 "404 page"
### Feature request-
404 page is common to inform the user that the requested page or url does not exist.

### Is your feature request related to a problem? Please describe. (optional)
Its not a problem but its rather an enhancement.

### Describe the solution you'd like
Usually when we don't have a 404 page , the browser sent a message like **Cannot GET /post** . This is usually represented as a

[2021-03-13 14:22] Athira2199 commented on #328
Ok got it just saw your code. I would like to suggest on having asyn/await. It makes the code cleaner.

[2021-03-13 14:26] prajjwalarora commented on #328
@Athira2199 that can be done but required new issue because that also needed good error handling as well, like creating global error handler. because in this code no error handler is there. and separate error handling for each controller can create problems as code scale.

[2021-03-13 14:28] Athira2199 commented on #328
Ok I had actually implemented the try-catch block for this and did it. Shall I keep just try catch for this and once this new issue is opened we could change the try catch block, or should I remove the asyn-await functionality from my current pr. @prajjwalarora

[2021-03-13 14:30] prajjwalarora commented on #328
@Athira2199 have to ask from members and admin.

[2021-03-13 14:32] Bhavya-Sehgal opened #330 "Improving the footer"
### Feature request-
**Changing the alignment of content, color theme and making the footer responsive.**

![original-footer](https://user-images.githubusercontent.com/66208607/111033235-2d6ab380-8436-11eb-8905-c82915c819c5.png)

I am GSSoC21 participant. Please assign this issue to me. @Pranav016 @AnanyaNegi @RushanKhan1 @shudhanshu03

[2021-03-13 14:32] Bhavya-Sehgal commented on #330
/assign

[2021-03-13 14:34] Athira2199 commented on #330
@Bhavya-Sehgal how did you slash assign. I am not  able to assign like this in my issue ?

[2021-03-13 14:34] Athira2199 commented on #329
/assign

[2021-03-13 14:43] shudhanshu03 commented on #229
Okay No Problem .

[2021-03-13 14:51] Athira2199 commented on #327
/assign

[2021-03-13 15:44] mani9896 opened #332 "Adding Express Validators"
### Want to add express validator

### want to add express validators at backend to validate form DATA for different POST request.
### without validator , a user may be able to crash our application, by messing form constraints on frontend

### Please assign me this task , as a part of GSSOC 21

[code]

[2021-03-13 17:05] #264 closed

[2021-03-13 17:36] A7abhilash opened #333 "Improve UI"
### Feature request-
Improve the UI of post-preview using bootstrap to look it more neater with proper paddings and margins.

### Is your feature request related to a problem? Please describe. (optional)
Currently the UI is bit clumsy, so would like to make it more neater, clean and attractive.

### Describe the solution you'd like
Use bootstrap column concept and implement proper post-preview

##

[2021-03-13 19:23] Aryamanz29 opened #335 "[UI] Improve Current UI of login/Signup Forms"
### Feature request-
Need improvement in the current UI of login/signup forms of the website.

### Is your feature request related to a problem? Please describe. (optional)
As of now, we see that the text size/font-color of the forms are not that up to mark and it needs style improvement, Such that it becomes more interactive to users.

### Describe the solution you'd like
Using Bootstrap and anot

[2021-03-13 19:24] Aryamanz29 commented on #335
/assign

[2021-03-13 20:06] #235 closed

[2021-03-13 21:00] udaymittal7 opened #337 "Adding various security features"
Setting various HTTP headers using helmet
Data sanitization against no SQL injection and XSS
Rate limiter so the server won't get overload

If you find it relevant, please assign me.

[2021-03-14 01:09] A7abhilash commented on #333
@Pranav016 Can u please mention the assignee to me??

[2021-03-14 05:01] Aryamanz29 commented on #335
@Pranav016  @shudhanshu03  I need some help 😥

[2021-03-14 05:08] promaroy commented on #323
Can I work on this as a part of GSSOC '21?
/assign

[2021-03-14 05:20] A7abhilash commented on #333
/assign

[2021-03-14 05:23] Shraddha13Jain commented on #296
/assign
Hey!! @shudhanshu03  , I am a participant of GSSoC'21. I would take up this issue.
Can you please assign me this issue.

[2021-03-14 05:29] Aryamanz29 commented on #335
![Screenshot (53)](https://user-images.githubusercontent.com/56113566/111057879-a6a6ec80-84b0-11eb-9e4a-cd8162261d60.png)
![Screenshot (50)](https://user-images.githubusercontent.com/56113566/111057881-a7d81980-84b0-11eb-8e51-808bc7ef5057.png)
![Screenshot (51)](https://user-images.githubusercontent.com/56113566/111057883-a9094680-84b0-11eb-836e-4b3c48b51af7.png)
![Screenshot (52)](https://user-im

[2021-03-14 05:40] AnanyaNegi commented on #268
@FireQueen-3010 are you still working on this issue?

[2021-03-14 05:41] FireQueen-3010 commented on #268
Yes I am please give me a couple more days

[2021-03-14 05:43] AnanyaNegi commented on #333
Hi @A7abhilash . Great to see your initiative however this issue is already been assigned to someone else. See reference #268 . You may take a look at some other issues.

[2021-03-14 05:50] AnanyaNegi commented on #244
/level2/

[2021-03-14 05:50] AnanyaNegi commented on #244
Hi @Rimpi246 Are you still working on this issue?

[2021-03-14 05:52] AnanyaNegi commented on #224
/level3/

[2021-03-14 06:00] #164 closed

[2021-03-14 06:03] aniketlodh commented on #326
Currently, the application is set in a way that anyone can delete anyone's comment. This is done with the sole purpose that no vulgar comment can be there in the comments.

[2021-03-14 06:14] abhinav5481 commented on #163
Hi,
I had created the PR. It was working as expected. May I know why I got unassigned to it?

[2021-03-14 06:16] abhinav5481 commented on #163
Regarding the small change in the URL variable, I think it's a small change, and I have completed it now.

[2021-03-14 06:16] abhinav5481 commented on #163
Please reassign it to me, otherwise, all my efforts would go into the vein

[2021-03-14 06:48] AnanyaNegi commented on #268
Okay. No problem. when you are done create a pr, I'll review it.

[2021-03-14 06:53] Pranav016 commented on #163
I understand, but why wasn't there any response for 2-3 days.

[2021-03-14 06:55] ainy-123 opened #341 "add 'testimonials' section to the website."
I would like to add a new feature  to the project ,i.e, I want to add testimonials section which will be like a proof of having good content on this website provided by the readers. So that, people will more confidently use this site.

I am a GSSOC'21 participant.I want to work on this issue.('/assign')
kindly assign this to me.

[2021-03-14 06:58] #341 closed

[2021-03-14 07:04] abhinav5481 commented on #163
Hi,
I think there is a little bit of misunderstanding. After creating the PR you asked me to change the base branch and I immediately changed the base branch to develop. Then yesterday only you asked me to update the URL to old (process.env.url), I completed that today ( but till that time it got unassigned).
These were the changes that you asked me to do:
1. ![image](https://user-images.githubuse

[2021-03-14 07:08] ainy-123 opened #342 "add 'Testimonials' section to the website."
### Feature request-
I want to add a feature,i.e, testimonials section which will be like a proof of having good content on this website provided by the readers.

### Is your feature request related to a problem? Please describe. (optional)
yes.

### Describe alternatives you've considered
Alternatives to it can be a review/comments section.

### Describe how this feature will be useful to our rea

[2021-03-14 07:08] abhinav5481 commented on #163
I have created another PR 13 minutes ago. That is still open. Should I now create another PR?

[2021-03-14 07:11] ainy-123 commented on #342
'/assign'

[2021-03-14 07:12] ainy-123 commented on #342
/assign

[2021-03-14 07:14] #163 closed

[2021-03-14 07:15] ainy-123 commented on #342
thanks for assigning me this issue.I will try my best to close this issue by the deadline.

[2021-03-14 08:04] Rimpi246 commented on #244
Ya.. I am working on it

[2021-03-14 09:44] udaymittal7 opened #344 "No need to use body-parser when using express version 4.16+"
Express version 4.16+, their own body-parser implementation is now included in the default Express package so there is no need for you to download another dependency.

You have added a line to your code that looks like the following:

app.use(bodyParser.urlencoded({extended: true}));

You can replace that with:

app.use(express.urlencoded());

If you find it relevant, please assign me this and add

[2021-03-14 11:55] ApekshaAgarwal commented on #152
Hey @Pranav016 , I would also like to contribute on this for making unit tests.

[2021-03-14 15:19] aliya-rahmani commented on #332
/assign

[2021-03-14 15:21] aliya-rahmani commented on #230
/assign

[2021-03-14 15:21] aliya-rahmani commented on #229
/assign

[2021-03-14 15:23] aliya-rahmani commented on #276
/assign

[2021-03-14 15:28] mani9896 commented on #332
Hey I wanted to work on that issue, but got assigned to someone else

[2021-03-14 16:07] ankitaugale23 commented on #308
Sure thanks. I will make a PR in two days.

[2021-03-14 19:47] Pranav016 commented on #328
I agree with @prajjwalarora, once the PR for the route issues gets merged, then raise a new issue to make the code cleaner and scalable by adding try catch and async await.
Closing for now, reopen if required

[2021-03-14 19:47] #328 closed

[2021-03-14 22:49] Pranav016 commented on #319
Yes, we can remove it somewhere down the line but right now I don't want to break any code in production due to compatibility.

[2021-03-14 22:50] Pranav016 commented on #344
repeated #319

[2021-03-14 22:50] #344 closed

[2021-03-14 22:50] Pranav016 commented on #344
/reviewed

[2021-03-15 00:56] Aryamanz29 commented on #335
Finally done :100:  Please review PR

[2021-03-15 03:58] Ankita297 commented on #323
/assign

[2021-03-15 04:38] #337 closed

[2021-03-15 04:41] #311 closed

[2021-03-15 08:21] Nirpendra09 commented on #249
I want to work on this.

[2021-03-15 09:57] RushanKhan1 commented on #332
@mani9896 I have assigned you the issue since you wanted to work with it first and you are the author of the issue. Also, you are allowed to assign yourself if you are the author of the issue or the issue is free as stated in the [issue guidelines](https://github.com/ALPHAVIO/BlogSite/blob/master/.github/ISSUE_TEMPLATE/feature_request.md). You just need to comment ``/assign`` under the issue.

[2021-03-15 10:00] RushanKhan1 commented on #332
@aliya-rahmani I am sorry for unassigning you from the issue, I hope you understand why I did that. Please find a different issue to work with or create a non-duplicate new one.

[2021-03-15 11:14] Ananya-Sharma commented on #296
/assign
As participant of gssoc I would like to work on this issue, please assign it to me.

[2021-03-15 11:26] samad-yar-khan commented on #326
Hey , we can probably add a level of authorisation where a user should be able to delete the comments made on his in case it is inappropriate . I think it would be better than allowing everyone o delete everyones comments

[2021-03-15 15:07] aliya-rahmani commented on #332
@RushanKhan1 Sure, no problem!

[2021-03-15 15:23] Nirpendra09 commented on #249
Please assign me this task

[2021-03-15 15:23] Nirpendra09 commented on #249
Please assign me this task

[2021-03-15 16:44] GurshehzadSingh commented on #296
/assign
I'm a participant of GSSOC and I want to work on this issue.

[2021-03-16 03:51] #335 closed

[2021-03-16 04:45] manognyaa commented on #268
Can I also contribute to this issue ? @AnanyaNegi

[2021-03-16 04:53] AnanyaNegi commented on #268
Hi @manognyaa .This issue is currently assigned to @FireQueen-3010 .You may open a new issue or take a look at some other pre-existing ones.

[2021-03-16 06:35] aniketlodh commented on #228
Hello @Pranav016, Can you please tell me whether I can start working on this issue?

[2021-03-16 06:35] ankitaugale23 commented on #308
Would you mind telling me what I have done wrong? @shudhanshu03 @AnanyaNegi @Pranav016 @RushanKhan1

[2021-03-16 10:15] krishna-y2000 commented on #269
@AnanyaNegi mam, I am working on this issue. I should continue my work,right ? I am confused you closed it earlier and now opened ? Do reply please.

[2021-03-16 10:46] AnanyaNegi commented on #269
@krishna-y2000 this issue is still open. That was some other issue #293 which was closed because it was similar to this one. However can you state the progress of your task?

[2021-03-16 11:30] lakshita15 opened #355 "Frontend: change background and make color scheme better and attractive."
I'm gssoc'21 participant would like to make all the colors in sync and make it colorful and impressive.
I want to work on this issue
Can you assign issue to me ?
i'll submit before deadline.

[2021-03-16 12:08] krishna-y2000 commented on #269
Sure. I studied how google strategy works and how password is used to authenticate api. I am in mid way of google-strategy in coding part. It will be completed in few days.

[2021-03-16 17:10] abhishek7997 commented on #342
Please assign me the issue if the previous assignee is not able to complete it. @ainy-123

[2021-03-16 23:16] #320 closed

[2021-03-16 23:16] #268 closed

[2021-03-16 23:35] #252 closed

[2021-03-16 23:41] Pranav016 opened #360 "Make the code clean"
### Feature request-
There is too much code cluttered in the `app.js`. Divide it into its respective routes and folders and make the file and folder structure clean.

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to

[2021-03-16 23:44] Pranav016 opened #361 "Website not working || Bug"
Website is currently down due to some issue, the team is working on it and we'll get it to work soon. Till then please co-operate with us. Thank you :)

[2021-03-17 00:26] BullHoN commented on #360
/assign

[2021-03-17 06:26] RushanKhan1 commented on #355
@lakshita15 The pull request #358 has been merged recently and that worked on this exact same issue, so, please update your fork, give the updated website a look and then if you have any further improvements, create a new issue focusing on those exact improvements.

[2021-03-17 06:26] #355 closed

[2021-03-17 06:30] GuptaTanisha opened #362 "Changing URL in app.js"
### Feature request-
A clear and concise description of the feature.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative so

[2021-03-17 06:31] RushanKhan1 commented on #330
@Bhavya-Sehgal Hey, It's been 4 days since this issue has been assigned to you, are you still working on this issue?

[2021-03-17 06:31] #362 closed

[2021-03-17 06:54] RushanKhan1 commented on #317
Hey @GuptaTanisha, It's been 4 days since you were assigned the issue. Are you still working on it?

[2021-03-17 07:02] RushanKhan1 commented on #270
@krishna-y2000, It's been 7 days since you were assigned the issue that's 3 more days than the time allotted for level2 issues, are you still working on it?

[2021-03-17 07:04] AnanyaNegi commented on #152
@Itsaadarsh are you still working on this issue?

[2021-03-17 07:05] RushanKhan1 commented on #285
@SpecTEviL Hi, It has been 6 days since you were assigned the issue, that's 2 more days than the time allotted for leve2 issues. Are you still working on it?

[2021-03-17 07:10] krishna-y2000 commented on #270
@RushanKhan1  sir ,
FOA sorry for delay and thanks for your patience, i was completing my college work as soon as possible . yesterday i got free. This will get completed by till tomorrow .Thanks

[2021-03-17 07:10] #300 closed

[2021-03-17 07:11] SpecTEviL commented on #285
Yes, the implementation is done, it's just that I'm facing some errors and I'm debugging them.
Can you just give me an extension of one more day, please?
Thanks!

[2021-03-17 07:16] AnanyaNegi commented on #221
@lopamudra2000 are you willing to work on this issue?

[2021-03-17 07:16] RushanKhan1 commented on #325
@Athira2199, It has been 4 days since you were assigned the issue, are you still working on it?

[2021-03-17 07:17] AnanyaNegi commented on #224
@A7abhilash  are you still working on this issue?

[2021-03-17 07:35] RushanKhan1 commented on #285
Sure 👍🏻

[2021-03-17 08:40] Itsaadarsh commented on #152
Hey @AnanyaNegi, yes I've been working on this you can expect a PR by tomorrow.

[2021-03-17 09:16] A7abhilash commented on #224
I have already implemented this feature while I was revamping frontend with react... But unfortunately in production, frontend is not able to get the authenticated token back from backend... IDK why so, I am just wandering around that bug....

[2021-03-17 12:46] BullHoN commented on #360
@Pranav016 Can you please help me I am a bit confused. In the app.js file, all the API request corresponding to posts use postName as a parameter in the URL whereas there is an existing file post.router.js in the routes folder all the API request use postId as the parameter which one is correct ??

[2021-03-17 12:50] Pranav016 commented on #360
Post ID is correct, comment down the post name one and then try if post id works. Otherwise we'll have to fix it..

[2021-03-17 12:51] BullHoN commented on #360
Ok I am trying 👍👍

[2021-03-17 12:51] Pranav016 commented on #360
Also I am also working on cleaning the code, My main target would be to get it back in working condition. Then for any additional folders or cleaning code you can do..
Works for you ?

[2021-03-17 12:52] BullHoN commented on #360
Ok First you solve the issue then I will make it clean later

[2021-03-17 12:52] ShambhaviSharma0110 commented on #329
/assign

[2021-03-17 12:54] ShambhaviSharma0110 commented on #221
Hey! I would really like to work on this please allow me to work on this as well...

[2021-03-17 12:57] BullHoN commented on #360
Maybe you may have seen it by now Blog is used twice in the app.js file so it needs to be updated in Blog.model.js in the models folder and removed from app.js

[2021-03-17 12:57] BullHoN commented on #360
Hope that helps 😊😊

[2021-03-17 12:59] Pranav016 commented on #360
Yes ☺️

[2021-03-17 16:43] A7abhilash commented on #221
@ShambhaviSharma0110 I have already done the work on hosted it also for the [demo](https://blogsite-frontend-dev.netlify.app/).
But I'm not able to get the auth token after sign in/sign up. Idk why but it was perfectly fine in localhost.
Do u have any idea why it could be so?
[Repo of revamped app](https://github.com/A7abhilash/BlogSite/tree/develop)

[2021-03-17 17:38] Ankita297 commented on #323
https://github.com/marketplace/actions/pr-merge-bot

[2021-03-17 17:38] Ankita297 commented on #323
Sir is this okay ?

[2021-03-17 18:23] vismitap commented on #317
May I work on this issue as a part of GSSoC'21?

[2021-03-17 22:20] jain-rishabh-21 opened #365 "Using Docker in the project"
### Feature request-
We can use Docker to build the project so that the new contributors don't find any difficulty in setting up dev environment irrespective of their OS.

### Is your feature request related to a problem? Please describe. (optional)
Problems while setting in different OS.

### Describe alternatives you've considered
Using Docker

### Describe how this feature will be useful to our

[2021-03-17 22:21] jain-rishabh-21 commented on #365
/assign
If issue is found useful
Discord Username: krackerzzz#4371

[2021-03-18 02:31] Athira2199 commented on #326
To reduce inappropriate comments, allowing users to delete others comments won't be an appropriate action. Like if the author of the posts feels some one is giving negative feedback of his posts, then he might  delete the comments when actually the comment could be a genuine one. In order to check on inappropriate comments we could give a flag option in the comments.

[2021-03-18 02:34] Athira2199 commented on #325
yes I am working on it, please provide me time till weekend. I am working on it @RushanKhan1

[2021-03-18 04:53] Pranav016 commented on #365
The issue is useful but I feel right now a lot of beginners are contributing and dockerizing the project would make it more difficult for them. I'd suggest this issue should be re-raised after some time..

Closing issue for now, reopen if required.

[2021-03-18 05:25] #361 closed

[2021-03-18 05:32] Pranav016 commented on #360
My pull request was merged.
Now you can start working. Some changes that I want you to do as a part of this level 3 issue -

* Add folder structure to assets folder, that would require all the paths where these images have been used to be updated.
* Add comments in the code to divide into sections. Most of the routers, app middlewares etc have already been commented. The .EJS files in views folder

[2021-03-18 05:40] Ankita297 commented on #323
https://github.com/pascalgn/automerge-action

[2021-03-18 05:46] Pranav016 commented on #360
Can you do this ^ ? @BullHoN

[2021-03-18 06:35] AnanyaNegi commented on #228
Yes. You can start working. I've already assigned you the issue.

[2021-03-18 08:18] BullHoN commented on #360
@Pranav016  Yes, I can try

[2021-03-18 09:04] satcasm opened #371 "Font size in posts"
The font size in posts should be increased just a little bit as of now it's too small.
Would like to improve on it under GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/111599928-d890b980-87f6-11eb-943f-0970e96ab10b.png)

[2021-03-18 09:08] satcasm commented on #371
/assign

[2021-03-18 10:39] Pranav016 commented on #342
I feel that there could be vulgar things that could be put in the testimonials, how would you tackle that ?

[2021-03-18 10:43] Pranav016 commented on #360
Can a PR to solve this issue could be made by today ? Coz after this we are going to start accepting PRs therefore I want to get this merged asap. I might also have to test the PR so it might take time

[2021-03-18 10:53] ainy-123 commented on #342
Yes sir , I will try to make it password protected or accessible to only authentic members by some other means.
I have not yet thought about these things,but yes,we can use a delete button for this case.

[2021-03-18 11:02] Pranav016 commented on #342
Yes, take your time and let me know the plan before implementing 👍

[2021-03-18 11:07] ainy-123 commented on #342
Sure sir !!

[2021-03-18 14:00] Mitali-laroia opened #373 "About Us page"
### Feature request-
Currently the font colour and background colour of the about page is kind of merging and making it difficult to distinguish between text and page.

### the solution I'd like to implement
First of all change in colour shade,font and texture. Adding proper alignment with div and a further requests is to provide some images inorder to add a carousel to make it more interactive.

[2021-03-18 14:45] Ankita297 commented on #323
@Pranav016  you want like when you add the label automerge  the  github action will be triggered and it will merge the PR  to master branch ?

[2021-03-18 15:55] Pranav016 commented on #360
@BullHoN any updates ?

[2021-03-18 16:13] BullHoN commented on #360
@Pranav016 I am really sorry 😔😔  I didn't check the comments can I do it tomorrow morning ??

[2021-03-18 16:40] Pranav016 commented on #360
Ok, I hope to see your PR first in the morning :)

[2021-03-19 02:11] BullHoN commented on #360
@Pranav016 I had made some changes
- formatted and added comments in .ejs files
- added comments in styles.css
- restrict access to sign-up and login routes when logged in
- search bar was not working there was a small issue resolved it

routes folder is currently placed in the public folder should I change its path ??, I didn't get your first point regarding assets one can you please explain a bi

[2021-03-19 03:13] Pranav016 commented on #360
Good work, assets can be ignored for now. It's not that important. Routes folder placed in pubic ? I don't get it, it's there in the root directory, not in public folder.

So PR looks good, I'll test it once then merge

[2021-03-19 03:22] BullHoN commented on #360
@Pranav016 sorry about routes I was a bit sleepy 😴😴 😅😅

[2021-03-19 03:25] #360 closed

[2021-03-19 03:27] Pranav016 commented on #360
No worries, good work

[2021-03-19 04:18] Pranav016 opened #378 "Update gif in readme"
### Feature request-
Update the gif in README.md

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you should comment `/assign` under the

[2021-03-19 04:22] innovation-platform commented on #378
I would like to work on this under GSSoC'21.

[2021-03-19 04:22] innovation-platform commented on #378
/assign

[2021-03-19 04:48] innovation-platform commented on #378
I am facing an issue while signing up. Although my password satisfies all the requirements.
![image](https://user-images.githubusercontent.com/65439306/111732823-6bcffa80-889c-11eb-87f6-e7b407264f60.png)

[2021-03-19 05:01] innovation-platform commented on #378
If you could give me existing credentials I will login and make the GIF. Or else shall I skip the compose part and make the GIF.

[2021-03-19 05:20] Pranav016 commented on #378
Let me check

[2021-03-19 05:21] innovation-platform commented on #378
ok. Thank You

[2021-03-19 05:24] Pranav016 commented on #378
* Sign-up is working fine for me, just use a longer password.
* compose can't be skipped since it is the main feature.
* Also show to dark mode feature in the gif

[2021-03-19 05:26] innovation-platform commented on #378
ok. I will try it. Thank You.

[2021-03-19 05:33] innovation-platform commented on #378
I have used the longest password possible. But I am still getting the same message. Please suggest me a password that worked for you.
![image](https://user-images.githubusercontent.com/65439306/111735831-ac327700-88a2-11eb-9b58-301605faf5cd.png)

[2021-03-19 05:45] Pranav016 commented on #378
my password was  Alphavio123

[2021-03-19 05:46] innovation-platform commented on #378
Thank You. It worked now.

[2021-03-19 09:47] tanya070820 opened #382 "Different font syles should be available"
### Feature request-
I want to add two or more font styles.

### Is your feature request related to a problem? Please describe. (optional)
 Yes its related to the problem as by this the blog can be represented  in a effective way.

### Describe the solution you'd like
I wiil use HTML and CSS.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions

[2021-03-19 10:08] Pranav016 commented on #382
@tanya070820 Can you fill all the details about the issue ?

[2021-03-19 10:08] Pranav016 commented on #382
/reviewed

[2021-03-19 13:36] Pranav016 commented on #323
No we had that before, but that is kind of the same as merging manually. You still have to go to the PR and add the label.
What I want is any PR received from @all-contributors bot should be merged automatically.

[2021-03-19 13:47] #378 closed

[2021-03-19 14:12] simranbhalla3 commented on #373
Hii Can I work on this issue? I am a gssoc participant , would like to work on this issue

[2021-03-19 14:13] simranbhalla3 commented on #330
/assign

[2021-03-19 14:13] simranbhalla3 commented on #330
Hey! Can i work on this issue? @RushanKhan1

[2021-03-19 15:10] PrernaSingh587 commented on #276
Is this issue still being worked upon?

[2021-03-19 15:18] aniketlodh commented on #244
@Rimpi246 are you still working on this issue?

[2021-03-19 15:52] Rimpi246 commented on #244
Yeah yeah..I am working.Please bear with me.

[2021-03-19 15:55] RushanKhan1 commented on #330
@simranbhalla3 Okay, I am reassigning this issue to you since the original assignee hasn't updated their status. All the best!

[2021-03-19 16:36] aanchalrakheja opened #385 "create a logo for the website to make it look a little more attractive"
Images never fail to attract audience and I think this blog site can be given an enhanced representation by a logo.
I would love to work on this.

[2021-03-20 05:06] Pranav016 commented on #385
Thank you for raising the issue, I am glad you want to contribute but we already have a logo. It is present in the assets folder if you want to check it out, one thing that I can recommend is we can add the logo in the navbar to the left of daily journal heading. You can raise an issue for that and work on it if you wish..

[2021-03-20 05:06] #385 closed

[2021-03-20 05:06] Pranav016 commented on #385
/reviewed

[2021-03-20 05:07] #228 closed

[2021-03-20 05:12] aanchalrakheja opened #386 "adding the logo in the left of navbar."
i would like to work on this issue.

[2021-03-20 06:13] naqeeb2710 commented on #382
can i work on this issue??

[2021-03-20 10:42] Pranav016 commented on #373
Is this issue still relevant ? Asking because the theme of the website was changed.
If yes, can you add a screenshot highlighting the issue you feel there is 🙂

[2021-03-20 10:42] Pranav016 commented on #373
/revewied

[2021-03-20 13:51] Ankita297 commented on #323
@Pranav016  can we do it like we target pull request and check if github.actor is allcontributors then we add the  the github action
to auto add label of automerge

[2021-03-20 14:14] Pranav016 commented on #323
Yes we can

[2021-03-20 14:28] Ankita297 commented on #323
okay Sir . I  will try .

[2021-03-20 17:07] romasinha commented on #382
can I work on this issue?

[2021-03-20 17:09] tanya070820 commented on #382
Please  assign this issue to me @Pranav016

[2021-03-20 17:22] RushanKhan1 commented on #317
@vismitap Okay, since @GuptaTanisha didn't respond with her status, the issue is yours to work with, good luck!

[2021-03-20 17:34] Pranav016 commented on #386
/gssoc/

[2021-03-20 17:34] #333 closed

[2021-03-20 17:35] Pranav016 commented on #382
If you want to work on an issue, you should check if it has already been assigned to anyone. If the issue is free you can comment `/assign` to get the issue assigned to you.

[2021-03-20 17:42] Pranav016 opened #391 "Positioning of social icons | Bug"
Bug needed to be fixed -
Proper positioning of the social media icons required so they don't coincide with dark mode button
![image](https://user-images.githubusercontent.com/54665036/111880430-9b345380-89d1-11eb-860a-6f7d0d12527e.png)

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the

[2021-03-20 17:44] RushanKhan1 commented on #296
@hrushikesh-git It has been 9 days, Are you still working on this issue?

[2021-03-20 17:47] #298 closed

[2021-03-20 17:49] RushanKhan1 commented on #324
Hey @Abhinaba006, are you still working on this issue?

[2021-03-20 17:51] RushanKhan1 commented on #327
Hey @Athira2199, are you still working on it?

[2021-03-20 17:51] RushanKhan1 commented on #329
Hey @Athira2199, are you still working on this issue?

[2021-03-20 17:55] Athira2199 commented on #329
Hi yes I am working on it, will submit pull request by tommorow.

[2021-03-20 17:55] Athira2199 commented on #327
yes submitting the pull request tommorow @RushanKhan1

[2021-03-20 18:55] GurshehzadSingh commented on #296
No.. Because someone else also commented assigned.. So I didn't work on it
as I thought the issue was assigned to someone who commented before me.

On Sat, 20 Mar, 2021, 11:15 PM Rushan Khan, ***@***.***>
wrote:

[2021-03-20 19:44] abhishek96k commented on #391
I would like to work on this issue as a part of GSSOC'21. Please assign it to me.

[2021-03-20 19:47] abhishek96k commented on #391
/assign

[2021-03-20 20:05] hrushikesh-git commented on #296
yes I am working with this issue and I am in touch with @Pranav016  last time was PR was cancelled do some major code changes, hence it took time

[2021-03-20 23:46] A7abhilash opened #393 "Improve UI"
### Feature request-
Improve UI in signup, login pages, bottom padding of footer and responsiveness among "compose" button and "ask me anything" search query.

### Is your feature request related to a problem? Please describe. (optional)
The input fields in signup and login pages are wide spreaded to full width and I would like to fix that to be at centre spanning the width of 4 columns. There is

[2021-03-20 23:46] A7abhilash commented on #393
/assign

[2021-03-21 07:28] #270 closed

[2021-03-21 09:03] ShambhaviSharma0110 commented on #329
Hey if it still isn't done can I work on it?

[2021-03-21 09:36] Abhinaba006 commented on #324
The code was heavily changed and needed to be pulled, I have done it previously but can't send cause the code is changed and my code will cause conflict and added to this my 3rd sem is going on this week, I have analog and digital electronics exam tomorrow, so if you consider me two days more it will be done.

[2021-03-21 09:38] Abhinaba006 commented on #324
Pranav sir told us in discord that we can send pr from yesterday that is why I didn't send, it will not be accepted. Please allow me two more days

[2021-03-21 13:49] Priyanka7011 opened #401 "Like button on posts"
### Feature request-
A clear and concise description of the feature.
I am a GSSOC'21 participant. I would like to add a like button to the posts.
### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.
Currently there's only comment feature on posts but it would be great if there's like button also . It will make interfa

[2021-03-21 13:49] Priyanka7011 commented on #401
/assign

[2021-03-21 14:32] Pranav016 opened #404 "Fix size of sign-up and log-in form | Bug"
### **Describe the bug**
size of sign-up and log-in form too big, make the input boxes smaller.
![image](https://user-images.githubusercontent.com/54665036/111908749-63381980-8a80-11eb-90a2-2889ed7fdf2d.png)

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comm

[2021-03-21 14:35] Pranav016 opened #405 "Use email for log-in instead of username"
### Feature request-
Use email of user for logging in instead of username.
![image](https://user-images.githubusercontent.com/54665036/111908840-ccb82800-8a80-11eb-8e01-2133b072c76f.png)

### Describe how this feature will be useful to our readers.
People usually don't remember usernames of individual platforms but do remember their emails thus logging in using email is more convenient.

<hr/>

**

[2021-03-21 14:48] #327 closed

[2021-03-21 14:54] Pranav016 commented on #404
ref #394

[2021-03-21 14:54] #404 closed

[2021-03-21 15:00] Athira2199 commented on #405
/assign

[2021-03-21 16:06] SriSarveshA1 commented on #401
/assign

[2021-03-21 16:38] SriSarveshA1 commented on #405
/assign

[2021-03-21 18:01] satcasm opened #407 "Alignment of buttons"
The alignment of buttons seems to be messed up a little and  ```Number of posts:``` seems bit small and unclear, would like to improve upon these under GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/111915617-35ad9900-8a9d-11eb-9e63-1d8d572b3889.png)

[2021-03-21 18:03] satcasm commented on #407
/assign

[2021-03-21 19:26] #371 closed

[2021-03-22 02:38] Ankita297 commented on #323
@Pranav016  This can be used ?
https://github.com/marketplace/actions/merge-me

[2021-03-22 09:05] krishna-y2000 commented on #269
@AnanyaNegi  Hii,
I have done the backend part but there is need to do some modification in the code . Like , when i authenticate with google oauth it leads to frontend without changing the ```log-in``` button which is at top-right  to ```log-out``` . I have even generated jwt token .
[Link to my remote branch](https://github.com/krishna-y2000/BlogSite.git)
go to 269-issue branch . My changes are

[2021-03-22 09:22] #301 closed

[2021-03-22 09:23] #393 closed

[2021-03-22 10:13] Smriti129 opened #409 "Alignment of Search bar"
<img width="475" alt="gssoc" src="https://user-images.githubusercontent.com/76429418/111974041-2114e380-8b25-11eb-995f-22aeff7dd951.PNG">
The alignment of search bar and the buttons looks bit disturbed. I want to adjust it according to the page and made it look lively.
I would like to work on this issue. Please assign it.

[2021-03-22 12:41] #391 closed

[2021-03-22 15:35] Athira2199 opened #411 "Adding flags for comments"
### Feature request-
Adding flag feature to restrict vulgar comments.

### Is your feature request related to a problem? Please describe. (optional)
When we have changed the comment delete permission as only author of the comment is allowed to delete his/her comments, there raised an issue regarding handling inappropriate comments.

### Describe the solution you'd like
An effective method would be

[2021-03-22 15:35] Athira2199 commented on #411
/assign

[2021-03-22 17:12] Ayush0730 opened #412 "Changing the format of date"
### Feature request-
The date shown in "posted on" section of the post and date shown on comment is in normal javascript format. It can be changed to a more human understandable format

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
I would like to format the date in a bette

[2021-03-22 17:13] Ayush0730 commented on #412
/assign

[2021-03-22 17:36] Ayush0730 commented on #412
I am working under GSSoC'21

[2021-03-22 17:43] satcasm commented on #407
@RushanKhan1 should I work on it or it isn't neccassary?

[2021-03-22 17:49] Rimpi246 opened #413 "Allow only logged in users to Read individual blogs"
### **Describe the bug**
Right now everyone landing on the home page can read individual blogs clicking on "Read More" button.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to Home page and compose a blog if none present
2. Log out and again go to home page
3. Click on Read More button in the blog
4. You will see you can read the whole blog.

### **Expected behavior**
Only logged us

[2021-03-22 17:56] Pranav016 commented on #413
@Rimpi246 comment here in the chat to get it assigned

[2021-03-22 18:00] Ayush0730 opened #415 "Show number of comments on the post"
### Feature request-
The number of comments should also be shown near read more button on the post

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Add number of comments near read more button

### Describe alternatives you've considered
A clear and concise description of any

[2021-03-22 18:01] Ayush0730 commented on #415
I am working under GSSoC'21

[2021-03-22 18:01] RushanKhan1 commented on #412
Hey @Ayush0730, I think it's completely your choice to use whatever package you want. Although, If you have time to kill then I would suggest redoing it in DayJs since it is much smaller than moment, also the API is pretty similar I think so it shouldn't be a problem.

[2021-03-22 18:11] Rimpi246 commented on #413
In discord?

[2021-03-22 18:11] Rimpi246 commented on #413
Please `/assign` this to me as a part of GSSOC'21

[2021-03-22 18:44] Pranav016 commented on #413
Comment it /assign that would assign, right now I'll do it manually.

[2021-03-22 19:19] nishihere19 commented on #415
Hi, can I work on this issue under gssoc'21? Please assign it to me.

[2021-03-23 02:55] Ayush0730 commented on #412
Should I close this issue? Since PR related to this issue has been merged

[2021-03-23 03:29] Ayush0730 commented on #415
You can start working on the issue. If you want to get it assigned to you, just comment "/ assign" (without space and quotes)

[2021-03-23 04:32] nishihere19 commented on #415
/assign

[2021-03-23 04:40] Ankita297 commented on #323
@Pranav016  what should i write in github Login in above ?

[2021-03-23 04:47] Pranav016 commented on #323
This works using CI this it will require tests or checks before merging automatically. We haven't added any tests yet..

[2021-03-23 04:55] Ankita297 commented on #323
but if i provide any username like Ankita297 then it merges automatically

[2021-03-23 04:56] Ankita297 commented on #323
![fdv by Ankita297 · Pull Request #82 · Ankita297_Story - Google Chrome 23-03-2021 10_26_16](https://user-images.githubusercontent.com/67833077/112095301-3f7cec80-8bc2-11eb-9274-f29f425b73aa.png)

[2021-03-23 04:57] Ankita297 commented on #323
@Pranav016

[2021-03-23 04:59] Ankita297 commented on #323
![fdv by Ankita297 · Pull Request #82 · Ankita297_Story - Google Chrome 23-03-2021 10_29_14](https://user-images.githubusercontent.com/67833077/112095526-ab5f5500-8bc2-11eb-9646-c7f3b78fab03.png)

[2021-03-23 05:06] aanchalrakheja commented on #386
Hey! I had a doubt. Can u please help me out with finding the file for the code. I could not configure the structure of the code like where do I find the code to add the icon.

[2021-03-23 05:10] shamadevi commented on #230
Can I work on this issue ?

[2021-03-23 05:21] Pranav016 commented on #386
Check assets folder for the logo, there might be 3. Choose the best one. You can access the babbar in views/partials folder

[2021-03-23 05:31] aanchalrakheja commented on #386
ok and I need to perform the entire setup before performing any changes? or will i be able to view the changes without node and mongodb installation?

[2021-03-23 05:36] Pranav016 commented on #386
You can view without mongodb..

[2021-03-23 05:56] RushanKhan1 commented on #412
Yes, you can close this issue. If you want to rewrite that part using DayJs then you can create a separate issue.

[2021-03-23 05:57] RushanKhan1 commented on #407
Yes @satcasm, you can work on it.

[2021-03-23 06:13] #412 closed

[2021-03-23 06:36] Ayush0730 opened #418 "Improve Login Signup Page"
### Feature request-
Currently Input fields of login/Signup page are taking full screen width, which doesn't look good. Contact us page is having correct size for input fields

### Is your feature request related to a problem? Please describe. (optional)
Problem :
![image](https://user-images.githubusercontent.com/68139755/112103482-d3a18080-8bcf-11eb-8847-95c3bd6ae35b.png)

Contact Us page looks

[2021-03-23 06:37] Ayush0730 commented on #418
/assign

[2021-03-23 06:42] ambivert-sam commented on #308
Hey @ankitaugale23  , I'm participant on GSSOC'21 I want to contribute on this issue will you please assign it to me?

[2021-03-23 06:43] ambivert-sam commented on #259
/assign

[2021-03-23 06:44] ambivert-sam commented on #249
/assign

[2021-03-23 06:48] ambivert-sam commented on #276
/assign

[2021-03-23 06:51] ambivert-sam commented on #418
/assign

[2021-03-23 07:26] Smriti129 commented on #409
Should I start working on it? @RushanKhan1

[2021-03-23 08:02] Vaibhav-afk opened #420 "Contact Us formatting"
### **What's the issue with `Contact Us` page?**
Actually there is nothing bigger but the format is quite unprofessional (**i.e** Subject field is above Email).

![1](https://user-images.githubusercontent.com/67143938/112112563-b1156480-8bdb-11eb-9231-28cd3a5d2467.PNG)

### **Expected**
Subject field should be below email followed by message.

[2021-03-23 08:04] Vaibhav-afk commented on #420
I can fix it, please assign me.

[2021-03-23 08:07] Pranav016 commented on #269
You haven't filled req.user with the user information that is why it still shows login event after you sign in..
Check index router's `isAuthenticated` field you'll get
Make a middleware for that

[2021-03-23 08:09] Pranav016 commented on #269
Wait, we implemented login using jwt, will passport google auth work ? it is not creating any token so how would it change, and you didn't even export or import your passport file anywhere..

[2021-03-23 08:11] #418 closed

[2021-03-23 08:20] krishna-y2000 commented on #269
Yes , that is the problem about token . In auth file there is token created by using id  and userName which will not work for google oauth as there no property of custom userName in google oauth.

[2021-03-23 08:22] RushanKhan1 commented on #409
Yes please go ahead.

[2021-03-23 08:30] Pranav016 commented on #269
Try searching auth in her then

[2021-03-23 08:40] Pranav016 opened #421 "close-issue.yml not working"
### **Describe the bug**
close-issue.yml not working, please test and fix or make a PR to remove it.

### **To Reproduce**
Steps to reproduce the behavior:
1. Mention an issue in a PR body
2. close the PR

### **Expected behavior**
Corresponding issue should close

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been

[2021-03-23 08:56] krishna-y2000 commented on #269
We can create authentication using password-jwt along with google , facebook oauth and which seems easy and flexible .
[Have a look at this blog](https://medium.com/@rustyonrampage/using-oauth-2-0-along-with-jwt-in-node-express-9e0063d911ed)
i have to re-write the code for it but it seems good . Otherwise i will try to sync the current one if possible. What do you say ?
Also ,it would be good if u

[2021-03-23 12:34] Aayu231 commented on #420
/assign

Hi, I would like to work on this issue. I'm working under G'SoC 2021!

[2021-03-23 13:32] RushanKhan1 commented on #230
@shamadevi Sure, the issue is yours.

[2021-03-23 13:39] RushanKhan1 commented on #249
@ishikalohia @kanchi-22 @mohdjameel2412 @ambivert-sam The website has gone through major frontend changes and I think this issue has been by and large fixed. Hence I'm closing this issue.

[2021-03-23 13:39] #249 closed

[2021-03-23 13:43] RushanKhan1 commented on #259
@ireneelizabethsabu Hey! It has been a long time since you were assigned this issue therefore I am assigning this issue to someone else.

[2021-03-23 13:44] RushanKhan1 commented on #259
@ambivert-sam I am assigning this issue to you, all the best. Please make the pr within the allotted time which is 4 days for a level 2 issue.

[2021-03-23 13:48] RushanKhan1 commented on #265
@Siddharth1006 Hey, did you make any progress? Also, I want to know how do you plan to implement your 1st feature considering that we don't have a user profile page just now?

[2021-03-23 13:53] RushanKhan1 commented on #285
Hey @SpecTEviL, what's the status?

[2021-03-23 14:01] RushanKhan1 commented on #295
The issue has been fixed hence closing it.

[2021-03-23 14:01] #295 closed

[2021-03-23 14:07] RushanKhan1 commented on #308
@ankitaugale23 Did you pull the new changes and are you working on the updated code?

[2021-03-23 14:09] Pranav016 commented on #308
Contact us page already updated, reopen issue if you have more improvement suggestions.

[2021-03-23 14:09] #308 closed

[2021-03-23 14:11] #329 closed

[2021-03-23 14:15] RushanKhan1 commented on #332
@mani9896 Hey, did you pull the new changes, and are you working on this issue with the updated code?

[2021-03-23 14:16] mani9896 commented on #332
@RushanKhan1 yes I have and I am working

[2021-03-23 14:49] AnanyaNegi commented on #386
/level2/

[2021-03-23 14:53] AnanyaNegi commented on #244
Hi @Rimpi246 .It has been 4 days since your last update and I don't see any PR regarding this issue from your side. Is the issue still being worked upon?

[2021-03-23 15:04] Rimpi246 commented on #244
Hello @AnanyaNegi I was facing problems because of  another problem which I have told in discord and @Pranav016 told me to raise it as an issue. I have solved that issue and so working on this issue.. I want a little more time. Thank you

[2021-03-23 16:37] Smriti129 commented on #409
Okay, Thank You. Can I know how many days do I have for the submission?

[2021-03-23 16:38] Abhinaba006 opened #427 "User Edit option"
### Feature request-
A user once created may like to change their user name, email id or password.

### Is your feature request related to a problem? Please describe. (optional)
It is a helpful feature for user.

### Describe the solution you'd like
I will create a another route for editing profile, which will be in the user.route file and change the frontend as necessary to edit a user.

### Desc

[2021-03-23 17:10] nishihere19 commented on #415
Hi, I was setting up the project in my machine. While signing up, I am running into this error. Can anyone please guide me?
![Screenshot from 2021-03-23 22-37-59](https://user-images.githubusercontent.com/63252119/112188140-c1076580-8c28-11eb-9c5b-4d726b324431.png)

Thank You.

[2021-03-23 17:13] hrushikesh-git commented on #315
yes i am working on it my one PR is yet to merge

[2021-03-23 17:16] Abhinaba006 commented on #427
/assign

[2021-03-24 05:20] Ayush0730 commented on #415
Have you set environment variables in a .env file??

[2021-03-24 05:28] nishihere19 commented on #415
There was a typo in my .env, thanks a lot for the guidance.

[2021-03-24 05:57] Ayush0730 commented on #421
I have tried to create an issue and then creating a PR to close an issue in which I have written close #issue_no. Then it worked and closed the issue automatically even without yml file. So, I guess we can remove the file

[2021-03-24 06:22] Ayush0730 commented on #421
Can't we make develop the default branch. Then whenever any PR will be merged mentioning some issue , it will be automatically closed if PR description mentions close #issue_no.

[2021-03-24 06:23] Ayush0730 commented on #421
Then there will be no need of this file

[2021-03-24 06:36] RushanKhan1 commented on #409
This looks like a level 2 issue so you have 4 days to complete it.

[2021-03-24 07:00] Vaibhav-afk commented on #420
@Aayu231 are you still working?

[2021-03-24 07:04] Aayu231 commented on #420
yes I'm working

[2021-03-24 07:05] Vaibhav-afk commented on #420
Okay then

[2021-03-24 07:42] osamamagdy opened #432 "Email Verification"
I am a GSSoC 2021 participant and I would like to work on this issue.

### Feature request-
Adding email verification to the website during sign-up

### Is your feature request related to a problem? Please describe. (optional)

### **Describe the problem**
Users can insert any Random email while signing up for an account not just if it's not their email, but also it can be not an email at all

###

[2021-03-24 07:42] osamamagdy commented on #432
/assign

[2021-03-24 07:44] osamamagdy commented on #432
I just need to know the level of this feature to schedule a timeline for it. @AnanyaNegi @Pranav016 @RushanKhan1

[2021-03-24 07:47] Pranav016 commented on #432
/level2/

[2021-03-24 10:29] kotwani2883 opened #433 "Alignment of Navbar in mobile mode"
### Feature request-
The alignment of navbar elements is not responsive

Below attached is the SS of the same

![WhatsApp Image 2021-03-24 at 15 49 17](https://user-images.githubusercontent.com/56580582/112295256-bd6fef00-8cb9-11eb-95dc-fb02c57423f0.jpeg)

### Describe the solution you'd like
I would like to make the navbar responsive

A would like to improve this under GSSOC '21.Kindly assign thi

[2021-03-24 10:29] kotwani2883 commented on #433
/assign

[2021-03-24 12:52] AnanyaNegi commented on #244
Sure. No problem.

[2021-03-24 16:38] #415 closed

[2021-03-24 16:47] Pranav016 commented on #421
@Ayush0730 No, we can't make develop as our default branch..

[2021-03-24 16:54] #324 closed

[2021-03-24 16:55] #224 closed

[2021-03-24 17:06] #315 closed

[2021-03-24 17:30] Ayush0730 commented on #421
Okay

[2021-03-24 17:31] Ayush0730 commented on #421
I have tried using this close-issue.yml file in my personal repository and it worked. Don't know why it's not working here...

[2021-03-24 17:38] A7abhilash opened #436 "Add /author/:id route"
### Feature request-
This route will take the users to visit other users'(authors) profile.
Its something similar to visiting other user's profile on social media.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Add a new route that fetches all the blogs of the requested aut

[2021-03-24 17:39] A7abhilash commented on #436
/assign

[2021-03-24 19:26] satcasm opened #439 "Links are directing back to home page"
The social media icons used in the home page are redirecting back to the homepage as of now.
I think if appropriate end points are not available currently then these icons should be removed from the home page or if they are available I would like to add them.
Would like to work on it under GSSOC' 21.
I am quite unsure about this issue , so please tell me beforehand if it is unnecessary.
Thanks!

[2021-03-24 19:45] satcasm opened #440 "Making first letter of the heading capital"
I would like to add a function that will take the heading of the post and will return with the first letter of the heading capitalized.
As of now user can enter in lowercase too and that's doesn't looks good in the heading.
Would like to work under GSSOC' 21.
Thanks!

[2021-03-24 19:45] satcasm commented on #440
/assign

[2021-03-25 01:37] A7abhilash opened #442 "Add /dashboard route"
### Feature request-
This route will take the users to visit their profile(Only authenticated ones are they are allowed).
Its something similar to visiting your own profile on social media.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Add a new route that fetches all the

[2021-03-25 01:37] A7abhilash commented on #442
/assign

[2021-03-25 05:53] #436 closed

[2021-03-25 05:54] Pranav016 commented on #442
/gssoc/

[2021-03-25 05:57] Pranav016 commented on #421
Can you make a PR to remove it, it is not working..
I'll figure something out later..

[2021-03-25 05:59] ANSHIKA1806 opened #445 "Update README file"
@Pranav016 @RushanKhan1 @AnanyaNegi
README is the first file one should read when starting a new project. It's a set of useful information about a project, and a kind of manual. A README text file appears in many various places and refers not only to programming. So i want to make your README file more meaningful and more easier to understand the whole project.

[2021-03-25 06:02] A7abhilash opened #446 "Improve UI of reading blogs"
### Feature request-
Improve UI of reading blogs in the route /posts/:postId.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
I shall be using simple bootstrap cards to render the UI which looks minimalistic. The currently displayed contents(blog title, blog content and comm

[2021-03-25 06:05] A7abhilash commented on #446
/assign

[2021-03-25 06:16] A7abhilash opened #447 "Remove displaying the short content from home UI"
### Feature request-
![2021-03-25 (3)](https://user-images.githubusercontent.com/66360717/112427076-03cb5980-8d5f-11eb-87ab-25bd5e803a5d.png)

As you can see, such a UI isn't an attractive one for the users.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
I thought to not to

[2021-03-25 06:16] A7abhilash commented on #447
/assign

[2021-03-25 06:22] ANSHIKA1806 commented on #445
@Pranav016 @RushanKhan1 @AnanyaNegi
please assign this task to me , I would love to contribute to your organization.
thank you.

[2021-03-25 06:24] Ayush0730 commented on #447
Hey, can I work on this issue? I think we should display short content, 3-4 lines and if the user wants to read complete blog, then he/she can click 'Read more'

[2021-03-25 06:26] Ayush0730 commented on #439
I guess they would be adding links later. So we should not remove social icons

[2021-03-25 06:26] Ayush0730 commented on #421
Okay

[2021-03-25 07:50] Ayush0730 opened #450 "Package.json file doesn't contain multer as a dependency"
### **Describe the bug**
Package.json file doesn't contain multer as a dependency, but it is used in index.router

### **To Reproduce**
Steps to reproduce the behavior:
clone the project.

This will throw error. As multer will not be installed automatically

### **Expected behavior**
We should have multer as dependency inpackage.json

### **Screenshots**
If applicable, add screenshots to help expl

[2021-03-25 07:51] Ayush0730 commented on #450
/assign

[2021-03-25 08:41] ipranshujain opened #451 "I have discovered some things that can be added to the read.me file which will be helpful for anyone trying to use the application."
### Feature request-
A clear and concise description of the feature.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative so

[2021-03-25 08:42] ipranshujain commented on #451
/assign

[2021-03-25 09:14] Ayush0730 opened #453 "Post Content not visible"
### Feature request-
Post content is not visible while viewing the post on /posts/:id route

### Is your feature request related to a problem? Please describe. (optional)
If the post is large then the content which is present below is not visible as background and text colour is same (not on the top part, but on bottom part). So this problem occurs when the post is large. In small post content is

[2021-03-25 09:14] Ayush0730 commented on #453
/assign

[2021-03-25 09:17] Ayush0730 commented on #453
What should I do :
#1 : change the color of the text
#2 : put the content inside a container of different background colour.
#3 : Change the background

[2021-03-25 10:48] Abhishekkr93 commented on #439
I would like to contribute as a Gssoc21 participant. could you please assign me this?

[2021-03-25 10:51] Abhishekkr93 commented on #229
I would like to contribute as a Gssoc21 participant. could you please assign me this?

[2021-03-25 11:45] RushanKhan1 commented on #453
@Ayush0730 Since our background is of different colors it would be difficult to achieve an easy-to-read contrast with both dark and light colors so I would recommend you put the content inside a container.

[2021-03-25 11:52] RushanKhan1 commented on #439
Hey @satcasm,
@Ayush0730 is right, currently, the icons in the footer are for aesthetic purposes only.  We might add them later.

[2021-03-25 11:52] #439 closed

[2021-03-25 11:55] RushanKhan1 commented on #330
@simranbhalla3 Hey, are you still working on this issue? What's the status?

[2021-03-25 13:47] kotwani2883 commented on #433
@RushanKhan1 Kindly let me know that the navbar in both the modes is same?
Can I change the complete navbar because neither its responsive nor it is properly assigned with too much code of CSS because using bootstrap we could reduce to a very large extent.

[2021-03-25 14:14] Pranav016 commented on #405
Got a request from someone that their issue is dependent on this one so got the request to ask you to please complete it fast..

[2021-03-25 14:22] SriSarveshA1 commented on #405
@Pranav016  can i solve this issue?

[2021-03-25 14:37] SriSarveshA1 commented on #413
/assign

[2021-03-25 15:09] Rimpi246 commented on #413
The issue is solved. I'll be sending a pr soon

[2021-03-25 15:24] ishikalohia commented on #386
/assign

[2021-03-25 15:44] ambivert-sam commented on #259
Hey @RushanKhan1 you can assign to someone else as I can't devote much time due to my prior commitment, sorry!

[2021-03-25 16:04] A7abhilash commented on #447
Im already ready with the pr, just waiting for my old pr #444  to get merged...

[2021-03-25 16:09] A7abhilash commented on #453
I have already raised the issue (#446 ) and done with it, just waiting for old pr #444  to get merged, then ill be doing the pr for the issue #447 and then ill do the pr for this issue.

[2021-03-25 17:21] #405 closed

[2021-03-25 17:23] #450 closed

[2021-03-25 17:25] #421 closed

[2021-03-25 17:29] #401 closed

[2021-03-25 17:41] #442 closed

[2021-03-25 18:10] Athira2199 opened #459 "Like option only enabled in frontend, subsequent backend implementation missing."
### **Describe the bug**
Currently based on the pull request : [454](https://github.com/ALPHAVIO/BlogSite/pull/454) the like functionality is enabled via frontend, subsequent backend functionality is currently missing. Would like to implement the same.

### **To Reproduce**
Steps to reproduce the behavior:
Please check the pull request [454](https://github.com/ALPHAVIO/BlogSite/pull/454)

### **Ex

[2021-03-25 18:11] Athira2199 commented on #459
/assign

[2021-03-25 18:12] Pranav016 opened #460 "Website is currently down || build failing"

[2021-03-25 18:14] #460 closed

[2021-03-26 00:22] A7abhilash commented on #446
@Pranav016 @RushanKhan1  This issue can be closed because I had already pushed the code for this also in last pr itself (two issues- #442 & #446(this one)).

[2021-03-26 00:47] A7abhilash opened #463 "Adding status field to blogs"
### Feature request-
Adding status field(private/public) to the blogs allows user to keep some blogs in public or private.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
 This allows user to set save their blogs as draft if set to private status. Only public status blogs wi

[2021-03-26 00:47] A7abhilash commented on #463
/assign

[2021-03-26 03:51] #446 closed

[2021-03-26 04:53] Ayush0730 commented on #453
Should I close this issue as @A7abhilash is already done with this...

[2021-03-26 05:58] #453 closed

[2021-03-26 06:09] RushanKhan1 commented on #433
Yes, the navbar for both the modes is same.  The current navbar is already written with bootstrap so maybe you can work on fixing it, that would be better. Or else if you want to create a new navbar from scratch then please make sure to match the color scheme and aesthetics of the old navbar.

[2021-03-26 07:39] Pranav016 opened #466 "Like button should work only for authenticated users"
### Feature request-
Like button should work only for authenticated users

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you should co

[2021-03-26 08:01] aanchalrakheja opened #468 "Seems that one of the recent merge has some syntax error in header.ejs"
![image](https://user-images.githubusercontent.com/68388581/112600695-8a536a00-8e37-11eb-961a-fc069d122263.png)

[2021-03-26 08:17] Pranav016 commented on #468
I think I got the issue, if you already have the setup on your local system, can you check it ?

just make the categories array in `routes/index.router.js` to an object
[code]
try this and let me know if it works..

[2021-03-26 08:22] aanchalrakheja commented on #468
ok will try and revert back

[2021-03-26 08:27] aanchalrakheja commented on #468
no it isn't working. Shouldn't the object contain a key value.

[2021-03-26 08:27] Pranav016 commented on #468
Try these changes and let me know, these would be easier
![image](https://user-images.githubusercontent.com/54665036/112603606-3cd8fc00-8e3b-11eb-8107-c75ad24ce06b.png)

[2021-03-26 08:30] aanchalrakheja commented on #468
still giving the same error

[2021-03-26 08:41] jyotsana3108 commented on #466
/assign I am part of GSSOC-21. I want to work on this issue. Can you please assign this issue to me?

[2021-03-26 08:45] jyotsana3108 commented on #466
Okay. thanks.

[2021-03-26 08:55] Pranav016 commented on #468
I think the one I sent above should work fine because `categories` will be the key and `categories` array is then added as a value for that key.
I might not be able to test and solve it on my system till evening. @AnanyaNegi @RushanKhan1 if you guys have the project setup, can solve the issue..

[2021-03-26 09:08] AnanyaNegi commented on #229
it has been assigned to you. You can start working. All the best.

[2021-03-26 09:14] Abhishekkr93 commented on #229
Thanks for update!

[2021-03-26 11:44] krishna-y2000 commented on #432
@osamamagdy  hii , please ping me at ```kyadav #6342``` at discord when you start this work . I am also working on the same issue on another project.

[2021-03-26 12:34] krishna-y2000 opened #473 "Add the sender email feature and add a relevant or welcome message with it to user."
### Feature request-
Adding the sender mail in nodemailer function to send message from admin and adding relevant message.

Please assign this to me as part of gssoc participant and also add level tag.

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can com

[2021-03-26 12:35] krishna-y2000 commented on #473
/assign

[2021-03-26 12:42] A7abhilash opened #474 "Updating /dashboard"
### Feature request-
Update the dashboard UI that displays blogs with respect to their status.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Currently the dashboard UI displays all the blogs. So once the status field has been added to the blogs, will distinguish the blogs

[2021-03-26 12:43] A7abhilash commented on #474
/assign

[2021-03-26 13:31] RushanKhan1 commented on #468
I tested branch ``issue-#468`` and it works just fine on my system.

[2021-03-26 13:50] #373 closed

[2021-03-26 13:53] RushanKhan1 commented on #382
Hey @tanya070820, are you still working on this issue?

[2021-03-26 13:56] RushanKhan1 commented on #317
@vismitap Hey, what's the status?

[2021-03-26 14:01] vismitap commented on #317
Hey sorry! I was busy with exams and submissions so could not get time. Please allow me 1 more day. Will fix this by tomorrow! 😅

[2021-03-26 14:15] Sandi-09 commented on #259
can i work on this issue

[2021-03-26 14:26] Mus2413 commented on #259
Hello, I am Gssoc'21 participant . I would like to contribute on this project. Could you please assign me this issue.

[2021-03-26 17:02] Ayush0730 opened #478 "Add Flash Messages"
### Feature request-
We should show relevant flash messages whenever one of the following happens:
1. New User Sign Up -> Welcome message
2. User Logs in -> Login Succesfull
3. User Posts a Blog/ deletes a blog -> Posted Succesfully/ post deleted
4. User Comments on a post/deletes a comment -> comment added/ comment deleted

### Is your feature request related to a problem? Please describe. (optio

[2021-03-26 17:03] Ayush0730 commented on #478
/assign

[2021-03-26 18:52] Pranav016 commented on #468
Thank for testing it 👍 , @aanchalrakheja should I close this issue ?
I think this error is exclusive to your system.
But just to be sure I'll still check it later whenever I get time.

[2021-03-26 18:52] #468 closed

[2021-03-26 18:55] #420 closed

[2021-03-26 19:13] #445 closed

[2021-03-27 05:20] A7abhilash opened #482 "Add sneak peek"
### Feature request-
Displaying short sneak peek of 100 characters on blog cards followed by a read more button

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear an

[2021-03-27 05:20] A7abhilash commented on #482
/assign

[2021-03-27 05:54] Aayu231 commented on #259
Hi, I would like to work on this issue under GSoC'21.

/assign

[2021-03-27 06:43] RushanKhan1 commented on #259
@Sandi-09 Sure, I am assigning this issue to you. You have 4 days to complete it. All the best!

[2021-03-27 11:03] Pranav016 commented on #230
functionality is already there..

[2021-03-27 11:03] #230 closed

[2021-03-27 11:19] #447 closed

[2021-03-27 13:17] #259 closed

[2021-03-27 14:28] #294 closed

[2021-03-27 14:29] Pranav016 commented on #296
raise new issue for changes required, since a lot of changes have happened since this issue was raised..

[2021-03-27 14:29] #296 closed

[2021-03-27 15:35] Arshanshagarwal opened #483 "Misaligned page number component"
### **Describe the bug**

The Page number bar at the end of the main page is misaligned. It is not centered and aligned a bit towards the left.

### **Expected behavior**

The Page number option can be aesthetically improved and can be aligned properly to the center of the window

### **Screenshots**

![Capture](https://user-images.githubusercontent.com/50940817/112725739-b823d600-8f3f-11eb-8e69-b

[2021-03-27 15:36] Arshanshagarwal commented on #483
/assign

[2021-03-27 16:44] #433 closed

[2021-03-27 21:51] Pranav016 opened #485 "Image issue while posting blog"
### **Describe the bug**
* Blog doesn't get posted unless I attach an image. If I don't attach image then it gives `internal server error`.
![image](https://user-images.githubusercontent.com/54665036/112735689-ed4a1b80-8f73-11eb-85ab-a717ec9fb856.png)
![image](https://user-images.githubusercontent.com/54665036/112735784-005ceb80-8f74-11eb-898e-99754cefa0b3.png)

* When I do attach an image it does

[2021-03-27 21:54] Pranav016 opened #486 "Logout button disappears while editing a post"
### **Describe the bug**
Even when I am logged in and I click on edit on my post, logout button disappears and login and signup show. After I have finished editing, logout button comes back.

### **To Reproduce**
Steps to reproduce the behavior:
1. Login
2. post a blog
3. try to edit it
4. See error

### **Expected behavior**
Logout button shouldn't disappear

### **Screenshots**
![image](https://

[2021-03-27 21:56] Pranav016 opened #487 "Likes counter"
### Feature request-
Like the comments counter, add a likes counter to each post

### Describe how this feature will be useful to our readers.
Improves user experience and motivates bloggers to post more.

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can

[2021-03-27 22:12] Pranav016 opened #488 "Remove repeated scripts to improve load time"
### **Describe the issue**
* Some scripts are present in header as well as footer.ejs. Remove the repeated ones and and place all the script tags in footer.ejs, this will help site to load faster.
* these body, head and html closing tags shouldn't be there in header.ejs, remove them
![image](https://user-images.githubusercontent.com/54665036/112736264-6434e380-8f77-11eb-8dac-dd59dc8f53c7.png)

* C

[2021-03-27 22:17] Pranav016 opened #489 "Dots in wrong line"
### **Describe the bug**
These dots that are supposed to come after characters appear to come in the next line. Needs to be fixed
![image](https://user-images.githubusercontent.com/54665036/112736369-2be1d500-8f78-11eb-98f8-4793b5560de4.png)

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **I

[2021-03-27 22:18] #489 closed

[2021-03-27 22:26] Pranav016 opened #491 "Center align for mobile and tablet view"
### Feature request-
Center align this for mobile and tablet view
![image](https://user-images.githubusercontent.com/54665036/112736540-816ab180-8f79-11eb-9f24-fbe23d4b2f90.png)

<hr/>

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get th

[2021-03-27 22:27] #407 closed

[2021-03-27 22:29] Pranav016 opened #492 "Navbar toggle not working || Mobile view"
### **Describe the bug**
Navbar toggle not working || Mobile view

**Note:**
* Do mention if your are working under GSSoC'21.
* If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
* If you are raising a new issue and want to work on it then also you should comment `/assign`

[2021-03-28 03:59] Ayush0730 commented on #491
/assign

[2021-03-28 04:00] Ayush0730 commented on #487
/assign

[2021-03-28 04:03] Ayush0730 commented on #485
Yes, I checked this and found that image is not saved in the database. That's why it's not showing

[2021-03-28 04:48] tanishq-arya commented on #492
I am self assigning this issue under gssoc.
/assign

[2021-03-28 04:48] tanishq-arya commented on #492
/assign

[2021-03-28 05:06] priyanshu20 commented on #485
/assign

[2021-03-28 05:09] innovation-platform commented on #488
I would like to work on this issue under GSSoC'21

[2021-03-28 05:09] innovation-platform commented on #488
/assign

[2021-03-28 06:28] tanishq-arya commented on #492
@Pranav016 Hey. I checked everything on my end I think there is an issue with the bootstrap js file. If we change the version back to 4.3.1 then the navbar works fine. If you have any other suggestions please let me know.

[2021-03-28 06:31] priyanshu20 commented on #485
Even after saving in the database it is not showing, the ejs template does not have a section for the image.

[2021-03-28 06:50] Ayush0730 commented on #485
Yes, you have to create a section for it too

[2021-03-28 09:20] priyanshu20 commented on #486
/assign

[2021-03-28 10:19] #486 closed

[2021-03-28 10:35] #482 closed

[2021-03-28 13:03] AnanyaNegi commented on #244
@Rimpi246  status?

[2021-03-28 13:11] AnanyaNegi commented on #254
Hi, @AakankshaShah the rating/like feature is being handled in a different issue. However, if you would like to contribute to the sharing feature, I can assign this Issue to you.

[2021-03-28 13:15] #325 closed

[2021-03-28 13:20] #330 closed

[2021-03-28 13:21] AnanyaNegi commented on #342
@ainy-123 are you still working on the issue?

[2021-03-28 13:24] AnanyaNegi commented on #382
@tanya070820 if you are still willing to work on this issue, do respond here. Otherwise we have to assign it to the next person.

[2021-03-28 13:32] #485 closed

[2021-03-28 13:34] Pranav016 commented on #492
Can suggest a fix with the latest bootstrap versions ? We need a long term solution

[2021-03-28 13:36] AnanyaNegi commented on #409
Hey, @Smriti129 are you still working on this issue?

[2021-03-28 13:37] #221 closed

[2021-03-28 14:12] aniketlodh commented on #244
Hi @Rimpi246, are you still working on this issue?

[2021-03-28 14:13] vismitap commented on #317
@Pranav016 @RushanKhan1 I am very confused about the project and its deployment actually.
1) I had contributed to this project earlier also. I had added the like feature which was merged but now it is nowhere to be seen. There's a new issue to add the likes counter.
2) The view of the website for me after pulling the latest changes is this (old design dark mode in localhost):
![image](https://user

[2021-03-28 14:18] Pranav016 commented on #317
When your like feature was merged or some other PR that was merged along with it had bugs and caused website to crash so I reverted the commits..

[2021-03-28 14:20] Pranav016 commented on #317
I think this is a very old issue, we had a new theme added to the website after this.
Closing issue, reopen or re-raise if required

[2021-03-28 14:20] Pranav016 commented on #317
I think this is a very old issue, we had a new theme added to the website after this.
Closing issue, reopen or re-raise if required

[2021-03-28 14:20] #317 closed

[2021-03-28 14:21] vismitap commented on #317
Okay but now I have pulled the latest code, still not able to view the new design on localhost. Please help me with this!

[2021-03-28 14:22] Pranav016 commented on #317
Should work fine if you pulled it from master.

 your remote might not be set correctly. Maybe you are pulling from forked repo

[2021-03-28 14:23] #427 closed

[2021-03-28 14:33] Pranav016 opened #497 "Add instructions in README for lock file version 2"
### Feature request-
A lot of PRs are changing package-lock.json file mainly because their system has older npm. Add instructions to README such that everybody can check their npm version and upgrade it for lock file version 2 to maintain consistency.

People with lock file version 1 remove some data from package-lock whereas those with version 2 add some data..
Links- https://nodejs.org/en/downlo

[2021-03-28 15:43] RituCs commented on #497
Hello, I would like to contribute on this issue under GSSoC'21. Please assign me.

[2021-03-28 15:46] RituCs commented on #497
/assign

[2021-03-28 17:23] Ayush0730 commented on #487
Should I also show number of likes here :
![image](https://user-images.githubusercontent.com/68139755/112761307-508d8980-9018-11eb-9232-46f7e2327048.png)
near the number of comments

[2021-03-28 17:29] Sandi-09 opened #500 "To provide a padding between login and sign up button"
### Feature request-
A clear and concise description of the feature.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.
Provide appropriate margin and padding in the nav var

### Describe alternatives you've considered

[2021-03-28 17:30] Sandi-09 commented on #500
Assign this to me ill work on it

[2021-03-28 17:30] Ayush0730 opened #502 "Add some space between login and signup buttons"
### Feature request-
Login and signup buttons don't have any space between them. Add Some space between

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
Add some margin or padding

### Describe alternatives you've considered
A clear and concise description of any alternative